<!-- <div class="page__cover page__section page__section_centered">
    <div class="page__cover-inner desktop-banner"
        style="background-color: rgb(32, 32, 32); transform: translateY(0px);"></div>
    <div class="page__cover-inner mobile-banner" style="background-color: rgb(32, 32, 32); transform: translateY(0px);">
    </div>
    <div class="page__container">
        <h1 class="page__title">TECH TESTIMONIALS</h1>
    </div>
</div> -->
<!-- <div class="breadcrumb__yellow__banner d-none">
    <h1>TECH TESTIMONIALS</h1>
</div> -->

<ng-container *ngIf="!loading;else Loader">
    <div class="banner__container">
        <div class="banner__content">
            <h1>TECH TESTIMONIALS</h1>
            <p>Select your product</p>
            <div class="tech__tabs__container">
                <div class="form__group">
                    <div class="form__control">
                        <select class="w-100" (change)="updateProductFilter($event)"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="productFilter">
                            <option value="null" disabled>Select category</option>
                            <option *ngFor="let testimonial of testimonials" [value]="testimonial.id">
                                {{testimonial.display_value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__control">
                        <select class="w-100" (change)="updateProductVarient($event)">
                            <option value="null" disabled>Select product</option>
                            <option *ngFor="let product of currentTestimonial.products" [value]="product.id">
                                {{product.display_value}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="wpb_column vc_column_container vc_col-sm-6" *ngFor="let obj of paginatedTestimonials;let i = index">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element  vc_custom_1643340962550"
                        style="margin-bottom: 8px;">
                        <div class="wpb_wrapper tes__description">
                            <p>{{obj.description}}</p>

                        </div>
                    </div>
                    <div
                        class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_black vc_custom_1601664164113  vc_custom_1601664164113">
                        <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span
                            class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                    </div>
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html" style="text-align: center;">
                        <div class="wpb_wrapper">
                            <div class="text-center-img">
                                <div *ngIf="!obj.playVideo" class="youtube__fake__img__wrapper"
                                    (click)="playVideo(obj)">
                                    <img [src]="obj.youtube_thumb_image" style="width: 90%;height: 300px;"
                                        [alt]="'youtube thumbnail ' + (i + 1)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.43em" height="1em"
                                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 180">
                                        <path fill="red"
                                            d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134Z" />
                                        <path fill="#FFF" d="m102.421 128.06l66.328-38.418l-66.328-38.418z" />
                                    </svg>
                                </div>
                                <iframe *ngIf="obj.playVideo" style="width: 90%;height: 300px;"
                                    [src]="getVideoLink(obj.youtube_url)" title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="width:80%;margin: 20px auto;">
        <div *ngIf="totalPagesinTen?.length == 0" class="text-center" style="text-align: center;margin: 16px 0;">No
            Records
            Found!</div>
        <div class="pagination" *ngIf="totalTestimonialsCount > 10">
            <a (click)="getPaginatedTestimonials(params.page - 1)" *ngIf="params.page > 1">&laquo;</a>
            <a [ngClass]="{'active': params.page == i + 1}" *ngFor="let e of totalPagesinTen;let i = index"
                (click)="getPaginatedTestimonials(i+1)">{{i+1}}</a>
            <a (click)="getPaginatedTestimonials(params.page + 1)"
                *ngIf="params.page < totalPagesinTen.length">&raquo;</a>
        </div>
    </div>
</ng-container>

<ng-template #Loader>
    <!-- <app-loader></app-loader> -->

    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</ng-template>