.container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px 70px;
    margin-top: 2.5rem;
}

.vc_row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

p {
    border-bottom: 1px solid #2a2a2a;
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.page__section{
    min-height: 50vh;
}

.page__cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #202020;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.page__section_centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.page__container {
    width: 100%;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.page__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
    }
    iframe{
        width: 100% !important;
    }
}