<marquee *ngIf="currentRoute == '/'" class="dummy" onmouseover="this.stop();" onmouseout="this.start();">
    <a routerLink="/v/75A6H">New Launch - Delight 4k Series A6H is here.</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/c/laser-tv">NOW AVAILABLE THE 120 INCH HISENSE
        <img src="https://hisense-apis.bloginguru.com/media/pages/home/laser-tv-marquee.webp" 
        alt="Laser TV Logo"> IN INDIA.
    </a>
</marquee>

<app-header [ngClass]="{'m-top-45':currentRoute == '/'}" [top]="currentRoute == '/'"></app-header>
<router-outlet></router-outlet>
<footer>
    <app-social-links-footer></app-social-links-footer>
    <app-footer></app-footer>
    <app-links-footer></app-links-footer>
</footer>