<div class="bottom-links-container">
    <a class="icon-region" href="https://global.hisense.com/regional">International, English</a>
    <ul class="bottom-links">
        <li><a href="https://global.hisense.com/legal-disclaimer">Legal Disclaimer</a></li>
        <li><a href="https://global.hisense.com/Cookies-Policy">Cookies Policy</a></li>
        <li><a href="https://global.hisense.com/privacy-policy">Privacy Policy</a></li>
        <li><a href="https://global.hisense.com/hisense-sitemap">Sitemap</a></li>
        <li class="copyright">© Hisense International 2022</li>
    </ul>
</div>