<div class="breadcrumb__yellow__banner">
    <h1>Warranty Information</h1>
</div>
<!-- <div class="card is-loading">
    <div class="image"></div>
    <div class="content">
        <h2></h2>
        <p></p>
    </div>
</div> -->

<div class="page__container">

    <div class="flex tabs__container">
        <div class="tabs">
            <div class="list-group flex-row">
                <a class="list-group-item list-group-item-action" *ngFor="let tab of tabs"
                    [ngClass]="{'active': tab  == currentMainTab}" (click)="changeMainTab(tab)">{{tab}}</a>
            </div>
        </div>
    </div>

    <div *ngIf="currentMainTab == 'Television'" class="container" [ngClass]="{'card is-loading': isImageLoading}">
        <div class="col1 tabs">
            <div class="list-group" id="themeslist">
                <a class="list-group-item list-group-item-action" *ngFor="let obj of metaData;let i = index"
                    [ngClass]="{'active': obj.start_date_formatted  == currentTab}"
                    (click)="changeTab(obj)">{{obj.start_date_formatted }}</a>
            </div>
        </div>
        <div class="col2 image" style="max-width: 800px">
            <img (load)="imageLoaded()" *ngIf="currentImg" [src]="currentImg" alt="Warranty Information" />
        </div>
    </div>

    <div *ngIf="currentMainTab == 'Air Conditioner'" class="container ac__section__tabs">
        <div class="col1 tabs">
            <div class="list-group" id="themeslist">
                <a class="list-group-item list-group-item-action" *ngFor="let tab of ACSectionLeftTabs;let i = index"
                    [ngClass]="{'active': tab  == currentAcSectionTab}" (click)="currentAcSectionTab = tab">{{tab}}</a>
            </div>
        </div>
        <div class="col2" style="max-width: 800px">
            <ng-container *ngIf="currentAcSectionTab == 'Inverter expert'">
                <div class="my-3 mb-5">
                    <b>Warranty</b> - 1 Years Comprehensive & 10 Years on Compressor
                </div>
                <div class="my-3">
                    <b>Models</b> - <small>AS-12TW4RMRKA00, AS-12TW4RYRKA01B, AS-18TW4RGSKA00, AS-18TW4RXSKA00,
                        AS-22TR4RBBTV00</small>
                </div>
                <div class="my-3">
                    <b>Terms</b>
                    <ul style="margin-left: 20px;">
                        <li>1-year comprehensive warranty and 10-year compressor warranty is on below models for
                            Residential
                            use</li>
                        <li>1-year comprehensive warranty on functional parts, Gas Charging & labour (for Repairs or
                            replacements
                            except plastic parts like grill, louvers. Etc, of the air conditioner for a period of 60
                            months
                            from the
                            date of purchase)</li>
                        <li>5 years warranty on PCB and 10 years on compressor is for only PCB and compressor failure.
                            Rest
                            any other
                            work if required/labour charges shall be applicable.</li>
                        <li>This warranty is for Domestic customers only and not applicable for commercial use.</li>
                        <li>Regular Service is to be done by Hisense Authorised service partner only to ensure longevity
                            of
                            the
                            product and claiming warranties.</li>
                        <li>Regular Service is to be done by Hisense Authorised service partner only to ensure longevity
                            of the product and claiming warranties.</li>
                        <li>
                            The warranty will be void in case the Air conditioner is:
                            <ul class="nested__ul">
                                <li>Improperly installed by a third party, repaired by unauthorized personnel, modified,
                                    improper usage, or
                                    due to faulty electric supply/connection, Voltage fluctuations, etc.</li>
                                <li>Damage is caused by accident, fire, or misuse</li>
                                <li>The original serial numbers are removed, destroyed, or altered from the air
                                    conditioner.
                                </li>
                                <li>Product used for Commercial Purpose</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </ng-container>

            <ng-container *ngIf="currentAcSectionTab == 'Intelligent inverter'">
                <div class="my-3 mb-5">
                    <b>Warranty</b> - <small>5 Years Comprehensive & 10 Years on Compressor</small>
                </div>
                <div class="my-3">
                    <b>Models</b> - <small>AS-12TC4RAM0, AS-12TC5RAM0, AS-18TC4RAM0, AS-18TC5RAM0</small>
                </div>
                <div class="my-3">
                    <b>Terms</b>
                    <ul style="margin-left: 20px;">
                        <li>5-year comprehensive warranty and 10-year compressor warranty is on below models for
                            Residential use</li>
                        <li>5-year comprehensive warranty on functional parts, Gas Charging & labour (for Repairs or
                            replacements except plastic parts like grill, louvers. Etc, of the air conditioner for a
                            period of 60 months from the date of purchase)</li>
                        <li>5 years warranty on PCB and 10 years on compressor is for only PCB and compressor failure.
                            Rest any other work if required/labour charges shall be applicable.</li>
                        <li>This warranty is for Domestic customers only and not applicable for commercial use.</li>
                        <li>Regular Service is to be done by Hisense Authorised service partner only to ensure longevity
                            of the product and claiming warranties.</li>
                        <li>
                            The warranty will be void in case the Air conditioner is:
                            <ul class="nested__ul">
                                <li>Improperly installed by a third party, repaired by unauthorized personnel, modified,
                                    improper usage, or due to faulty electric supply/connection, Voltage fluctuations,
                                    etc.</li>
                                <li>Damage is caused by accident, fire or misuse</li>
                                <li>The original serial numbers are removed, destroyed, or altered from the air
                                    conditioner.</li>
                                <li>Product used for Commercial Purpose</li>
                            </ul>
                        </li>
                        <li>5-year comprehensive warranty on functional parts, Gas Charging & labour (for Repairs or
                            replacements except plastic parts like grill, louvers. Etc, of the air conditioner for a
                            period of 60 months from the date of purchase)</li>
                        <li>This additional warranty does not entitle for product replacement in case of any delay in
                            repairs. In case Hisense is not able to repair and make the product functional due to
                            non-availability of parts, Hisense shall replace the customer with new equivalent model as
                            replacement after charging an additional amount of 25% per year of the purchased value for
                            each year after expiry of 1 year of standard warranty</li>
                        <li>From 2nd year until 5th year, customers shall register with Hisense for 2 Preventive
                            Maintenance Service every 6 months which will be carried out by Authorized service partner.
                            Standard labour charges towards carrying out this Maintenance will have to be borne by the
                            customer as per rate prevailing at that point of time. The same is required to ensure proper
                            functioning of the machine and to enjoy the benefit of a 4-year extended warranty on parts,
                            labour & gas.</li>
                        <li>
                            The extended warranty will be void in case the Air conditioner is:
                            <ul class="nested__ul">
                                <li>Improperly installed by a third party, repaired by unauthorized personnel, modified,
                                    improper usage, or due to faulty electric supply/connection, Voltage fluctuations,
                                    etc.</li>
                                <li>Damage is caused by accident, fire or misuse</li>
                                <li>The original serial numbers are removed, destroyed, or altered from the air
                                    conditioner.</li>
                                <li>The preventive maintenance from 2nd year to 5th year is not carried out by Hisense
                                    Authorized service centre.</li>
                            </ul>
                        </li>
                        <li>This additional warranty is not transferable in case the unit is sold by the original
                            purchaser to someone else</li>
                    </ul>
                </div>
            </ng-container>

            <ng-container *ngIf="currentAcSectionTab == 'Intellipro and cooling xpert'">
                <div class="my-3 mb-5">
                    <b>Warranty</b> - <small>1 Years Comprehensive & 10 Years on Compressor </small>
                </div>
                <div class="my-3">
                    <b>Models</b> - <small>ATC353HIB, ATCW355HJP, ATC503HIB, ATCW515HJP, ATCW623HJP</small>
                </div>
                <div class="my-3">
                    <b>Terms</b>
                    <ul style="margin-left: 20px;">
                        <li>1-year comprehensive warranty and 10-year compressor warranty is on below models for
                            Residential use</li>
                        <li>1-year comprehensive warranty on functional parts, Gas Charging & labour (for Repairs or
                            replacements except plastic parts like grill, louvers. Etc, of the air conditioner for a
                            period of 60 months from the date of purchase)</li>
                        <li>5 years warranty on PCB and 10 years on compressor is for only PCB and compressor failure.
                            Rest any other work if required/labour charges shall be applicable.</li>
                        <li>This warranty is for Domestic customers only and not applicable for commercial use.</li>
                        <li>Regular Service is to be done by Hisense Authorised service partner only to ensure longevity
                            of the product and claiming warranties.</li>
                        <li>
                            The warranty will be void in case the Air conditioner is:
                            <ul class="nested__ul">
                                <li>Improperly installed by a third party, repaired by unauthorized personnel, modified,
                                    improper usage, or due to faulty electric supply/connection, Voltage fluctuations,
                                    etc.</li>
                                <li>Damage is caused by accident, fire or misuse</li>
                                <li>The original serial numbers are removed, destroyed, or altered from the air
                                    conditioner.</li>
                                <li>Product used for Commercial Purpose</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </ng-container>

            <!-- <h1 *ngIf="ACTermsMetaData?.heading">{{ACTermsMetaData.heading}}</h1> -->
            <!-- <ng-container *ngIf="currentAcSectionTab == 'Air Conditioner T & C'">
                <h2 class="mt-3" *ngIf="ACTermsMetaData?.sub_heading">{{ACTermsMetaData?.sub_heading}}</h2>
                <h3 *ngIf="ACTermsMetaData?.date_range">({{ACTermsMetaData?.date_range}})</h3>

                <img *ngIf="ACTermsMetaData?.content_image_full_url"
                        [src]="ACTermsMetaData?.content_image_full_url" alt="content image"/>

                <div class="terms__and__conditions__context__text">
                        <div style="word-break:break-all;" *ngIf="ACTermsMetaData?.content_text"
                                [innerHTML]="ACTermsMetaData?.content_text"></div>
                </div>
        </ng-container> -->

        </div>
    </div>
</div>