<div class="breadcrumb__yellow__banner">
    <h1>Warranty Information</h1>
</div>
<!-- <div class="card is-loading">
    <div class="image"></div>
    <div class="content">
        <h2></h2>
        <p></p>
    </div>
</div> -->

<div class="container" [ngClass]="{'card is-loading': isImageLoading}">
    <div class="col1 tabs">
        <div class="list-group" id="themeslist">
            <a class="list-group-item list-group-item-action" *ngFor="let obj of metaData"
                [ngClass]="{'active': obj.start_date_formatted  == currentTab}"
                (click)="changeTab(obj)">{{obj.start_date_formatted }}</a>
        </div>
    </div>
    <div class="col2 image" style="max-width: 800px">
        <img (load)="imageLoaded()" *ngIf="currentImg" [src]="currentImg" />
    </div>
</div>