<div class="container">
    <div class="col1">
        <div class="list-group" id="themeslist">
            <a class="list-group-item list-group-item-action" *ngFor="let obj of metaData"
            [ngClass]="{'active': obj.tab == currentTab}" (click)="changeTab(obj)">{{obj.tab}}</a>
        </div>
    </div>
    <div class="col2">
        <img *ngIf="currentImg" [src]="currentImg" />
    </div>
</div>


<!-- <div class="tab">
    <button class="tablinks active" onclick="openCity(event, '5august')" id="defaultOpen">5th August 2022</button>
    <button class="tablinks" onclick="openCity(event, '23july')" id="defaultOpen">23rd July 2022</button>
    <button class="tablinks" onclick="openCity(event, '1dec')" id="defaultOpen">1st Dec 2021</button>
    <button class="tablinks" onclick="openCity(event, '18nov')" id="defaultOpen">18th Nov 2021</button>
    <button class="tablinks" onclick="openCity(event, '26july')" id="defaultOpen">23rd July 2021</button>
    <button class="tablinks" onclick="openCity(event, '10july')" id="defaultOpen">10th July 2021</button>
    <button class="tablinks" onclick="openCity(event, 'India')" id="defaultOpen">12th June 2021</button>
    <button class="tablinks" onclick="openCity(event, 'UK')">1st May 2021</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">1st January 2021</button>
    <button class="tablinks" onclick="openCity(event, 'London')">10th September 2020</button>
</div> -->