<ng-container *ngIf="!show404">
<div class="product">
    <div class="product__head product__head_ui_black " id="overview">
        <div class="product__heade__image" style="position: relative;">
            <div class="carousel" *ngIf="metaData?.slider_images.length">
                <div class="carousel-container">
                    <div class="carousel-images" [ngStyle]="{'transform':position}">
                        <div style="padding-bottom: 50px;" class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" *ngFor="let slide of metaData?.slider_images">
                                    <img style="max-height: 30vh;" class="carousel-image current-image" [src]="slide?.full_url" alt="image">
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__head-text-column" [ngClass]="{'mt-200': showFlag }">
            <div class="product__head-description">{{metaData?.name}}</div>
            <div class="product__head-title" style="margin-bottom:0px!important;">{{metaData?.code}}</div>
            <div class="product__head-description">{{metaData?.short_description}}</div>
            <div class="product__head-buttons" style="display: flex;flex-wrap: wrap;gap: 6px;">
                <a [href]="link?.purchase_link" target="_blank"
                    *ngFor="let link of metaData?.product_variant_purchase_links">
                    <img class="purchase__link__image" [src]="getVendorImage(link.vendor)" [ngClass]="[link.vendor]">
                </a>
            </div>
        </div>
    </div>
    <div class="product__body">
        <section>
            <div class="row" *ngFor="let obj of metaData?.product?.description_images">
                <div class="product__block">
                    <img class="product__full-image" [src]="obj.full_url">
                </div>
            </div>
        </section>
    </div>
</div>
</ng-container>

<ng-container *ngIf="show404">
    <app-not-found></app-not-found>
</ng-container>