<div class="breadcrumb__yellow__banner">
    <h1>About Hisense</h1>
</div>
<div class="about-sections">
    <section id="tab_1" class="about-sec two-tiles clearfix">
        <div class="left">
            <div class="padding">
                <h2>Our Mission</h2>
                <div class="overview-scroll">
                    <p>Hisense’s Mission is <em>to deliver an enhanced customer experience that exceeds expectations
                            with every product we sell.</em></p>
                    <p>Right from our cutting-edge technology, superior performance, elegant and sophisticated design,
                        enduring reliability, to the most trusted retail partners in the industry, nothing is ever
                        compromised.</p>
                    <p>Step off the beaten paths, choose Hisense, where innovation meets value.</p>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="https://hisenseme.com/hisense_content/uploads/2014/11/about-img1.jpg" alt="Our Mission">
        </div>
    </section>
    <section id="tab_2" class="over-fixed two-tiles reverse">
        <div class="cp-sec">
            <h2>Corporate Profile</h2>
            <p>Founded in 1969, Hisense is one of the largest consumer electronics and home appliances company in the
                world. Hisense offers a broad range of technology driven products that are manufactured and distributed
                across the world including smart TVs, smart phones, refrigerators, freezers, and air conditioners, among
                other products. Hisense has a workforce of over 70000 worldwide and its flat-panel TV market share in
                China has been No.1 for 13 consecutive years. Currently, Hisense boasts several subsidiaries, with sales
                revenue reaching CNY 100.3 billion in 2016.</p>
            <p>Around the world, Hisense has built 18 overseas companies which are located in North America, Europe,
                Australia, Africa, the Middle East and Asia-Pacific. Hisense has 3 overseas production bases in South
                Africa, Czech and Mexico. Additionally, Hisense has 7 overseas R&amp;D centers to strengthen key
                technologies and create leading-edge products constantly. Hisense’s products are sold in more than 130
                countries and regions around the world. In addition, Hisense has strategic partnerships with trusted
                global corporations such as IBM, Hitachi for the development and marketing of various products and
                services.</p>
            <p>Part of Hisense’s international strategy has been to actively engage in sports marketing to raise brand
                awareness. Over the years, Hisense has sponsored major sporting events and teams like: UEFA’s Euro 2016,
                the Australian Open, NASCAR Xfinity Series, Red Bull Racing, Joe Gibbs Racing, and Germany’s FC Schalke
                04. In 2017, Hisense announced its status as an official sponsor of the 2018 FIFA World Cup, becoming
                the first-ever Chinese consumer electronics brand to sponsor the tournament.</p>
            <p>“Technology, Quality, Integrity, and Responsibility” are the four key elements of Hisense. Over the
                years, Hisense has developed energy-saving products that are more eco-friendly and has supported many
                primary schools in underdeveloped and disaster-impacted regions throughout China and across the world.
                Pursuing healthy operations, top quality, and honesty, Hisense has won the respect and loyalty of our
                business partners.</p>
            <div class="two-videos">
                <a href="https://www.youtube.com/embed/hEzT1237w2k?feature=oembed" class="fancybox-media">
                    <img src="https://hisenseme.com/hisense_content/uploads/2014/11/video1.jpg" alt="Corporate Profile 1">
                    <span class="play-btn"></span>
                </a>
                <a href="https://hisenseme.com/wp-content/themes/hisense-theme/img/Summary_final_1.mp4"
                    class="fancybox-media">
                    <img src="https://hisenseme.com/hisense_content/uploads/2014/11/video2.jpg" alt="Corporate Profile 2">
                    <span class="play-btn"></span>
                </a>
            </div>
            <div class="clr"></div>
            <div class="counters">
                <div class="counter"><span class="counter-value">130</span>
                    <p class="counter-description">Countries</p>
                </div>
                <div class="counter"><span class="counter-value">18</span>
                    <p class="counter-description">Overseas Companies</p>
                </div>
                <div class="counter"><span class="counter-value">7</span>
                    <p class="counter-description">Overseas R&amp;D Centers</p>
                </div>
                <div class="counter"><span class="counter-value">3</span>
                    <p class="counter-description">Overseas Production Bases</p>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="tab_3" class="about-sec two-tiles clearfix">
        <div class="left">
            <img src="https://hisenseme.com/hisense_content/uploads/2014/11/about-img-1-1170x960.jpg"
                class="attachment-about-thumb size-about-thumb wp-post-image" alt="">
        </div>
        <div class="right">
            <div class="padding">
                <h2>Overview of Hisense India</h2>
                <div class="overview-scroll">
                    <p>Hisense ME office was set-up in late 2012 in the UAE. Following a humble beginning, with limited
                        infrastructure and manpower resources, Hisense ME is consistently growing since its inception.
                    </p>
                    <p>Within just a few years, Hisense ME has achieved remarkable growth in the region and has
                        blossomed into a multi-million-dollar business by –</p>
                    <ul>
                        <li>expanding its regional footprint year on year,</li>
                        <li>successfully creating high demand for its world class products,</li>
                        <li>working closely with leading distribution companies, as well as forming strong alliances
                            with powerful regional channels like Sharaf DG, Carrefour, E-max, Lulu, Plug-ins, etc.</li>
                    </ul>
                    <p>Hisense ME has successfully expanded its operations across 13 countries in the Middle East.</p>
                    <p>Hisense ME’s business strategy is based on the simple concept of ‘<em>Creating Meaningful Value
                            Proposition</em>’ for the consumers. Offering high quality, most advanced and exceedingly
                        competitive products, at an affordable and truly value for money price, i.e. Upgrading
                        lifestyles, through affordable luxury.</p>
                    <p>Our team at HME is enthusiastic and dedicated to consistently building a strong brand image in
                        the region and is aimed to gain a spot amongst the TOP 3 consumer electronic brands in the near
                        future. Hisense ME is poised to achieve bigger business milestones through well designed and
                        defined initiatives in the areas of regional expansion, brand building and channel penetration.
                    </p>
                </div>
            </div>
        </div>
    </section> -->
    <section id="tab_4" class="core-business-sec over-fixed">
        <div class=" cd-content-container">
            <h2>Hisense’s Core Business Domains</h2>
        </div>
        <div class="cd-visuals-content cd-content-container" style="display: flex;flex-wrap: wrap;">
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/core-business-img1.jpg" alt="Multimedia industry"
                    class="m-bottom-25">
                <h4>Multimedia&nbsp;industry</h4>
                <ul>
                    <li>TV</li>
                    <li>Tablet&nbsp;PC (I’TV)</li>
                    <li>Set-top Box</li>
                    <li>Chip</li>
                    <li>Module</li>
                    <li>Media&nbsp;network</li>
                </ul>
            </div>
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/core-business-img2.jpg" alt="Home appliance industry"
                    class="m-bottom-25">
                <h4>Home appliance&nbsp;industry</h4>
                <ul>
                    <li>Refrigerator</li>
                    <li>Residential&nbsp;air- conditioning</li>
                    <li>Commercial air conditioning</li>
                    <li>Washing machine</li>
                    <li>Freezer</li>
                </ul>
            </div>
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/core-business-img3.jpg" alt="Communication industry"
                    class="m-bottom-25">
                <h4>Communication&nbsp;industry</h4>
                <ul>
                    <li>Smart&nbsp;phone</li>
                    <li>Optical communication</li>
                </ul>
            </div>
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/core-business-img4.jpg" alt="Intelligent information systems"
                    class="m-bottom-25">
                <h4>Intelligent&nbsp;information systems</h4>
                <ul>
                    <li>Intelligent transportation</li>
                    <li>Intelligent</li>
                    <li>commercial</li>
                    <li>system</li>
                </ul>
            </div>
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/core-business-img5.jpg" alt="Modern real estate and service"
                    class="m-bottom-25">
                <h4>Modern&nbsp;real estate&nbsp;and&nbsp;service</h4>
                <ul>
                    <li>Real Estate</li>
                    <li>Development</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="tab_5" class="about-sec clearfix">
        <div class="right">
            <img src="https://hisenseme.com/hisense_content/uploads/2014/11/about-img2.jpg" alt="RESEARCH AND DEVELOPMENT">
        </div>
        <div class="left">
            <div class="padding">
                <h2>RESEARCH AND DEVELOPMENT</h2>
                <div class="overview-scroll">
                    <p>Hisense’s R&amp;D team, which consists of a strong global R&amp;D talent and experienced
                        international management, played a vital role in accelerating the expansion of Hisense and has
                        formed several diverse sectors over the years. This includes: multimedia, home appliances,
                        communications, intelligent information systems, modern real estate based on multimedia
                        technology, intelligence information technology, modern communications technology, energy-saving
                        technology, intelligent transportation systems, fibre optics, digital medical systems and laser
                        cast technology.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-sec two-tiles clearfix">
        <div class="left">
            <div class="padding">
                <div class="overview-scroll">
                    <div class="cd-half">
                        <h2>Smart TV</h2>
                        <ul>
                            <li><span class="dummy">Atlanta&nbsp;&nbsp;R&amp;D Center</span> High-end Smart TVs in US
                            </li>
                            <li><span class="dummy">Canada R&amp;D Center</span>&nbsp;VIDAA TV</li>
                            <li><span class="dummy">Europe &nbsp;R&amp;D Center</span>&nbsp;European TV Market</li>
                        </ul>
                    </div>
                    <div class="cd-half">
                        <h2>Hiview Chip</h2>
                        <ul>
                            <li><span class="dummy">Silicon Valley&nbsp;R&amp;D Center</span> Design of Hiview Chips
                            </li>
                        </ul>
                        <h2>Smart Phone</h2>
                        <ul>
                            <li><span class="dummy">San Diego&nbsp;R&amp;D Center</span> Telecommunications</li>
                        </ul>
                    </div>
                    <div class="clr">&nbsp;</div>
                    <div class="cd-half">
                        <h2>Optical Communications</h2>
                        <ul>
                            <li><span class="dummy">Los Angeles and New Jersey R&amp;D&nbsp;Centers</span> Core
                                Competitiveness of Optical Communications</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="https://hisenseme.com/hisense_content/uploads/2014/11/about-img3.jpg" alt="Smart TV">
        </div>
    </section>
    <section id="tab_6" class="rewards-and-recognitions clearfix">
        <div class="cd-visuals-content cd-content-container">
            <h2>AWARDS &amp; RECOGNITIONS</h2>
        </div>
        <div class="cd-visuals-content cd-content-container">
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/awards-img1.jpg" alt="Hisense ULED TV"
                    class="m-bottom-25">
                <div class="bottom-info">
                    <h4>Hisense ULED TV</h4>
                    <p>Annual Display Tech Gold Award”</p>
                </div>
            </div>
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/awards-img2.jpg" alt="Hisense 4K Laser Cast TV"
                    class="m-bottom-25">
                <div class="bottom-info">
                    <h4>Hisense 4K Laser Cast TV</h4>
                    <p>"Global Display Tech Gold Award of the year"</p>
                </div>
            </div>
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/awards-img3.jpg" alt="The Best Global Image Award"
                    class="m-bottom-25">
                <div class="bottom-info">
                    <h4>The Best Global Image Award</h4>
                </div>
            </div>
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/awards-img4.jpg" alt="Hisense ULED TV"
                    class="m-bottom-25">
                <div class="bottom-info">
                    <h4>Hisense ULED TV</h4>
                    <p>Annual Display Tech Gold Award”</p>
                </div>
            </div>
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/awards-img5.jpg" alt="Hisense Laser Cast"
                    class="m-bottom-25">
                <div class="bottom-info">
                    <h4>Hisense Laser Cast</h4>
                    <p>"Global Innovation Award for Best Future TV"</p>
                </div>
            </div>
            <div class="cd-single-visual">
                <img src="https://hisenseme.com/hisense_content/uploads/2014/11/awards-img6.jpg" alt="2016 iF DESIGN AWARD"
                    class="m-bottom-25">
                <div class="bottom-info">
                    <h4>2016 iF DESIGN AWARD</h4>
                    <p>2016 iF DESIGN AWARD (Product)-Classified Washer 2016 iF DESIGN AWARD (Communication)-Hisense
                        Smart Butler 2016 iF DESIGN AWARD (Interior Architecture)-Laser Cast </p>
                </div>
            </div>
        </div>
    </section>

    <section id="tab_7" class="about-sec clearfix">
        <div class="left">
            <img src="https://hisenseme.com/hisense_content/uploads/2014/11/corporate-social-img.jpg" alt="CORPORATE SOCIAL RESPONSIBILITY">
        </div>
        <div class="right">
            <div class="padding">
                <h2>CORPORATE SOCIAL RESPONSIBILITY</h2>
                <div class="overview-scroll">
                    <p>Hisense has always been deeply concerned with social responsibility. Over the years, the company
                        has made numerous contributions to the charitable organizations and educational institutions
                        across the globe.</p>
                    <p>In recognition for its contributions, Hisense has won the honour of being China’s
                        <strong><em>Most Respected Company</em></strong> five times. Also, Hisense has won China’s
                        <strong><em>Best Public Image</em></strong> award six times.
                    </p>
                    <p>Pursuing healthy operations, top quality products and honesty have won the respect and loyalty of
                        our business partners. Hisense will continue to do its best towards improving humanity.</p>
                    <div class="row">
                        <div class="half">
                            <img src="https://hisenseme.com/hisense_content/uploads/2014/11/corp-img1.jpg" alt="corp 1">
                            <ul>
                                <li>In May 2014, Hisense donated TVs, smartphones and other devices to the UNESCO.</li>
                            </ul>
                        </div>
                        <div class="half">
                            <img src="https://hisenseme.com/hisense_content/uploads/2014/11/corp-img2.jpg" alt="corp 2">
                            <ul>
                                <li>From 2013 to 2016, Hisense and UNEP cooperated to promote sustainable development.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="tab_9" class="products-has-padding over-fixed capacity clearfix">
        <h2>Capacity</h2>
        <div class="info">
        </div>
        <div class="map-image"><a href="https://hisenseme.com/hisense_content/uploads/2014/11/map-large.jpg"
                class="fancybox"><img src="https://hisenseme.com/hisense_content/uploads/2014/11/map.jpg" alt="Capacity"></a>
        </div>
    </section>
</div>