<div class="footer-links-container">
  <div class="footer-links">
    
    <ul class="col" *ngFor="let menu of navLinks">
      <li class="row" [ngClass]="{'show':menu.row}" style="max-height: 58px;">
        <a (click)="menu.row = menu.row ? false : true" class="accordion-toggle"></a>
        <dl>
          <dt><a [routerLink]="menu.url">{{menu.text}}</a></dt>
          <dd *ngFor="let subMenu of menu['sub-menu']"><a [routerLink]="subMenu.url">{{subMenu.text}}</a></dd>
        </dl>
      </li>
    </ul>
    
    <ul class="col">
      <li class="row" style="max-height: 58px;" [ngClass]="{'show':row1}">
        <a class="accordion-toggle" (click)="row1 = !row1"></a>
        <dl>
          <dt><a routerLink="/about-us" target="" rel="">About Hisense </a></dt>
          <dd><a routerLink="/about-us" target="" rel="">About Us</a></dd>
          <dd><a routerLink="/press-coverages" target="" rel="">Press Coverages</a></dd>
          <dd><a routerLink="/tech-testimonials" target="" rel="">Tech Testimonials</a></dd>
          <dd><a routerLink="/offers-promotions" target="" rel="">Offers/Promotions</a></dd>
          <dd><a routerLink="/contest-terms-and-conditions/" target="" rel="">Contest Terms And Conditions</a></dd>
          <dd><a routerLink="/treasure-hunt/" target="" rel="">Tricolour Treasure Hunt</a></dd>
        </dl>
      </li>
      <li class="row" style="max-height: 58px;" [ngClass]="{'show':row2}">
        <a class="accordion-toggle" (click)="row2 = !row2"></a>
        <dl>
          <dt><a routerLink="/contact-us" target="" rel="">Support</a></dt>
          <dd><a routerLink="/contact-us" target="" rel="">Contact Us </a></dd>
          <!-- <dd><a href="https://global.hisense.com/support/customer-center/" target="" rel="">Customer Center</a></dd> -->
        </dl>
      </li>
    </ul>
  </div>
</div>

<!-- <ul class="col">
      <li class="row" [ngClass]="{'show':row1}" style="max-height: 58px;">
        <a (click)="row1 = !row1" class="accordion-toggle" href="javascript:;"></a>
        <dl>
          <dt><a href="https://global.hisense.com/tv-series" target="" rel="">TV &amp; Audio</a></dt>
          <dd><a href="https://global.hisense.com/tv-series" target="" rel="">TV</a></dd>
          <dd><a href="https://global.hisense.com/soundbar-series" target="" rel="">Soundbar</a></dd>
        </dl>
      </li>
      <li class="row" style="max-height: 58px;"><a class="accordion-toggle" href="javascript:;"></a>
        <dl>
          <dt><a href="https://global.hisense.com/laser-tv-series" target="" rel="">Laser TV</a></dt>
          <dd><a href="https://global.hisense.com/laser-tv-series" target="" rel="">Laser TV</a></dd>
          <dd><a href="https://global.hisense.com/laser-cinema" target="" rel="">Laser Cinema</a></dd>
        </dl>
      </li>
    </ul> -->


<!-- <ul class="col">
  <li class="row" style="max-height: 58px;"><a class="accordion-toggle" href="javascript:;"></a>
    <dl>
      <dt><a href="https://global.hisense.com/smartphone-series" target="" rel="">Mobile</a></dt>
      <dd><a href="https://global.hisense.com/smartphone-series" target="" rel="">Smartphone</a></dd>
    </dl>
  </li>
  <li class="row" style="max-height: 58px;"><a class="accordion-toggle" href="javascript:;"></a>
    <dl>
      <dt><a href="https://commercial-display.hisense.com/" target="_blank" rel="">B2B</a></dt>
      <dd><a href="https://commercial-display.hisense.com/" target="_blank" rel="">Commercial Display</a></dd>
      <dd><a href="http://medical.hisense.com/" target="_blank" rel="">Medical</a></dd>
      <dd><a href="http://www.hisense-transtech.com/" target="_blank" rel="">Transtech</a></dd>
      <dd><a href="http://www.hisensehvac.com/" target="_blank" rel="">HVAC</a></dd>
    </dl>
  </li>
</ul> -->