.f-24 {
    font-size: 36px;
}

.countdown__wrapper {
    margin-top: -10px;
    padding: 48px;
    background-color: #B30007;
    color: white;
}

.countdown__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.count__container {
    display: flex;
    gap: 5rem;
    text-align: center;
    margin-top: 36px;
    align-items: center;
}

svg {
    fill: #E60009 !important;
}

.count {
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .count__container {
        gap: 1rem;
    }

    .count {
        font-size: 16px;
    }

    .f-24 {
        font-size: 24px;
    }

    .category {
        font-size: 12px;
    }

    .d-sm-none {
        display: none;
    }
}

.groups {
    background-color: #F3F3F3;
    padding: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}

.card {
    background-color: #00b3ac;
    color: white;
    border-radius: 12px;
    padding-top: 16px;
    text-align: center;

    .card__heading {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .card__body {
        background-color: white;
        color: black;
        border-radius: 12px;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        padding: 16px;

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            white-space: nowrap;
        }
    }
}

@media screen and (max-width: 1100px) {
    .groups {
        img {
            width: 36px;
            height: 24px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .groups {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .groups {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 520px) {
    .groups {
        grid-template-columns: 1fr;
    }
}

.date__picker {
    background-color: #fff;
    .wrapper {
        width: 80%;
        margin: 0px auto;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 2rem;

        h3 {
            font-size: 36px;
        }

        input {
            width: 200px;
            margin: auto;
            padding: 8px 16px;
            font-size: 15px;
            // font-weight: bold;
            border: 1px solid #00b3ac;
            border-radius: 6px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            overflow-x: auto;
            // display: block;
            min-width: 500px;
            width: 60%;
            margin: auto;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .telephone{
                color: #00b3ac !important;
            }

            tr{
                width: 100%;
                // border: none !important;
                &:last-child {
                    border-bottom: 3px solid #00b3ac;
                }
            }
        }


        td,
        th {
            border-bottom: 0.5px solid #ccc !important;
            border-top: 0.5px solid #ccc !important;
            text-align: left !important;
            padding: 8px 24px !important;
            white-space: nowrap !important;
        }
        
        th {
            font-size: 14px;
            font-weight: bold;
            color: white;
            border-top: none !important;
        }
    }
}

@media screen and (max-width:576px) {
    .date__picker{
        .wrapper{
            width: 70%;
            table {
                // width: 60%;
                overflow-x: auto;
                display: block;
                margin: auto;
                min-width: auto;
    
                tr{
                    width: 100%;
                }
            }
        }
    }
}