.f-24 {
    font-size: 36px;
}

.countdown__wrapper {
    margin-top: -10px;
    padding: 48px;
    background-color: #B30007;
    color: white;
}

.countdown__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.count__container {
    display: flex;
    gap: 5rem;
    text-align: center;
    margin-top: 36px;
    align-items: center;
}

svg {
    fill: #E60009 !important;
}

.count {
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .count__container {
        gap: 1rem;
    }

    .count {
        font-size: 16px;
    }

    .f-24 {
        font-size: 24px;
    }

    .category {
        font-size: 12px;
    }

    .d-sm-none {
        display: none;
    }
}

.groups {
    background-color: #F3F3F3;
    padding: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}

.card {
    background-color: #00AAA6;
    color: white;
    border-radius: 12px;
    padding-top: 16px;
    text-align: center;

    .card__heading {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .card__body {
        background-color: white;
        color: black;
        border-radius: 12px;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        padding: 16px;

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            white-space: nowrap;
        }
    }
}

@media screen and (max-width: 1100px) {
    .groups {
        img {
            width: 36px;
            height: 24px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .groups {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .groups {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 520px) {
    .groups {
        grid-template-columns: 1fr;
    }
}

.date__picker {
    background-color: #fff;
    .wrapper {
        width: 80%;
        margin: 0px auto;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 2rem;

        h3 {
            font-size: 36px;
        }

        input {
            width: 200px;
            margin: auto;
            padding: 8px 16px;
            font-size: 15px;
            // font-weight: bold;
            border: 1px solid #00AAA6;
            border-radius: 6px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            overflow-x: auto;
            // display: block;
            min-width: 500px;
            width: 60%;
            margin: auto;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .telephone{
                color: #00AAA6 !important;
            }

            tr{
                width: 100%;
                // border: none !important;
                &:last-child {
                    border-bottom: 3px solid #00AAA6;
                }
            }
        }


        td,
        th {
            border-bottom: 0.5px solid #ccc !important;
            border-top: 0.5px solid #ccc !important;
            text-align: left !important;
            padding: 8px 24px !important;
            white-space: nowrap !important;
        }
        
        th {
            font-size: 14px;
            font-weight: bold;
            color: white;
            border-top: none !important;
        }
    }
}

@media screen and (max-width:576px) {
    .date__picker{
        .wrapper{
            width: 70%;
            table {
                // width: 60%;
                overflow-x: auto;
                display: block;
                margin: auto;
                min-width: auto;
    
                tr{
                    width: 100%;
                }
            }
        }
    }
}


.ls-bg {
    cursor: pointer;
}

.swiper-pagination{
    bottom: 0px !important;
}

.swiper-pagination-bullet {
    color: #09cbc6 !important;
    border: none !important;
    width: 10px !important;
    height: 10px !important;
    outline: none !important;
    margin: 7px !important;
    border-radius: 50% !important;
    background: transparent !important;
    border: 2px solid #09cbc6 !important;
    transition: background-color 500ms !important;
    cursor: pointer !important;

    &::before {
        display: none !important;
    }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #00AAA6 !important;
}

.fifa__tabs__container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 16px 0;
    .tabs{
        // background: #eae9e9;
        border-radius: 50px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .list-group {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        gap: 16px;
        a {
            padding: 0.75rem 1.25rem;
            margin-bottom: -1px;
            background-color: #fff;
            white-space: nowrap;
            border: 1.2px solid #09cbc6;
            border-radius: 16px;
        }
        .active {
            color: #fff;
            // background-color: #2FA4E7 !important;
            background-color: #00AAA6 !important;
            border-color: #00AAA6 !important;
        }
    }
}


@media screen and (max-width: 768px) {
    .fifa__tabs__container{
        .tabs{
            padding: 12px;
        }
        .list-group {
            gap: 12px;
            a {
                padding: 0.75rem 1rem;
                border: 1.2px solid #09cbc6;
                border-radius: 16px;
            }
        }
    }
}