<div class="page__wrapper">
    <h1>Wheel of Fortune</h1>
    <h3>Try your luck by participating below</h3>
    <div class="spinner__wrapper">
        <div class="icon" (click)="spin()">
            <div class="absolute spin-btn-wrap">
                <button type="button"
                    class="aha-button spinner-wheel-spin-button spin-btn aha-button-xs aha-button-primary">
                    <svg width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg" name="play"
                        class="path-fill-current inline-block" viewBox="0 0 22 24">
                        <path
                            d="M19.669 10.385L6.199 2.257c-1.094-.66-2.77-.02-2.77 1.613v16.253c0 1.465 1.557 2.348 2.77 1.613l13.47-8.124c1.201-.723 1.205-2.504 0-3.227z"
                            fill="#fff"></path>
                    </svg>
                </button>
            </div>
        </div>
        <ng-container *ngIf="width && height">
            <ngx-wheel Roulette [width]="width" [height]="height" [spinDuration]="8" [items]="items" [innerRadius]="20"
                [spinAmount]="10" [textOrientation]="textOrientation" [textAlignment]="textAlignment"
                pointerStrokeColor="white" [pointerFillColor]="'rgba(59,130,246,0.5)'" [idToLandOn]="idToLandOn"
                (onSpinStart)="before()" (onSpinComplete)="after()">
            </ngx-wheel>
        </ng-container>
    </div>
</div>

<audio #myaudio id="myAudio">
    <source src="../../../assets/audio/mixkit-fantasy-game-success-notification-270.wav" type="audio/ogg">
    Your browser does not support the audio element.
</audio>