<!-- <div class="video-container">
    <div class="content">
        <h3>
            <p><strong style="color: #00B3AC;">Hisense</strong> OFFICIAL SPONSOR of</p>
            <p>FIFA WORLD CUP 2022™</p>
        </h3>
        <a class="btn-video"
            href="https://global.hisense.com/dam/jcr:a542d1bc-72dc-4744-b96c-9e1b18925f62/FIFA-Partnership-Annoucement-Video.mp4">See the
            Video</a>
    </div>
    <div class="banner">
        <img class="lazy desktop-only entered exited loaded"
            data-src="/dam/jcr:6e6d6237-82cc-40e2-b314-09206abb38ba/Hisense-UEFA-Euro-Cup-2020.jpg"
            alt="Hisense FIFA WORLD CUP 2022" data-ll-status="loaded"
            src="https://global.hisense.com/dam/jcr:6e6d6237-82cc-40e2-b314-09206abb38ba/Hisense-UEFA-Euro-Cup-2020.jpg">
        <img class="lazy mobile-only entered loaded"
            data-src="/dam/jcr:5792efd0-dd2e-4079-a9d5-965a3c3cd7b0/Hisense-UEFA-Euro-Cup-2020-m.jpg"
            alt="Hisense FIFA WORLD CUP 2022" data-ll-status="loaded"
            src="https://global.hisense.com/dam/jcr:5792efd0-dd2e-4079-a9d5-965a3c3cd7b0/Hisense-UEFA-Euro-Cup-2020-m.jpg">
    </div>
</div> -->

<!-- <div class="d-none" >
    <div class="mfp-bg video-lightbox mfp-ready"></div>
    <div class="mfp-wrap mfp-auto-cursor video-lightbox mfp-ready" tabindex="-1" style="overflow: hidden auto;"><div class="mfp-container mfp-s-ready mfp-inline-holder"><div class="mfp-content"><div class="video-wrap">
        <video autoplay="" controls="" data-gtm-vis-recent-on-screen-40828030_19="17125808" data-gtm-vis-first-on-screen-40828030_19="17125808" data-gtm-vis-total-visible-time-40828030_19="15000" data-gtm-vis-has-fired-40828030_19="1">
            <source src="https://global.hisense.com/dam/jcr:a542d1bc-72dc-4744-b96c-9e1b18925f62/FIFA-Partnership-Annoucement-Video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <button type="button" class="close">Close</button></div><div class="mfp-preloader">Loading...</div></div></div>
</div> -->
<div class="video-container">
    <div class="content">
        <h3>
            <p><strong>Hisense</strong> OFFICIAL SPONSOR of</p>

            <p>FIFA WORLD CUP 2022™</p>
        </h3>
        <!-- href="https://global.hisense.com/dam/jcr:a542d1bc-72dc-4744-b96c-9e1b18925f62/FIFA-Partnership-Annoucement-Video.mp4">See -->
        <a class="btn-video" (click)="playVideo = true">
            the Video</a>
    </div>
    <div class="banner">
        <img class="lazy desktop-only"
            data-src="/dam/jcr:6e6d6237-82cc-40e2-b314-09206abb38ba/Hisense-UEFA-Euro-Cup-2020.jpg"
            alt="Hisense FIFA WORLD CUP 2022"
            src="https://global.hisense.com/dam/jcr:6e6d6237-82cc-40e2-b314-09206abb38ba/Hisense-UEFA-Euro-Cup-2020.jpg">
        <img class="lazy mobile-only"
            data-src="/dam/jcr:5792efd0-dd2e-4079-a9d5-965a3c3cd7b0/Hisense-UEFA-Euro-Cup-2020-m.jpg"
            alt="Hisense FIFA WORLD CUP 2022"
            src="https://global.hisense.com/dam/jcr:5792efd0-dd2e-4079-a9d5-965a3c3cd7b0/Hisense-UEFA-Euro-Cup-2020-m.jpg">
    </div>
</div>



<ng-container *ngIf="playVideo">
    <div class="mfp-bg video-lightbox mfp-ready"></div>
    <div class="mfp-wrap mfp-auto-cursor video-lightbox mfp-ready" tabindex="-1" style="overflow: hidden auto;">
        <div class="mfp-container mfp-s-ready mfp-inline-holder">
            <div class="mfp-content">
                <div class="video-wrap">
                    <video autoplay controls>
                        <source
                            src="https://global.hisense.com/dam/jcr:a542d1bc-72dc-4744-b96c-9e1b18925f62/FIFA-Partnership-Annoucement-Video.mp4"
                            type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <button type="button" class="close" (click)="playVideo = false">Close</button>
            </div>
            <div class="mfp-preloader">Loading...</div>
        </div>
    </div>
</ng-container>