<div class="video-container about-container">
    <div>
        <div class="content">
            <h3>
                <p><strong>Hisense</strong> OFFICIAL SPONSOR of</p>

                <p>FIFA WORLD CUP 2022™</p>
            </h3>
            <a class="btn-video" (click)="playVideo = true">
                Play Video</a>
        </div>
        <div class="banner">
            <img class="lazy desktop-only" alt="Hisense FIFA WORLD CUP 2022" [src]="image1">
            <img class="lazy mobile-only" alt="Hisense FIFA WORLD CUP 2022" [src]="image2">
        </div>
    </div>
</div>
<div class="video-container about-container" style="padding-top: 0 !important;">
    <iframe width="100%" height="700" src="https://www.youtube.com/embed/_9TaqD7SW68" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<!-- <div class="video-container">
    <div>
        <div class="content">
            <h3>
            </h3>
            <a class="btn-video" (click)="playVideo1 = true">
                Play Video</a>
        </div>
        <div class="banner">
            <img class="lazy" alt="Hisense AC" [src]="image3">
        </div>
    </div>
</div> -->



<ng-container *ngIf="playVideo">
    <div class="mfp-bg video-lightbox mfp-ready"></div>
    <div class="mfp-wrap mfp-auto-cursor video-lightbox mfp-ready" tabindex="-1" style="overflow: hidden auto;">
        <div class="mfp-container mfp-s-ready mfp-inline-holder">
            <div class="mfp-content">
                <div class="video-wrap">
                    <video autoplay controls>
                        <source [src]="video1" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <button type="button" class="close" (click)="playVideo = false">Close</button>
            </div>
            <div class="mfp-preloader">Loading...</div>
        </div>
    </div>
</ng-container>

<!-- <ng-container *ngIf="playVideo1">
    <div class="mfp-bg video-lightbox mfp-ready"></div>
    <div class="mfp-wrap mfp-auto-cursor video-lightbox mfp-ready" tabindex="-1" style="overflow: hidden auto;">
        <div class="mfp-container mfp-s-ready mfp-inline-holder">
            <div class="mfp-content">
                <div class="video-wrap">
                    <video autoplay controls>
                        <source src="assets/home_page/hisense-opt-14.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <button type="button" class="close" (click)="playVideo1 = false">Close</button>
            </div>
            <div class="mfp-preloader">Loading...</div>
        </div>
    </div>
</ng-container> -->