// .mfp-bg {
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1042;
//     overflow: hidden;
//     position: fixed;
//     background: #fff;
//     opacity: 1;
// }

// .mfp-wrap {
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1043;
//     position: fixed;
//     outline: none !important;
//     -webkit-backface-visibility: hidden;
// }

// .mfp-wrap {
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1043;
//     position: fixed;
//     outline: none !important;
//     -webkit-backface-visibility: hidden;
// }

// .mfp-bg.mfp-ready.video-lightbox {
//     background-color: rgba(0, 0, 0, 0.5) !important;
// }

// .mfp-wrap.mfp-ready {
//     opacity: 1;
//     overflow: hidden auto;
// }

// .video-lightbox .mfp-inline-holder {
//     padding-left: 15px;
//     padding-right: 15px;
// }

// .mfp-container {
//     text-align: center;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     left: 0;
//     top: 0;
//     padding: 0 8px;
//     box-sizing: border-box;
// }

// .mfp-wrap {
//     pointer-events: none;
// }

// .mfp-container:before {
//     content: '';
//     display: inline-block;
//     height: 100%;
//     vertical-align: middle;
// }

// .video-lightbox .mfp-inline-holder .mfp-content {
//     width: auto;
//     pointer-events: auto;
//     height: 90%;
// }

// .video-lightbox .video-wrap {
//     position: relative;
//     margin: 0 auto;
//     width: 100%;
//     max-width: 1182px;
// }

// .video-lightbox .video-wrap video {
//     display: block;
//     width: 100%;
//     height: auto;
// }

// .d-none {
//     display: none;
// }

// .video-container {
//     position: relative;
//     margin-bottom: 10px;
// }

// .video-container .content {
//     position: absolute;
//     left: 20%;
//     top: 10%;
//     z-index: 10;
//     width: 60%;
//     height: 80%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .video-container .content h3 {
//     color: #FFF;
//     font-weight: bold;
//     line-height: 120%;
//     margin-bottom: 90px;
//     text-align: center;
//     text-transform: uppercase;
//     width: 100%;
//     font-size: 32px;
// }

// .video-container .content a.btn-video {
//     display: block;
//     font-size: 16px;
//     color: #1D1D1F;
//     padding: 18px 45px 18px 70px;
//     background: url(https://global.hisense.com/.resources/webresources/images/common/icon-play.svg) 20px 12px #fff no-repeat;
//     -webkit-border-radius: 30px;
//     -moz-border-radius: 30px;
//     -ms-border-radius: 30px;
//     border-radius: 30px;
//     -webkit-transition: all 0.4s ease-out;
//     -moz-transition: all 0.4s ease-out;
//     -o-transition: all 0.4s ease-out;
//     -ms-transition: all 0.4s ease-out;
//     transition: all 0.4s ease-out;
// }

// @media screen and (min-width: 1023px) {
//     .video-container .content h3 {
//         font-size: calc(32px + 30 * ((100vw - 1023px) / 417));
//     }
// }

.video-container {
    position: relative;
    margin-bottom: 10px;
}
.video-container .content {
    position: absolute;
    left: 20%;
    top: 10%;
    z-index: 10;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .video-container .content {
        left: 5%;
        width: 90%;
    }
}
.video-container .content h3 {
    color: #fff;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 90px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.video-container .content h3 {
    font-size: 32px;
}
@media screen and (min-width: 1023px) {
    .video-container .content h3 {
        font-size: calc(32px + 30 * ((100vw - 1023px) / 417));
    }
}
@media screen and (min-width: 1440px) {
    .video-container .content h3 {
        font-size: 62px;
    }
}
@media (max-width: 767px) {
    .video-container .content h3 {
        font-size: 32px;
        margin-bottom: 50px;
    }
}
.video-container .content h3 strong {
    color: #00AAA6;
}
.video-container .content a.btn-video {
    display: block;
    font-size: 16px;
    color: #1d1d1f;
    padding: 18px 45px 18px 70px;
    background: url("../../../assets/play.svg") 20px 12px #fff no-repeat;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.video-container .content a.btn-video:hover {
    background-color: #ddd;
}
.video-container .banner img {
    display: block;
    width: 100%;
    height: auto;
}

.video {
    position: relative;
    overflow: hidden;
    background: #202020;
    width: 100%;
    height: 100%;
}

.video {
    height: auto !important;
}

.video__element {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    background-size: cover;
    transition: 1s opacity;
    position: relative;
}

.video .video__element {
    width: 100%;
    margin: 0;
}

.about-container{
    padding-bottom: 8px !important;
    padding-top: 32px !important;
}