.card {
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

.card .card-action {
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    position: relative;
    padding: 16px 24px;
}

.support__container {
    display: flex;
    margin: 20px 0;
    gap: 20px;
    width: 80%;
    margin: 32px auto;
    flex: 1 1 33.33%;
    justify-content: center;

    p {
        white-space: nowrap;
        text-align: center;
    }

    .actions {
        display: flex;
        justify-content: center;
        padding: 16px;

        a {
            padding: 8px;
        }
    }

    img {
        min-height: 250px;
        max-height: 250px;
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 768px) {
    .support__container {
        flex: 1 1 100%;
        flex-wrap: wrap;
    }
}
