<section class="page">
    <div class="breadcrumb__yellow__banner">
        <h1>Support</h1>
    </div>

    <div class="row support__container">
        <div>
            <div class="card">
                <div class="card-image">
                    <img src="assets/t_and_c.png">
                </div>
                <div class="card-content">
                    <p>Terms and conditions</p>
                </div>
                <div class="actions">
                    <a class="btn-hisense-v2" routerLink="/terms-and-conditions">More Details</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-image">
                    <img src="assets/support.png">
                </div>
                <div class="card-content">
                    <p>Contact us</p>
                </div>
                <div class="actions">
                    <a class="btn-hisense-v2" routerLink="/contact-us">More Details</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-image">
                    <img src="assets/offers.png">
                </div>
                <div class="card-content">
                    <p>Warranty Information</p>
                </div>
                <div class="actions">
                    <a class="btn-hisense-v2" routerLink="/warranty-information">More Details</a>
                </div>
            </div>
        </div>
    </div>
</section>