<!-- <div *ngIf="currentStep != 4" [ngClass]="{'step__3':currentStep == 3}" class="bg-image"></div> -->
<div class="page-wrapper card"
    [ngClass]="{'is-loading': imageLoading,'height-auto thakyou__step': currentStep == 4,'step__3':currentStep == 3}">
    <img class="landing__imag" *ngIf="currentStep != 4" src="assets/fifa-2022-bg.webp" (load)="imageLoaded()" alt="spin the wheel banner">
    <!-- <div class="page__heading" *ngIf="currentStep == 4">
        <h2>Congratulations!</h2>
        <h3 *ngIf="thankYouMessage">{{thankYouMessage}}</h3>
        <p>Please Share this page on social media</p>
    </div> -->
    <ng-container *ngIf="currentStep == 1">
        <form [formGroup]="signupForm">
            <div class="form__blur"></div>
            <div class="container">
                <h2>Register Now</h2>
                <p>Please fill the form to create an account.</p>
                <hr>

                <div class="form__control">
                    <label for="name"><b>Name</b><span class="text-danger">*</span></label>
                    <input type="text" placeholder="Enter Name" name="name" id="name" formControlName="name">
                    <div class="text-danger" *ngIf="isSignupFormSubmitted && signupForm.controls['name'].errors">
                        <span *ngIf="signupForm.controls['name'].errors['required']">Name is required!</span>
                        <span *ngIf="signupForm.controls['name'].errors['pattern']">Name can only contain
                            alphabets!</span>
                    </div>
                </div>

                <div class="form__control">
                    <label for="email"><b>Email</b><span class="text-danger">*</span></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" formControlName="email">
                    <div class="text-danger" *ngIf="isSignupFormSubmitted && signupForm.controls['email'].errors">
                        <span *ngIf="signupForm.controls['email'].errors['required']">Email is required!</span>
                        <span *ngIf="signupForm.controls['email'].errors['email']">Enter a valid email!</span>
                    </div>
                </div>

                <div class="form__control">
                    <label for="phone"><b>Phone</b><span class="text-danger">*</span></label>
                    <input type="text" placeholder="Enter Phone Number" name="phone" formControlName="phone">
                    <div class="text-danger" *ngIf="isSignupFormSubmitted && signupForm.controls['phone'].errors">
                        <span *ngIf="signupForm.controls['phone'].errors['required']">Phone Number is
                            required!</span>
                        <span *ngIf="signupForm.controls['phone'].errors['minlength']">Phone Number can only contain
                            10
                            digits!</span>
                        <span *ngIf="signupForm.controls['phone'].errors['maxlength']">Phone Number can only contain
                            10
                            digits!</span>
                        <span *ngIf="signupForm.controls['phone'].errors['pattern']">Phone Number can only contain
                            digits!</span>
                    </div>
                </div>

                <div class="form__control">
                    <label for="pincode"><b>Pincode</b><span class="text-danger">*</span></label>
                    <input type="text" placeholder="Enter Pincode" name="pincode" id="pincode"
                        formControlName="zipcode">
                    <div class="text-danger" *ngIf="isSignupFormSubmitted && signupForm.controls['zipcode'].errors">
                        <span *ngIf="signupForm.controls['zipcode'].errors['required']">Pincode is required!</span>
                    </div>
                </div>

                <div class="clearfix">
                    <button type="button" class="submit__btn" (click)="onSubmit()">
                        <span>Next</span>
                        <span *ngIf="signupLoading" class="loader"></span>
                    </button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="currentStep == 2">
        <form [formGroup]="signupForm">
            <!-- <div class="form__blur"></div> -->
            <div class="container">
                <h2>Verification</h2>
                <p>Please Upload Screenshot of the ad.</p>
                <hr>

                <div>
                    <img width="100" height="100" *ngIf="uploadedImage" [src]="uploadedImage" alt="uploaded image">
                    <div>
                        <label for="name"><b>Upload screenshot</b><span class="text-danger">*</span></label>
                        <input type="file" accept="image/*" (change)="browseFile($event)">
                        <div class="text-danger" *ngIf="isSignupFormSubmitted && signupForm.controls['name'].errors">
                            <span *ngIf="isFileSubmitted && !file">Screenshot is required!</span>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <button type="button" class="submit__btn" (click)="onFileSubmit()">
                        <span>Submit</span>
                        <span *ngIf="fileupLoading" class="loader"></span>
                    </button>
                </div>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="currentStep == 4">
        <form>
            <img class="thankyou__img__bg" src="assets/fifa-2022-thankyou-bg.jpg" alt="fifa-2022-thankyou-bg">
            <img class="thankyou__img" [src]="thankYouImage" alt="Thank you">

            <div class="social__links" style="display: flex;gap: 12px;padding: 0 15px 10px;justify-content: center;">
                <a style="min-height: auto;" class="social-btn fb" [href]="socialLinks?.facebook"
                    target="_blank">Facebook</a>
                <a style="min-height: auto;" class="social-btn twitter" [href]="socialLinks?.twitter"
                    target="_blank">Twitter</a>
                <!-- <a style="min-height: auto;" class="social-btn youtube"
                    href="https://www.youtube.com/channel/UCuq2S-nKt0dL84SjoT-35YA" target="_blank">Youtube</a> -->
                <a style="min-height: auto;" class="social-btn ig"></a>
            </div>
        </form>
    </ng-container>

</div>