// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=DynaPuff:wght@400;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');

// .bg-image {
//     // background-image: url(../../../assets/Spin-The-Wheel-Website-Banner.jpg);
//     background-image: url(../../../../assets/fifa-2022-bg.webp);
//     height: 100%;
//     width: 100%;
//     // min-height: 100%;
//     background-size: cover;
//     position: absolute;
//     top: 80px;
//     // filter: blur(1px);
// }

.landing__imag{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    // min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    text-align: center;
    // margin: 24px auto;

    h1 {
        font-size: 54px;
        margin-bottom: 24px;
        font-weight: bold;
    }

    h3 {
        // font-weight: bold;
        font-size: 24px;
        margin-bottom: 24px;
    }
}

.spinner__wrapper {
    position: relative;
    cursor: pointer;

    .icon {
        cursor: pointer;
        position: absolute;
        // width: 37px;
        // height: 37px;
        // background: url(../../../assets/football.svg);
        border-radius: 50%;
        top: 41.65%;
        left: 45%;
    }
}


.spin-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    background: #d3a774;
    border: 6.2px solid #d3a774;
    box-shadow: 0 7.15653px 0 1.78913px rgb(0 0 0 / 6%);
}

.absolute {
    position: absolute;
}

.spin-btn {
    width: 50px;
    // z-index: 20;
    height: 50px;
    // background-color: rgba(52, 142, 246, 1);
    background-color: #d3a774;
    border: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

svg {
    cursor: pointer;

}

.spinner-wheel-spin-button {
    min-width: 0;
    padding: 0;
    border-radius: 100%;
    border: 2px solid white;
}


form {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    z-index: 1;
    color: black;
    min-width: 450px;
    padding: 24px 16px;
    min-height: 600px;
    // position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    // position: relative;
    border: 6px solid #00AAA6;
    border-radius: 8px;
    // box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    // .form__blur {
    //     filter: blur(1px);
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    // }

    // * {
    //     font-family: 'DynaPuff', cursive;
    // }

    // .container{
    //     position: absolute;
    //     z-index: 2;
    // }

    h2,
    p {
        margin-bottom: 16px;
    }

    p {
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }
}

.text-danger {
    color: red;
    margin-left: 4px;
    font-size: 14px;
    text-align: left;

    span {
        display: block;
    }
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #00AAA6;
    color: white;
    padding: 14px 5rem;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    // width: 100%;
    opacity: 0.9;
    font-weight: bold;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 16px auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 0 !important;
    display: inline-block;
    // border: none;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    border: 1px solid #00AAA6;
    outline: none;

    &::placeholder {
        color: black;
    }
}

// input:focus {
//     outline: 3px solid #00AAA6;
//     // outline: 3px solid #C16E25;
// }

label {
    text-align: left;
    display: block;
}

.loader {
    width: 24px;
    height: 24px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.thakyou__step {
    //     form {
    //         margin-bottom: 36px;
    //     }

    //     .page__heading {
    //         margin-top: 36px;
    //     }
    form {
        // background: url(../../../../assets/fifa-2022-thankyou-bg.jpg) no-repeat;
        width: 575px;
        height: 100%;
        margin: 60px 0;
        margin-bottom: 120px;
        position: relative;
    }

    .thankyou__img__bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
    }

    .thankyou__img {
        width: 300px;
        position: absolute;
        top: 290px;
        left: 50%;
        transform: translateX(-50%);
    }

    .social__links {
        position: absolute;
        justify-content: center;
        bottom: -85px;
        left: 50%;
        transform: translateX(-50%);
    }
}



@media screen and (max-width: 1023px) {
    .bg-image {
        top: 60px;
    }

    .thakyou__step {
        form {
            width: 60%;
        }
    }

    // .thankyou__img{
    //     width: 60%;
    // }
}

@media screen and (max-width: 768px) {
    .spinner__wrapper {
        .icon {
            top: 39%;
            left: 45.7%;
        }
    }

    svg {
        width: 30px !important;
        height: 30px !important;
    }

    .spin-btn-wrap {
        height: 50px;
        width: 50px;
    }

    .spin-btn {
        width: 40px;
        height: 40px;
    }

    form {
        width: 90%;
        min-width: auto !important;
    }

    .thakyou__step {

        .thankyou__img {
            width: 255px;
        }

    }

}

@media screen and (max-width: 576px) {
    .spinner__wrapper {
        .icon {
            top: 38%;
            left: 44.8%;
        }
    }

    form {
        width: 98%;
        padding: 24px 4px;
    }

    .thakyou__step {
        form {
            width: 95%;
        }

        .thankyou__img {
            width: 250px;
        }

    }
}

@media screen and (max-width: 450px) {
    .spinner__wrapper {
        .icon {
            top: 36.85%;
            left: 44%;
        }
    }
}

@media screen and (max-width: 375px) {
    .spinner__wrapper {
        .icon {
            top: 35.85%;
            left: 43%;
        }
    }
}

// quiz css
/* importing google fonts */
::selection {
    color: #fff;
    background: #09cbc6;
}

// .start_btn,
// .info_box,
// .quiz_box,
// .result_box {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
//         0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
    opacity: 1;
    // z-index: 5;
    display: block;
    pointer-events: auto;
    // transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    background-color: #00AAA6;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info_box {
    // width: 540px;
    background: #fff;
    border-radius: 5px;
    // transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list {
    padding: 15px 50px;
}

.info_box .info-list .info {
    margin: 5px 0;
    font-size: 17px;
    text-align: left;
}

.info_box .info-list .info span {
    font-weight: 600;
    color: #00AAA6;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #09cbc6;
    transition: all 0.3s ease;
}

.quiz_box {
    width: 550px;
    background: #fff;
    border-radius: 5px;
    // transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header {
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer {
    color: white;
    background: #09cbc6;
    border: 1px solid #09cbc6;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
    white-space: nowrap;
}

.quiz_box header .timer .timer_sec {
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #00AAA6;
    // border: 1px solid #343a40;
    user-select: none;
    margin-left: 8px;
}

.quiz_box header .time_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que_text {
    font-size: 25px;
    font-weight: 600;
    text-align: left;
}

section .option_list {
    padding: 20px 0px;
    display: block;
}

section .option_list .option {
    background: white;
    border: 1px solid #09cbc6;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child {
    margin-bottom: 0px;
}

section .option_list .option:hover {
    // color: #004085;
    background: #a6ebe9;
    // border: 1px solid #b8daff;
}

section .option_list .option.correct {
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled {
    pointer-events: none;
}

section .option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}

.option_list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross {
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span {
    display: flex;
    user-select: none;
}

footer .total_que span p {
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child {
    padding-left: 0px;
}

footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #00AAA6;
    border: 1px solid #09cbc6;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
    margin: inherit;
}

footer button:hover {
    background: #09cbc6;
}

footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box {
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    max-width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text {
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p {
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
    justify-content: center;
}

.result_box .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    // border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart {
    color: #fff;
    background: #00AAA6;
}

.buttons button.restart:hover {
    background: #09cbc6;
}

.buttons button.quit {
    color: #00AAA6;
    background: #fff;
    border: 1px solid #09cbc6;
}

.buttons button.quit:hover {
    color: #fff;
    background: #09cbc6;
}

label.option {
    justify-content: flex-start !important;
    align-items: center !important;

    input {
        width: auto;
        margin-right: 8px !important;
        margin-top: 0 !important;
        display: inline-block !important;
    }
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 18px !important;
    height: 18px !important;
    padding: 3px !important;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #09cbc6;
    background-color: white;
    border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
    background-color: #00AAA6;
}

.page__heading {
    color: black;
    margin-bottom: 16px;
    margin-top: 20px;

    * {
        margin-bottom: 16px !important;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
    }

    h3 {
        font-size: 20px;
    }
}

.height-auto {
    height: auto !important;
}

.my-36 {
    margin: 36px 0;
}

a.social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f3f3f3;
    margin-right: 12px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center center;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

a.social-btn:last-child {
    margin-right: 0;
}

a.social-btn:hover {
    background-color: #ddd;
}

a.social-btn.fb {
    background-image: url("../../../../assets/icon-fb.svg");
    background-size: auto 50%;
    background-color: #0056a4;
}

a.social-btn.twitter {
    background-image: url("../../../../assets/icon-twitter.svg");
    background-color: #06bfff;
}

a.social-btn.ig {
    background-image: url("../../../../assets/ig.png");
    // background-color: #fff;
}

a.social-btn.youtube {
    background-image: url("../../../../assets/icon-youtube.svg");
    background-color: #eb212e;
}

.relative {
    position: relative;
    height: 100%;
    width: 100%;
}

.ngx-wheel {
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 999999999;
    // transform: translateY(-10px);
    position: absolute;
    top: 0;
    left: 0;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
}

.wheel__back__img {
    position: absolute;
    width: 337px !important;
    height: 388px !important;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -39%);
}

.wheel__back__football__img {
    position: absolute;
    top: 95%;
    width: 55px;
    z-index: 9999999999;
    border-radius: 50%;
    height: 55px;
    left: 44%
}

form.spinner__wrapper {
    max-width: 450px !important;
}

// @media screen and (min-width: 375px) {
//     .wheel__back__football__img {   
//         left: 43%;
//     }
// }

// @media screen and (min-width: 400px) {
//     .wheel__back__football__img {   
//         left: 44%;
//     }
// }

// @media screen and (min-width: 550px) {
//     .wheel__back__football__img {   
//         left: 45%;
//     }
// }

@media screen and (min-width: 768px) {
    .ngx-wheel {
        position: absolute;
        top: 0;
        left: 0;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -49%);
        z-index: 999999999;
    }

    .wheel__back__img {
        position: absolute;
        width: 496px !important;
        height: 570px !important;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -39%);
    }

    form.spinner__wrapper {
        min-width: 600px !important;
        margin: 20px 0;
        min-height: 750px;
    }

    .step__3 {
        height: 120%;
    }

    .wheel__back__football__img {
        top: 78%;
        left: 45%;
    }
}




// new spinner
.spinner__container {
    height: 425px;
    width: 425px;
    background: #d3a774;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px gray;
    transition: 3s all;
}

.spinner__container div {
    height: 50%;
    width: 250px;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    position: absolute;
    left: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: 1000;
    color: #008276;
    writing-mode: vertical-rl;
}

.spinner__container .one {
    background: #d3a774;
    left: 50%;
}

.spinner__container .two {
    background: #fff;
    transform: rotate(60deg);
}

.spinner__container .three {
    background: #d3a774;
    transform: rotate(120deg);
}

.spinner__container .four {
    background: #fff;
    transform: rotate(180deg);
}

.spinner__container .five {
    background: #d3a774;
    transform: rotate(240deg);
}

.spinner__container .six {
    background: #fff;
    transform: rotate(300deg);
}

.mid {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    background: #008276;
}

#spin {
    height: 60px;
    width: 200px;
    background: #d3a774;
    position: absolute;
    margin-top: 600px;
    font-size: 30px;
    color: white;
    font-weight: 1000;
    letter-spacing: 4px;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 5px 10px gray;
    transition: 0.2s all;
}

#spin:hover {
    box-shadow: none;
}

.stoper {
    height: 50px;
    width: 40px;
    background: #d3a774;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    top: -48px;
    border: 1px solid white;
}

.spinner__container {
    img {
        width: 125px;
        height: auto;
        margin-bottom: 70px;
        padding: 5px;
    }
}

.wheel__back {
    position: absolute;
    width: 457px;
    top: -14px;
    left: 49px;
    height: 526px;
}

.mainbox {
    position: relative;
    // width: 500px;
    // height: 500px;
    display: flex;
    justify-content: center;
}

.wheel__back__football__img {
    position: absolute;
    top: 50%;
    width: 55px;
    z-index: 9999999999;
    border-radius: 50%;
    height: 55px;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .spinner__container {
        height: 350px;
        width: 350px;
    }

    .spinner__container div {
        width: 200px;
    }

    .wheel__back {
        position: absolute;
        width: 373px;
        top: -12px;
        left: 28px;
        height: 434px;
    }

    .spinner__container {
        img {
            width: 80px;
            height: auto;
            margin-bottom: 50px;
            padding: 5px;
        }
    }
}

@media screen and (max-width: 450px) {
    .spinner__container {
        height: 300px;
        width: 300px;
    }

    .spinner__container div {
        width: 180px;
    }

    .wheel__back {
        position: absolute;
        width: 321px;
        top: -10px;
        left: 50px;
        height: 372px;
    }
}

@media screen and (max-width: 445px) {
    .wheel__back {
        left: 48px;
    }
}

@media screen and (max-width: 440px) {
    .wheel__back {
        left: 45px;
    }
}

@media screen and (max-width: 435px) {
    .wheel__back {
        left: 43px;
    }
}

@media screen and (max-width: 430px) {
    .wheel__back {
        left: 41px;
    }
}

@media screen and (max-width: 425px) {
    .wheel__back {
        left: 39px;
    }
}

@media screen and (max-width: 420px) {
    .wheel__back {
        left: 37px;
    }
}

@media screen and (max-width: 415px) {
    .wheel__back {
        left: 33px;
    }
}

@media screen and (max-width: 410px) {
    .wheel__back {
        left: 30px;
    }
}

@media screen and (max-width: 405px) {
    .wheel__back {
        left: 27px;
    }
}

@media screen and (max-width: 395px) {
    .wheel__back {
        left: 18px;
    }
}

.form__control {
    margin: 16px 0;
}