<!-- <div *ngIf="currentStep != 4" [ngClass]="{'step__3':currentStep == 3}" class="bg-image"></div> -->
<div class="page-wrapper"
    [ngClass]="{'is-loading': imageLoading,'height-auto thakyou__step': currentStep == 4,'step__3':currentStep == 3, 'step': currentStep == 1 || currentStep == 2, 'step2': currentStep == 2}">
    <!-- <img class="landing__imag" *ngIf="currentStep != 4" src="assets/fifa-2022-bg.webp" (load)="imageLoaded()"
        > -->
        <!-- <picture class="landing__imag" *ngIf="currentStep != 4">
            <source media="(min-width:768px)" srcset="assets/spot-hisense-desktop-banner.webp">
            <img src="assets/spot-hisense-mobile-banner.webp" style="width: 100%;height: 100%;"
                alt="spot hisense banner" (load)="imageLoaded()">
        </picture> -->
        <div class="landing__image"></div>
    <ng-container *ngIf="currentStep == 1">
        <form [formGroup]="signupForm">
            <!-- <div class="form__blur"></div> -->
            <img src="assets/doll.webp" alt="doll" class="doll__img">
            <div style="align-self: flex-start;">
                <h2 *ngIf="showRegister">Register Now</h2>
                <h2 *ngIf="showLogin">Login</h2>
                <p *ngIf="showRegister">Please fill the form to Register</p>
                <p *ngIf="showLogin">Please fill the form to Login</p>
            </div>
            <div class="container">
                <hr>
                <div [ngClass]="{'two-cols': showRegister}">
                    <div class="form__control" *ngIf="showRegister">
                        <!-- <label for="name"><b>Name</b><span class="text-danger">*</span></label> -->
                        <input type="text" placeholder="Enter Name" name="name" id="name" formControlName="name">
                        <div class="text-danger" *ngIf="isSignupFormSubmitted && signupForm.controls['name'].errors">
                            <span *ngIf="signupForm.controls['name'].errors['required']">Name is required!</span>
                            <span *ngIf="signupForm.controls['name'].errors['pattern']">Name can only contain
                                alphabets!</span>
                        </div>
                    </div>
    
                    <div class="form__control" *ngIf="showRegister">
                        <!-- <label for="email"><b>Email</b><span class="text-danger">*</span></label> -->
                        <input type="text" placeholder="Enter Email" name="email" id="email" formControlName="email">
                        <div class="text-danger" *ngIf="isSignupFormSubmitted && signupForm.controls['email'].errors">
                            <span *ngIf="signupForm.controls['email'].errors['required']">Email is required!</span>
                            <span *ngIf="signupForm.controls['email'].errors['email']">Enter a valid email!</span>
                        </div>
                    </div>
    
                    <div class="form__control">
                        <!-- <label for="phone"><b>Phone</b><span class="text-danger">*</span></label> -->
                        <input type="text" placeholder="Enter Phone Number" name="phone" formControlName="phone">
                        <div class="text-danger" *ngIf="isSignupFormSubmitted && signupForm.controls['phone'].errors">
                            <span *ngIf="signupForm.controls['phone'].errors['required']">Phone Number is
                                required!</span>
                            <span *ngIf="signupForm.controls['phone'].errors['minlength']">Phone Number can only contain
                                10
                                digits!</span>
                            <span *ngIf="signupForm.controls['phone'].errors['maxlength']">Phone Number can only contain
                                10
                                digits!</span>
                            <span *ngIf="signupForm.controls['phone'].errors['pattern']">Phone Number can only contain
                                digits!</span>
                        </div>
                    </div>
    
                    <div class="form__control" *ngIf="showRegister">
                        <!-- <label for="pincode"><b>Pincode</b><span class="text-danger">*</span></label> -->
                        <input type="text" placeholder="Enter Pincode" name="pincode" id="pincode"
                            formControlName="zipcode">
                        <div class="text-danger" *ngIf="isSignupFormSubmitted && signupForm.controls['zipcode'].errors">
                            <span *ngIf="signupForm.controls['zipcode'].errors['required']">Pincode is required!</span>
                        </div>
                    </div>
                </div>
                <div style="margin: 30px 0;">
                    <label class="flex" style="display: flex;">
                        <!-- checked="checked" -->
                        <input style="display: inline !important;width: auto;" type="checkbox" name="terms"
                            [(ngModel)]="terms" [ngModelOptions]="{standalone: true}">
                        <span class="ml-3" style="font-size: 12px;">Yes, I would like to receive important updates
                            and notifications on WhatsApp. By proceeding, you are authorizing Hisense and its empaneled controctors to get
                            in
                            touch
                            with you through calls, SMS or e-mail</span>
                    </label>
                    <div class="text-danger" *ngIf="isSignupFormSubmitted && !terms">
                        <span>Please accept to proceed further!</span>
                    </div>
                </div>

                <div class="clearfix">
                    <button type="button" class="submit__btn" (click)="onSubmit()">
                        <span *ngIf="showRegister">Register</span>
                        <span *ngIf="showLogin">Login</span>
                        <span *ngIf="signupLoading" class="loader"></span>
                    </button>
                    <div class="form__redirect" *ngIf="showRegister">Already registered? &nbsp;<a
                            (click)="showRegister = false; showLogin = true;">Click here</a> to login</div>
                    <div class="form__redirect" *ngIf="showLogin">Not registered yet? &nbsp;<a
                            (click)="showRegister = true; showLogin = false;">Click here</a> to register now</div>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="currentStep == 2">
        <form [formGroup]="signupForm">
            <!-- <div class="form__blur"></div> -->
            <img src="assets/doll.webp" alt="doll" class="doll__img">
            <div style="align-self: flex-start;">
                <h2>Upload image</h2>
                <p>Please upload Spotted Hisense logo during FIFA match</p>
            </div>
            <div class="container">
                <hr>

                <div>
                    <img style="width: auto;max-height: 175px;" *ngIf="uploadedImage" [src]="uploadedImage" alt="uploaded image">
                    <div>
                        <label for="name"><b>Upload screenshot</b><span class="text-danger">*</span></label>
                        <input type="file" accept="image/*" (change)="browseFile($event)">
                        <div class="text-danger" *ngIf="isSignupFormSubmitted && signupForm.controls['name'].errors">
                            <span *ngIf="isFileSubmitted && !file">Screenshot is required!</span>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <button type="button" class="submit__btn" (click)="onFileSubmit()">
                        <span>Upload image</span>
                        <span *ngIf="fileupLoading" class="loader"></span>
                    </button>
                </div>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="currentStep == 4">
        <form>
            <img class="thankyou__img__bg" src="assets/fifa-2022-thankyou-bg.jpg" alt="fifa-2022-thankyou-bg">
            <img class="thankyou__img" [src]="thankYouImage" alt="Thank you">

            <button *ngIf="!displaySocialLinks" class="social__links submit__btn" type="button" (click)="displaySocialLinks = true">Share Now
            </button>

            <div class="social__links w-0" [ngClass]="{'w-100': displaySocialLinks}" style="display: flex;gap: 12px;padding: 0 15px 10px;justify-content: center;">
                <a style="min-height: auto;" class="social-btn fb" [href]="socialLinks?.facebook"
                    target="_blank">Facebook</a>
                <a style="min-height: auto;" class="social-btn twitter" [href]="socialLinks?.twitter"
                    target="_blank">Twitter</a>
                <!-- <a style="min-height: auto;" class="social-btn youtube"
                    href="https://www.youtube.com/channel/UCuq2S-nKt0dL84SjoT-35YA" target="_blank">Youtube</a> -->
                <a style="min-height: auto;" class="social-btn ig"></a>
            </div>
        </form>
    </ng-container>

</div>