@import "libs/styles/product-details.scss";
@import "libs/styles/vendor.scss";

#jarallax-container-2 {
  clip: rect(0 842.2222290039062px 368px 0);
  clip: rect(0, 842.2222290039062px, 368px, 0);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#jarallax-container-1 {
  clip: rect(0 842.2222290039062px 368px 0);
  clip: rect(0, 842.2222290039062px, 368px, 0);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#jarallax-container-0 {
  clip: rect(0 842.2222290039062px 406px 0);
  clip: rect(0, 842.2222290039062px, 406px, 0);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
