input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 !important;
    display: inline-block;
    border: none;
    display: block;
    background: #e7eae7;
    border-radius: 6px;
}

input[type=text]:focus {
    background-color: rgb(230, 227, 227);
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #00B3ac;
    color: white;
    padding: 14px 5rem;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    // width: 100%;
    opacity: 0.9;
    font-weight: bold;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button:hover {
    opacity: 1;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    form {
        width: 80%;
    }
}

:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.text-danger {
    color: #DC3545;
    margin-left: 4px;
    font-size: 14px;
    span{
        display: block;
    }
}

.ml-4 {
    margin-left: 4px;
}

.f-14 {
    font-size: 14px !important;
}

.loader {
    width: 24px;
    height: 24px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hints{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    .card{
        background-color: #2FA4E7;
        color: white;
        padding: 1rem 2rem;
        text-align: center;
    }
}