@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";

.page__section {
    min-height: 50vh;
}

.page__cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #202020;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.page__section_centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.page__container {
    width: 100%;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.page__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 16px;
}


.container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 1.5rem;
    // padding-top: 100px;
    // padding-bottom: 80px;
    overflow: hidden;
}

.read-more-btn {
    margin: 20px 0;
    background-color: rgb(0, 204, 204) !important;
    color: rgb(255, 255, 255) !important;
    padding: 0.71rem;
    display: block;
    width: fit-content;
}

.row {
    display: flex;
    gap: 2.5rem;
    cursor: pointer;
}

.f-24 {
    font-size: 24px !important;
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
}

.pagination a.active {
    background-color: rgb(0, 204, 204);
    color: white;
    border: 1px solid rgb(0, 204, 204);
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.col1 a {
    padding: 1rem 3.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.active {
    color: #fff;
    // background-color: #2FA4E7 !important;
    background-color: #00AAA6 !important;
    border-color: #00AAA6 !important;
}

.list-group {
    display: flex;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    // margin: 3rem;
}

.press__tabs__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding: 16px 0;

    .tabs {
        // background: #eae9e9;
        border-radius: 50px;
        padding: 20px;
        // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .list-group {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        gap: 16px;

        a {
            padding: 0.75rem 1.25rem;
            margin-bottom: -1px;
            background-color: #fff;
            white-space: nowrap;
            border: 1.2px solid #09cbc6;
            border-radius: 16px;
        }

        .active {
            color: #fff;
            // background-color: #2FA4E7 !important;
            background-color: #00AAA6 !important;
            border-color: #00AAA6 !important;
        }
    }
}

.news-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    h4{
        font-size: 32px;
    }
}


@media screen and (max-width: 768px) {
    .press__tabs__container {
        .tabs {
            padding: 12px;
        }

        .list-group {
            gap: 12px;

            a {
                padding: 0.75rem 1rem;
                border: 1.2px solid #09cbc6;
                border-radius: 16px;
            }
        }
    }
    .news-info {
        margin: 25px 0;
        h4{
            font-size: 24px;
        }
    }   
}

.contaciner-v2 {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // flex-direction: row !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    .row {
        // flex: 1 0 300px;
        // min-width: 33%;
        margin: 10px;
        width: 100%;
        // max-width: max-content;

        .slide-item {
            width: 100%;
        }

        .text-box-with-image {
            height: 250px;
            background-position: center
        }

        .text-box {
            position: relative;
            color: #000;
            padding: 20px 0 0 0;
            margin-bottom: 48px;

            .news-topics {
                color: #00B3AC;
                margin-bottom: 13px;
            }

            h4 {
                font-size: 22px;
                height: 140px;
                padding-right: 30px;
                font-weight: 600;
                line-height: 1.3;
            }

            .news-date {
                margin-top: 50px;
                padding-bottom: 20px;
                border-bottom: 1px solid #000;
            }
        }

    }
}

@media screen and (max-width: 1180px) {
    .contaciner-v2 {
        grid-template-columns: 1fr 1fr;

        .row {
            min-width: 50%;
        }
    }
}

.press_coverages__container {

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 50px !important;
        left: 73%;
        width: 100%;
        display: flex;
    }
}

.slide__link {
    height: 540px !important;
    max-height: 540px !important;
    margin-right: auto;
    width: 70%;

    .ls-bg {
        height: 100%;
        width: 100%;
        background-position: center top !important;
        background-size: cover !important;
        width: 100% !important;
    }
}

ul#pagination li {
    display: inline-block;
    margin: 0 37px;
}

@media screen and (max-width: 768px) {
    .contaciner-v2 {
        grid-template-columns: 1fr;

        .row {
            min-width: 100%;
        }
    }

    .slide__link {
        height: 320px !important;
        max-height: 320px !important;
        width: 100%;
    }

    .swiper-slide {
        display: flex !important;
        flex-direction: column !important;
        // position: static !important;
    }

    .two-box-info-silders {
        width: 100% !important;
        position: static !important;
        height: 340px !important;
        padding-top: 36px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;

        div {
            font-size: 14px !important;
        }

        .hisenseMedium.date {
            margin-top: 24px;
        }

        .hisenseBold {
            font-size: 18px !important;
        }

        .overlay-gray {
            margin-bottom: 60px !important;
            padding: 8px 16px !important;
        }
    }

    .press_coverages__container {

        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: 12px !important;
            left: 10px !important;
            width: 100% !important;
        }
    }

    ul#pagination li {
        margin: 0 15px;
    }

}

ul#pagination {
    text-align: center;
    padding-bottom: 80px;
}

ul#pagination li.prev,
ul#pagination li.next {
    transition: all 300ms ease-in-out;
}

ul#pagination li.prev a {
    background: url(../../../assets/icons/icon-prev.svg) no-repeat;
}

ul#pagination li.next a {
    background: url(../../../assets/icons/icon-next.svg) no-repeat;
}

ul#pagination li.prev a,
ul#pagination li.next a {
    background-size: contain;
    text-indent: -9999px;
    display: inline-block;
    width: 25px;
    height: 25px;
}

ul#pagination li a {
    color: #000 !important;
}

ul#pagination li.prev:hover {
    transform: translateX(-10px);
}

ul#pagination li.next:hover {
    transform: translateX(10px);
}

ul#pagination li.active {
    border: 1.5px solid black !important;
    border-radius: 100%;
    background: transparent !important;
    width: 25px !important;
    height: 25px !important;
}

.d-none {
    display: none !important;
}

.two-box-info-silders {
    width: 30%;
    background-color: #00aaa5;
    padding-top: 35px;
    padding-left: 18px;
    padding-right: 18px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: left;

    div {
        font-size: 16px;
    }

    .hisenseMedium {
        margin-bottom: 20px;
        font-weight: 500;
    }

    .hisenseBold {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 500;
    }

    .hisenseMedium.date {
        margin-top: 30px;
    }

    .overlay-gray {
        margin: 0;
        display: inline-block;
        font-size: 14px;
        color: #FFF !important;
        position: relative;
        padding: 12px 32px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px;
        overflow: hidden;
        -webkit-transition: color 0.4s ease-out;
        -moz-transition: color 0.4s ease-out;
        -o-transition: color 0.4s ease-out;
        -ms-transition: color 0.4s ease-out;
        transition: color 0.4s ease-out;
        width: max-content;
        z-index: 0;
        margin-bottom: 20px;
        border: 2px solid white;
    }
}

.bg-holder {
    background-position: center !important;
    background-size: cover !important;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
    /* fallback for Gecko-based browsers */
    -webkit-line-clamp: 6;
    -moz-box-lines: 6;
    /* fallback for Gecko-based browsers */
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    /* fallback for Gecko-based browsers */
}

.ellipse-4 {
    -webkit-line-clamp: 4;
    -moz-box-lines: 4;
}

.mySwiperPress {
    position: relative !important;
}