.page__section {
    min-height: 50vh;
}

.page__cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #202020;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.page__section_centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.page__container {
    width: 100%;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.page__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 16px;
}


.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 1.5rem;
    padding-top: 100px;
    padding-bottom: 80px;
}

.read-more-btn {
    margin: 20px 0;
    background-color: rgb(0, 204, 204) !important;
    color: rgb(255, 255, 255) !important;
    padding: 0.71rem;
    display: block;
    width: fit-content;
}

.row {
    display: flex;
    gap: 2.5rem;
}

.f-24 {
    font-size: 24px !important;
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
}

.pagination a.active {
    background-color: rgb(0, 204, 204);
    color: white;
    border: 1px solid rgb(0, 204, 204);
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.col1 a {
    padding: 1rem 3.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.active {
    color: #fff;
    // background-color: #2FA4E7 !important;
    background-color: #00AAA6 !important;
    border-color: #00AAA6 !important;
}

.list-group {
    display: flex;
    text-align: center;
}

.tabs{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.press__tabs__container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 16px 0;
    .tabs{
        // background: #eae9e9;
        border-radius: 50px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .list-group {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        gap: 16px;
        a {
            padding: 0.75rem 1.25rem;
            margin-bottom: -1px;
            background-color: #fff;
            white-space: nowrap;
            border: 1.2px solid #09cbc6;
            border-radius: 16px;
        }
        .active {
            color: #fff;
            // background-color: #2FA4E7 !important;
            background-color: #00AAA6 !important;
            border-color: #00AAA6 !important;
        }
    }
}


@media screen and (max-width: 768px) {
    .press__tabs__container{
        .tabs{
            padding: 12px;
        }
        .list-group {
            gap: 12px;
            a {
                padding: 0.75rem 1rem;
                border: 1.2px solid #09cbc6;
                border-radius: 16px;
            }
        }
    }
}