@import "libs/styles/tv-series.scss";

.product-listing .product-listing-inner .product-listing-tab>* {
    overflow: visible !important;
}

.product-listing {
    padding: 40px 0;
}

.btn-hisense-learn {
    background: white !important;
    border: 1px solid black !important;
    color: black !important;
    
    &:hover{
        background: #067977 !important;
        color: white !important;
        border: 1px solid white !important;
    }
}

.product__sub__category {
    .product-listing-tab-content {
        height: 75px;
    }
}

.product__size {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin: 16px 0;
    width: 100%;
    cursor: pointer;

    .item {
        font-size: 12px;
        line-height: 1.7em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: auto;
        color: #6b6b6b;
        text-align: center;
        vertical-align: top;
        font-weight: 600;
        border: 2px solid #d9d9d9;
        border-radius: 3px;
        padding: 4px 8px;
        white-space: nowrap;
        margin-top: 0 !important;

        &.active {
            border: 2px solid #00AAA6;
        }
    }
}

.product-listing-inner {
    justify-content: center;
}

.single__cat {
    width: 33% !important;
}

.product-listing-inner.product-listing-grid-layout {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 270px)) !important;
    gap: 2.5rem !important;
    justify-content: center;

}


.product__sub__category {
    .product-listing-grid-layout {
        grid-template-columns: repeat(auto-fit, minmax(300px, 350px)) !important;
    }
}


@media screen and (max-width: 1100px) {
    .product-listing-inner.product-listing-grid-layout {
        grid-template-columns: 1fr 1fr !important;
    }

    .single__cat {
        width: 50% !important;
    }
}

@media screen and (max-width: 767px) {
    .product-listing-inner.product-listing-grid-layout {
        grid-template-columns: 1fr !important;
    }

    .single__cat {
        width: 100% !important;
    }

    .mobile-m-40 {
        margin-top: 40px !important;
    }
}

.modal {
    display: block !important;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.5em;
        color: #000 !important;
    }

    .modal-container {
        margin: 20px auto;
    }

    .js-close {
        font-size: 1.25em;
        font-weight: bold;
        background-color: #000;
        border: none;
        padding: 0.5em 1em;
        color: #fff;
        box-shadow: 0 0 0 2px #000 inset;
        border-radius: 0.25em;
        cursor: pointer;
        margin: auto;
        transition: background 0.4s ease, color 0.4s ease;

    }

    .js-close:hover {
        box-shadow: 0 0 0 2px #000 inset;
        color: #000;
        background-color: transparent;
    }


    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        max-width: 500px;
        min-width: 300px;
        border-radius: 0.5rem;
        padding: 2em;
        text-align: center;
        border-radius: 0.5em;
    }

    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }

    .close-button:hover {
        background-color: darkgray;
    }

    &.show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

    .product__head-buttons {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        justify-content: center;
        margin: 20px auto;
        width: 80%;
    }

    .purchase__link__image {
        border-radius: 10px;
    }

    .product__head-button {
        display: inline-block;
        vertical-align: top;
        padding: 16px 18px;
        margin-right: 8px;
        margin-bottom: 12px;
        color: currentColor;
        text-decoration: none;
        transition: 0.3s;
    }


    .amazon {
        border: 2px solid #F39731;
    }

    .flipkart {
        border: 2px solid #1B7AD4;
    }

    .tata_cliq {
        border: 2px solid #A5303D;
    }

    .reliance_digital {
        border: 0px solid #D83F2A;
    }
}

.product-listing-tab::before {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    box-shadow: 0 3px 4px rgb(0 0 0 / 18%);
}

.top__specifications {
    margin-bottom: 24px;
    margin-top: 0 !important;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    // gap: 8px;
    text-align: left;
    min-height: 145px;

    li {
        padding-left: 25px;
    }
}

.smart__tv__card__heading {
    color: white;
    font-size: 64px;
    line-height: 72px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.smart__tv__cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.smart__tv__card {
    padding: 32px;

    .smart__tv__media__desc {
        color: #ffffff;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        min-height: 84px;
        margin-bottom: 20px;
    }

}
.smart__tv__card__actions {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;

    .smart__tv__discover__link {
        font-weight: 400;
        background-color: white;
        color: black !important;
        padding: 14px 24px;
        border-radius: 48px;
        cursor: pointer;
        transition: opacity 250ms ease-in-out;

        &:hover {
            opacity: 0.7;
        }
    }
}

.smart__tv__description__container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .smart__tv__description__column__container {
        padding: 32px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .smart__tv__card__heading {
            margin: 32px 0;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            font-weight: lighter;
            margin-bottom: 24px;
        }

        a {
            padding: 0 24px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            margin-top: 24px;
            display: block;
        }
    }

    .smart__tv__description__image{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 80% !important;
            max-height: 80% !important;
            object-fit: contain;
        }
    }
}

@media screen and (max-width: 768px) {

    .smart__tv__description__container,
    .smart__tv__cards__container {
        grid-template-columns: 1fr;
    }
}

.abstract__container{
    position: relative;
}

.smart__tv__discover__link {
    font-weight: 400;
    background-color: white;
    color: black !important;
    padding: 14px 24px;
    border-radius: 48px;
    cursor: pointer;
    transition: opacity 250ms ease-in-out;

    &:hover {
        opacity: 0.7;
    }
}

.smart__tv__btns__container{
    position: absolute;
    bottom: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}