<div class="social-media-container">
    <a class="logo" href="https://global.hisense.com/">Hisense International</a>
    <div class="social-media">
        <a class="social-btn fb" href="https://www.facebook.com/hisenseusa/" target="_blank" rel="noopener">Facebook</a>
        <a class="social-btn twitter" href="https://twitter.com/HisenseIntl" target="_blank" rel="noopener">Twitter</a>
        <a class="social-btn ig" href="https://www.instagram.com/hisense_international/" target="_blank"
            rel="noopener">Instagram</a>
        <a class="social-btn youtube" href="https://www.youtube.com/channel/UCVWVvaRqISdaosM65yVKCPg" target="_blank"
            rel="noopener">Youtube</a>
        <a class="social-btn linkedin" href="https://www.linkedin.com/company/hisenseinternational/" target="_blank"
            rel="noopener">linkedin</a>
    </div>
</div>