.email-subscription-container {
    background: #00AAA6;
    padding: 50px 50px 45px 50px;
    position: relative;

}

.email-subscription-container .content {
    width: 60%;
    margin: 0 auto;
}

.email-subscription-container .content h3 {
    color: #fff;
    font-size: 36px;
    letter-spacing: -0.5px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.email-subscription-container .content img.logo {
    width: 230px;
    height: auto;
    display: block;
    margin-bottom: 40px;
}

.email-subscription-container .content .input-container {
    padding: 9px 10px 9px 50px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
}

.email-subscription-container .content .input-container input {
    font-size: 18px;
    background: none;
    color: #fff;
    line-height: 200%;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: calc(95% - 200px);
}

.email-subscription-container .content .input-container input::placeholder {
    color: #fff;
}

.email-subscription-container .content .input-container .btn-subscribe {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    font-size: 16px;
    color: #00AAA6;
    background: #fff;
    padding: 18px 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.email-subscription-container .content .input-container .btn-subscribe:hover {
    background-color: #ddd;
}

.email-subscription-container .content p.form-message {
    margin-top: 20px;
}

.email-subscription-container .content p.form-message.success {
    color: #fff !important;
}

@media (max-width: 767px) {
    .email-subscription-container {
        padding: 40px 15px 50px 15px;
    }

    .email-subscription-container .content .input-container .btn-subscribe {
        font-size: 12px;
        width: 135px;
        padding: 11px 20px;
        -webkit-border-radius: 23px;
        -moz-border-radius: 23px;
        -ms-border-radius: 23px;
        border-radius: 23px;
    }

    .email-subscription-container .content .input-container input {
        font-size: 12px;
        width: calc(95% - 135px);
    }

    .email-subscription-container .content .input-container {
        padding: 6px 6px 6px 20px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px;
    }

    .email-subscription-container .content img.logo {
        width: 160px;
        margin-left: 0;
    }

    .email-subscription-container .content {
        width: 100%;
    }

    .email-subscription-container .content h3 {
        font-size: 22px;
        margin-left: 0;
    }
}

@media (max-width: 1023px) {
    .email-subscription-container .content {
        width: 80%;
    }
}