<div class="email-subscription-container">
    <div class="content">
        <!-- action="https://mirumagency.us1.list-manage.com/subscribe/post?u=fee051a00ffa12b70551237a9&amp;amp;id=202c45b592"
        method="post" id="mc-embedded-homepage-subscribe-form" name="mc-embedded-homepage-subscribe-form" -->
        <form>
            <h3>Stay up to date with</h3>
            <img class="logo lazy" src="https://global.hisense.com/dam/jcr:ea5650d6-6e08-465c-b904-5c20c22792d5/hisense-logo-white.svg"
                alt="Hisense">
            <div class="input-container">
                <input placeholder="Your email address" type="email" value="" name="EMAIL" required="" [(ngModel)]="email">
                <input class="btn-subscribe" (click)="subscribeNow()" value="Subscribe Now">
            </div>
            <p class="form-message success hidden">Thank you for subscribing!</p>
            <p class="form-message error hidden">There was an error..</p>
        </form>
    </div>
</div>