<div class="main-visual slider slick-initialized slick-slider slick-dotted">
    <div class="slick-list draggable">
        <div class="slick-track">
            <div class="swiper mySwiperHome">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let slide of slides;let i = index">
                        <a style="width: 100%;">
                            <!-- [routerLink]="slide.click_link" -->
                            <picture>
                                <source media="(min-width:768px)" [srcset]="slide.desktop_image_full_url">
                                <img [src]="slide.mobile_image_full_url" style="width: 100%;" class="banner"
                                    class="ls-bg">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>