<div class="product-listing">
    <div class="product-listing-inner">
        <a class="product-listing-tab" *ngFor="let prod of products" [routerLink]="prod.url">
            <a class="product-listing-img trackin">
                <img [src]="prod.image" style="max-height: 150px;">
            </a>
            <div class="product-listing-tab-content">
                <h4 style="margin-top: auto;">{{prod.text}}</h4>
                <!-- <div class="product-listing-description"></div> -->
            </div>
            <div class="product-listing-tab-buttons trackin" data-track="35" style="transform: translateY(35px);">
                <div><a class="btn-hisense" target="_self">More Detail</a></div>
            </div>
        </a>
    </div>
</div>