<div class="product-listing">
    <div class="product-listing-inner" style="flex-wrap: wrap !important;width: 96% !important;margin: auto !important;">
        <div class="product-listing-tab" *ngFor="let prod of products" [routerLink]="prod.url">
            <a class="product-listing-img">
                <img [src]="prod.image" style="max-height: 200px;max-width: 96% !important;">
            </a>
            <div style="margin-top: auto;">
                <div class="product-listing-tab-content">
                    <h4>{{prod.text}}</h4>
                    <!-- <div class="product-listing-description"></div> -->
                </div>
                <div><a class="btn-hisense-v2" target="_self">More Detail</a></div>
            </div>
        </div>
    </div>
</div>