@import "libs/styles/tv-series.scss";

.product-listing-tab {
    cursor: pointer;
}

.product-listing-tab-buttons {
    div {
        width: 100% !important;
        max-width: none !important;
        display: flex !important;
        justify-content: center !important;
    }
}

.product-listing-inner {
    flex-wrap: nowrap !important;
    justify-content: center;
}

.product-listing-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible !important;
}

.product-listing-tab {
    gap: 15px;
}

.product-listing-tab {
    width: 25% !important;
}

@media screen and (max-width: 1100px) {
    .product-listing-tab {
        width: 33.33% !important;
    }
}

@media screen and (max-width: 768px) {
    .product-listing-tab {
        width: 100% !important;
    }
}