@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__visual {
    .slide-item {
        width: 100%;
        display: inline-block;
        position: relative;

        .banner {
            max-width: 100%;
        }

        .content {
            position: absolute;
            left: 10%;
            top: 50%;
            width: 35%;
            transform: translateY(-50%);

            img {
                display: block;
                margin-bottom: 30px;
            }

            h2 {
                font-size: 38px;
                letter-spacing: -.5px;
                line-height: 100%;
                font-weight: bold;
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 25px;
                font-size: 16px;
            }
        }
    }

    ::ng-deep .swiper-pagination-bullet {

        width: 30px;
        height: 30px;
        background: transparent;
        border-radius: 50%;
        position: relative;
        opacity: 1;
        transition: all 0.3s ease-in-out;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #FFF;
            border: 1px solid #DDD;
        }

        &.swiper-pagination-bullet-active {
            border: 3px solid #E6E6E6;
        }

        &:hover::after {
            transform: translate(-50%, -50%) scale(1.2);
        }

    }
}


h2.sub-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #1D1D1F;
    padding: 30px 30px 30px 30px;
    text-align: center;
    font-size: 32px;
}

ul.series-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 48px;
}

ul li {
    list-style: none;
}

ul.series-container li.col-full {
    width: 100%;
}

ul.series-container li {
    width: calc(50% - 5px);
    background: #000;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

ul.series-container li .top {
    position: absolute;
    top: 50px;
    left: 5%;
    z-index: 10;
    width: 90%;
}

ul.series-container li .top h3 {
    color: #FFF;
    letter-spacing: -.5px;
    line-height: 100%;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

ul.series-container li.col-full .content {
    width: 30%;
}

ul.series-container li .content {
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 10;
    width: 50%;
}

ul.series-container li .content .new {
    color: #12DDD7;
    font-size: 14px;
    margin-bottom: 15px;
}

ul.series-container li .content p {
    color: #FFF;
    line-height: 120%;
    margin-bottom: 15px;
}

ul.series-container li .content .btn-container {
    display: inline-flex;
}

ul.series-container li .content .btn-container a.btn-more {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 25px;
    padding: 6px 16px;
    border: 2px solid #fff;
}

ul.series-container li .content .btn-container a {
    display: block;
    font-size: 16px;
    color: #FFF;
    position: relative;
    white-space: nowrap;
    padding-top: 7px;
    -webkit-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -o-transition: color 0.4s ease-out;
    -ms-transition: color 0.4s ease-out;
    transition: color 0.4s ease-out;
}

ul.series-container li.col-full .banner {
    padding-top: 44.643%;
}

ul.series-container li .banner {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 89.686%;
    overflow: hidden;
}

ul.series-container li .banner .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

ul.series-container li .banner .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

ul.series-container li .banner .img img {
    width: 100%;
    height: auto;
    display: block;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

ul.series-container li .banner .img img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

ul.series-container li .top nav {
    display: flex;
    justify-content: center;
}

ul.series-container li .top nav a {
    display: block;
    font-size: 18px;
    color: #FFF;
    position: relative;
    margin-right: 24px;
    white-space: nowrap;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    &::before {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 50%;
        width: 0;
        border-bottom: 1px solid #00AAA6;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }
}

ul.series-container li .top nav a.active {
    color: #00AAA6;

    &::before {
        width: 100%;
    }
}

.d-none {
    display: none;
}

@media screen and (max-width: 767px) {
    .main__visual .slide-item .content {
        width: 80%;
        margin: auto;
        top: 8%;
        text-align: center;
        left: 10% !important;
        right: 10% !important;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .main__visual .slide-item .content img {
        width: 142px;
        margin: 0 auto 5px auto;
    }
}

// @media screen and (max-width: 1023px) {
//     .page-wrapper {
//         padding-top: 20px;
//     }
// }