<!-- <section class="home__page">

    <div class="main__visual">
        <swiper [cssMode]="true" [navigation]="true" [pagination]="{ clickable: true }" [mousewheel]="true"
            [keyboard]="true" [loop]="true" class="mySwiper" [slidesPerView]="1" [spaceBetween]="30">
            <ng-template swiperSlide>
                <div>
                    <div class="slide-item">
                        <div class="content">
                            <img src="assets/hisense-white.png" alt="Hisense">
                            <h2 style="color: #fff">Laser TV</h2>
                            <p style="color: #fff">100L9G TRICHROMA LASER TV</p>
                            <a class="btn-hisense" href="/laser-tv/100l9g-trichroma-laser-tv" target="_blank"
                                tabindex="-1">Explore</a>
                        </div>
                        <img src="assets/desktop-banner-1.jpg" alt="banner" class="banner desktop-only">
                        <img src="assets/mobile-banner-1.jpg" alt="banner" class="banner mobile-only">
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div>
                    <div class="slide-item">
                        <div class="content">
                            <img src="assets/hisense-white.png" alt="Hisense">
                            <h2 style="color: #fff">Laser TV</h2>
                            <p style="color: #fff">100L9G TRICHROMA LASER TV</p>
                            <a class="btn-hisense" href="/laser-tv/100l9g-trichroma-laser-tv" target="_blank"
                                tabindex="-1">Explore</a>
                        </div>
                        <img src="assets/desktop-banner-1.jpg" alt="banner" class="banner desktop-only">
                        <img src="assets/mobile-banner-1.jpg" alt="banner" class="banner mobile-only">
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div>
                    <div class="slide-item">
                        <div class="content">
                            <img src="assets/hisense-white.png" alt="Hisense">
                            <h2 style="color: #fff">Laser TV</h2>
                            <p style="color: #fff">100L9G TRICHROMA LASER TV</p>
                            <a class="btn-hisense" href="/laser-tv/100l9g-trichroma-laser-tv" target="_blank"
                                tabindex="-1">Explore</a>
                        </div>
                        <img src="assets/desktop-banner-1.jpg" alt="banner" class="banner desktop-only">
                        <img src="assets/mobile-banner-1.jpg" alt="banner" class="banner mobile-only">
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div>
                    <div class="slide-item">
                        <div class="content">
                            <img src="assets/hisense-white.png" alt="Hisense">
                            <h2 style="color: #fff">Laser TV</h2>
                            <p style="color: #fff">100L9G TRICHROMA LASER TV</p>
                            <a class="btn-hisense" href="/laser-tv/100l9g-trichroma-laser-tv" target="_blank"
                                tabindex="-1">Explore</a>
                        </div>
                        <img src="assets/desktop-banner-1.jpg" alt="banner" class="banner desktop-only">
                        <img src="assets/mobile-banner-1.jpg" alt="banner" class="banner mobile-only">
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div>
                    <div class="slide-item">
                        <div class="content">
                            <img src="assets/hisense-white.png" alt="Hisense">
                            <h2 style="color: #fff">Laser TV</h2>
                            <p style="color: #fff">100L9G TRICHROMA LASER TV</p>
                            <a class="btn-hisense" href="/laser-tv/100l9g-trichroma-laser-tv" target="_blank"
                                tabindex="-1">Explore</a>
                        </div>
                        <img src="assets/desktop-banner-1.jpg" alt="banner" class="banner desktop-only">
                        <img src="assets/mobile-banner-1.jpg" alt="banner" class="banner mobile-only">
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div>
                    <div class="slide-item">
                        <div class="content">
                            <img src="assets/hisense-white.png" alt="Hisense">
                            <h2 style="color: #fff">Laser TV</h2>
                            <p style="color: #fff">100L9G TRICHROMA LASER TV</p>
                            <a class="btn-hisense" href="/laser-tv/100l9g-trichroma-laser-tv" target="_blank"
                                tabindex="-1">Explore</a>
                        </div>
                        <img src="assets/desktop-banner-1.jpg" alt="banner" class="banner desktop-only">
                        <img src="assets/mobile-banner-1.jpg" alt="banner" class="banner mobile-only">
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>

    <h2 class="sub-title">
        <p>Discover our <strong style="color: #00AAA6;">series</strong></p>
    </h2>

    <ul class="series-container">
        <li class="col-full">
            <div class="top">
                <h3>TV</h3>
                <nav>
                </nav>
            </div>
            <div class="content">
                <div class="item ">
                    <div class="new">New</div>

                    <p>ULED 8K TV U80G</p>

                    <div class="btn-container">
                        <a class="btn-more" href="/tv/uled-8k-tv-u80g.html" target="_self" rel="">More</a>

                        <a href="/tv-series/" target="_self" rel="">View all TV</a>
                    </div>
                </div>
            </div>

            <div class="banner">
                <div class="img" style="left: 0%;">
                    <img class="lazy desktop-only entered loaded"
                        data-src="/dam/jcr:41dd000c-288a-4cb6-a1d8-1b27f75a8d4b/hisense-uled-8k-tv-u80g.jpg"
                        alt="ULED 8K TV U80G" data-ll-status="loaded"
                        src="https://global.hisense.com/dam/jcr:41dd000c-288a-4cb6-a1d8-1b27f75a8d4b/hisense-uled-8k-tv-u80g.jpg">

                    <img class="lazy mobile-only"
                        data-src="https://global.hisense.com/dam/jcr:716847b7-d3f0-411b-909f-8d13db3e4231/hisense-uled-8k-tv-u80g-m.jpg"
                        alt="ULED 8K TV U80G">
                </div>
            </div>

        </li>
    </ul>

    <div>
        <ul class="series-container">
            <li class="col-full">
                <div class="top">
                    <h3>Laser TV</h3>
                    <nav style="transform: translateX(0px);">
                        <a [class.active]="onFirstSlide">Laser TV</a>
                        <a [class.active]="!onFirstSlide">Laser Cinema</a>
                    </nav>
                </div>
                <div class="content">
                    <div class="item ">
                        <div class="new">New</div>

                        <p>ULED 8K TV U80G</p>

                        <div class="btn-container">
                            <a class="btn-more" href="/tv/uled-8k-tv-u80g.html" target="_self" rel="">More</a>

                            <a href="/tv-series/" target="_self" rel="">View all TV</a>
                        </div>
                    </div>
                </div>

                <div class="banner">
                    <swiper style="position: absolute;top:0;left:0;" [cssMode]="true" [navigation]="true"
                        [keyboard]="true" [loop]="true" class="mySwiper" [slidesPerView]="1" [spaceBetween]="30"
                        (slideChange)="onSlideChange()" (swiper)="onSwiper($event)">
                        <ng-template swiperSlide>
                            <div>
                                <div class="img active">
                                    <img class="lazy desktop-only entered loaded"
                                        data-src="/dam/jcr:fb7a9ffe-0c68-4d3a-90f6-95ba7396b21f/hisense-88l5v-sonic-screen-laser-tv.jpg"
                                        alt="Laser TV 88L5V Sonic Screen" data-ll-status="loaded"
                                        src="https://global.hisense.com/dam/jcr:fb7a9ffe-0c68-4d3a-90f6-95ba7396b21f/hisense-88l5v-sonic-screen-laser-tv.jpg">

                                    <img class="lazy mobile-only entered exited loaded"
                                        data-src="/dam/jcr:2911e29a-3bfd-4536-904d-689192502d54/hisense-88l5v-sonic-screen-laser-tv-m.jpg"
                                        alt="Laser TV 88L5V Sonic Screen" data-ll-status="loaded"
                                        src="https://global.hisense.com/dam/jcr:2911e29a-3bfd-4536-904d-689192502d54/hisense-88l5v-sonic-screen-laser-tv-m.jpg">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div>
                                <div class="img">
                                    <img class="lazy desktop-only entered"
                                        data-src="/dam/jcr:3fcfa2b7-ca09-45b9-8075-91942d514ce5/hisense-120l5-ultra-short-throw-laser-cinema.jpg"
                                        alt="Laser Cinema 120L5 Ultra Short Throw" data-ll-status="loaded"
                                        src="https://global.hisense.com/dam/jcr:3fcfa2b7-ca09-45b9-8075-91942d514ce5/hisense-120l5-ultra-short-throw-laser-cinema.jpg">

                                    <img class="lazy mobile-only entered loaded"
                                        data-src="/dam/jcr:1cb000f7-112e-4643-a541-ef51b17b3dcc/hisense-120l5-ultra-short-throw-laser-cinema-m.jpg"
                                        alt="Laser Cinema 120L5 Ultra Short Throw" data-ll-status="loaded"
                                        src="https://global.hisense.com/dam/jcr:1cb000f7-112e-4643-a541-ef51b17b3dcc/hisense-120l5-ultra-short-throw-laser-cinema-m.jpg">
                                </div>
                            </div>
                        </ng-template>
                    </swiper>
                </div>

            </li>
        </ul>
    </div>


    <app-marketing-video></app-marketing-video>

</section> -->
<!-- 
        <h2 class="sub-title">About <strong style="color: #00AAA6;">Hisense</strong></h2>
    
        <div class="slide-item" style="width: 100%; display: inline-block;">
            <div class="content">
                <p>In <span style="color: #00AAA6;">Love</span><br>
                    with Technology
                </p>
                <a class="btn-more" href="/about-hisense/overview/" target="_self" rel="" tabindex="0">Explore More</a>
            </div>
    
            <div class="banner">
                <img class="desktop-only" src="https://global.hisense.com//dam/jcr:9b00cbd4-d769-49e5-bc56-0cbf29b58509/slider1.jpg"
                    alt="About Hisense Overview Image">
                <img class="mobile-only" src="https://global.hisense.com//dam/jcr:d2e62d78-6b63-4fc5-8b81-83307706c79f/m_slider.jpg"
                    alt="About Hisense Overview Image">
            </div>
        </div> -->
<div class="page-wrapper">
    <div class="main-container" style="margin-bottom: -10px;">
        <h1 class="visuallyhidden">Hisense Global Website</h1>
        <app-main-slider [slides]="slides"></app-main-slider>
        <!-- <app-series></app-series> -->
        <!-- <app-about></app-about> -->
        <app-home-products></app-home-products>
        <app-customer-testimonials *ngIf="customerTestimonials" [customerTestimonials]="customerTestimonials"></app-customer-testimonials>
        <app-marketing-video></app-marketing-video>
        <!-- <app-subscribe-now></app-subscribe-now> -->
    </div>
</div>