<section class="page">

    <div class="page__cover page__section page__section_centered" data-ui-white="">
        <div class="page__cover-inner desktop-banner"
            style="background-color: rgb(32, 32, 32); transform: translateY(0px);">
        </div>
        <div class="page__cover-inner mobile-banner" style="background-color: rgb(32, 32, 32); transform: translateY(0px);">
        </div>
        <div class="page__container">
            <h1 class="page__title">Contact Us</h1>
        </div>
    </div>
    
    <div class="container" style="margin-top:60px; margin-bottom:60px;">
        <div class="row" style="">
            <div class="col-sm-6 col-md-6 co-lg-6" style="padding:30px;">
                <h4>For Customer</h4>
                <div class="row" style="margin-top:20px;">
    
                    <div class="col-sm-3 col-md-3 co-lg-3" style="padding-left:0;">
                        <b>Email :</b>
                    </div>
                    <div class="col-sm-6 col-md-6 co-lg-6 p-0">
                        <a href="mailto:india@hisense.com" style="color:#000;">india@hisense.com</a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
    
                    <div class="col-sm-3 col-md-3 co-lg-3" style="padding-left:0;">
                        <b>Phone:</b>
                    </div>
                    <div class="col-sm-6 col-md-6 co-lg-6 p-0">
                        <p><a href="tel:18002661969" style="color:#000;">1800 266 1969</a></p>
                    </div>
                </div>
                <h4 style="margin-top:40px;">For Business</h4>
                <div class="row" style="margin-top:20px;">
    
                    <div class="col-sm-3 col-md-3 co-lg-3" style="padding-left:0;">
                        <b>Email :</b>
                    </div>
                    <div class="col-sm-6 col-md-6 co-lg-6 p-0">
                        <a href="mailto:india@hisense.com" style="color:#000;">india@hisense.com</a>
                    </div>
                </div>
                <!-- 
    <div class="row" style='margin-top:20px;'>
                    
                    <!~~ 
    <div class="col-sm-3 col-md-3 co-lg-3" style="padding-left:0;">
                        <b>Phone:</b>
                    </div>
     ~~>
                    <div class="colsm-6 col-md-6 co-lg-6">
                         <p><a href="tel:18002661969" style="color:#000;">1800 266 1969</a></p>
                    </div>
                </div>
     -->
                <h4 style="margin-top:40px;">Corporate Office</h4>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-12 co-lg-12" style="padding-left:0;">
                        <p>Hisense India Private Limited, 009-010, Ground Floor, IHDP Business Park, Sector 127, Noida,
                            Uttar Pradesh-201301</p>
                    </div>
                </div>
            </div>
            <div class="colsm-6 col-md-6 co-lg-6" style="border:2px solid black; padding:20px;">
                <h2 style="font-size: 30px;">Have a Query?</h2>
                <div role="form" class="wpcf7" id="wpcf7-f2330-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response">
                        <p role="status" aria-live="polite" aria-atomic="true"></p>
                        <ul></ul>
                    </div>
                    <form action="/contact-us/#wpcf7-f2330-o1" method="post" class="wpcf7-form init" novalidate="novalidate"
                        data-status="init">
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="2330">
                            <input type="hidden" name="_wpcf7_version" value="5.5.6">
                            <input type="hidden" name="_wpcf7_locale" value="en_US">
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2330-o1">
                            <input type="hidden" name="_wpcf7_container_post" value="0">
                            <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-0">
                                <div class="form-group">
                                    <label> Name<br>
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name"
                                                value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                aria-required="true" aria-invalid="false" placeholder="Enter Name*"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label> Phone<br>
                                        <span class="wpcf7-form-control-wrap your-phone"><input type="text"
                                                name="your-phone" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                aria-required="true" aria-invalid="false" placeholder="Enter phone*"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label> Your email<br>
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                                name="your-email" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                                aria-required="true" aria-invalid="false" placeholder="Enter email*"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Message<br>
                                        <span class="wpcf7-form-control-wrap your-message">
                                            <!-- <grammarly-extension data-grammarly-shadow-root="true"
                                                style="position: absolute; top: 0px; left: 0px; pointer-events: none;"
                                                class="cGcvT"></grammarly-extension> -->
                                            <!-- <grammarly-extension data-grammarly-shadow-root="true"
                                                style="mix-blend-mode: darken; position: absolute; top: 0px; left: 0px; pointer-events: none;"
                                                class="cGcvT"></grammarly-extension> -->
                                                <textarea name="your-message" cols="40"
                                                rows="10"
                                                class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control h-50px"
                                                aria-required="true" aria-invalid="false" placeholder="Enter message*"
                                                spellcheck="false"></textarea>
                                        </span> </label>
                                </div>
                                <p><input type="submit" value="Submit"
                                        class="wpcf7-form-control has-spinner wpcf7-submit"><span
                                        class="wpcf7-spinner"></span>
                                </p>
                            </div>
                        </div>
                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                    </form>
                </div>
                <!--form action="">
                    <div class="form-group">
          <label for="email">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
                    <div class="form-group">
          <label for="email">Phone:</label>
          <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Message:</label>
          <textarea  class="form-control" id="msg" placeholder="Enter your Query" name="msg"></textarea>
        </div>
                    <div class="center" Style="text-align: center;">
        <button type="submit" class="btn btn-default" style="background-color:#00cccc!important; color:#fff!important;">Submit</button>
                    </div>
      </form-->
            </div>
        </div>
    </div>
</section>