<section class="page">
    <div class="breadcrumb__yellow__banner">
        <h1>contact us</h1>
    </div>

    <div class="contact__us__container" style="margin-top:60px; margin-bottom:60px;">
        <div class="flex-wrapper">
            <div>
                <h4>For installation and service support only</h4>
                <div class="row" style="margin-top:20px;">

                    <div class="col-sm-3 col-md-3 co-lg-3" style="padding-left:0;">
                        <b>Email :</b>
                    </div>
                    <div class="col-sm-6 col-md-6 co-lg-6 p-0">
                        <a class="mailto" href="mailto:india@hisense.com">india@hisense.com</a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">

                    <div class="col-sm-3 col-md-3 co-lg-3" style="padding-left:0;">
                        <b>Phone:</b>
                    </div>
                    <div class="col-sm-6 col-md-6 co-lg-6 p-0">
                        <p><a class="telephone" href="tel:18002661969">1800 266 1969</a></p>
                    </div>
                </div>
                <h4 style="margin-top:40px;">For Business</h4>
                <div class="row" style="margin-top:20px;">

                    <div class="col-sm-3 col-md-3 co-lg-3" style="padding-left:0;">
                        <b>Email :</b>
                    </div>
                    <div class="col-sm-6 col-md-6 co-lg-6 p-0">
                        <a class="mailto" href="mailto:india@hisense.com">india@hisense.com</a>
                    </div>
                </div>

                <h4 style="margin-top:40px;">For Complaints</h4>
                <table>
                    <tr>
                        <th>Escalation level</th>
                        <th>Method</th>
                        <th>Toll Free Number</th>
                    </tr>
                    <tr>
                        <td>Level 1</td>
                        <td>Call</td>
                        <td><a class="telephone" href="tel:18002661969">18002661969</a></td>
                    </tr>
                    <tr>
                        <td>Level 2</td>
                        <td>E-mail</td>
                        <td><a href="mailto:india.service@hisense.com" class="mailto">india.service@hisense.com</a></td>
                    </tr>
                    <tr>
                        <td>Level 3</td>
                        <td>E-mail</td>
                        <td><a href="mailto:in.servicehead@hisense.com" class="mailto">in.servicehead@hisense.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Queries</td>
                        <td>E-mail</td>
                        <td><a href="mailto:india@hisense.com" class="mailto">india@hisense.com</a></td>
                    </tr>
                </table>

                <h4 style="margin-top:40px;">Corporate Office</h4>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-12 co-lg-12" style="padding-left:0;">
                        <p>Hisense India Private Limited, 009-010, Ground Floor, IHDP Business Park, Sector 127, Noida,
                            Uttar Pradesh-201301</p>
                    </div>
                </div>
            </div>
            <!-- <div style="border:2px solid black; padding:20px;">
                <h2 style="font-size: 30px;">Have a Query?</h2>
                <div role="form" class="wpcf7" id="wpcf7-f2330-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response">
                        <p role="status" aria-live="polite" aria-atomic="true"></p>
                        <ul></ul>
                    </div>
                    <form class="wpcf7-form init" data-status="init" [formGroup]="form">
                        <div class="row">
                            <div class="col-md-12 p-0">
                                <div class="form-group">
                                    <label> Name<br>
                                        <span class="wpcf7-form-control-wrap your-name">
                                            <input type="text" name="your-name" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                aria-required="true" aria-invalid="false" placeholder="Enter Name*"
                                                formControlName="name">
                                        </span>
                                    </label>
                                    <div class="text-danger" *ngIf="isFormSubmitted && form.controls['name'].errors">
                                        <span *ngIf="form.controls['name'].errors['required']">Name is required!</span>
                                        <span *ngIf="form.controls['name'].errors['pattern']">Name can only contain
                                            alphabets!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label> Phone<br>
                                        <span class="wpcf7-form-control-wrap your-phone"><input type="text"
                                                name="your-phone" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                aria-required="true" aria-invalid="false" placeholder="Enter phone*"
                                                formControlName="phone">
                                        </span>
                                    </label>
                                    <div class="text-danger" *ngIf="isFormSubmitted && form.controls['phone'].errors">
                                        <span *ngIf="form.controls['phone'].errors['required']">Phone Number is
                                            required!</span>
                                        <span *ngIf="form.controls['phone'].errors['minlength']">Phone Number can only
                                            contain 10 digits!</span>
                                        <span *ngIf="form.controls['phone'].errors['maxlength']">Phone Number can only
                                            contain 10 digits!</span>
                                        <span *ngIf="form.controls['phone'].errors['pattern']">Phone Number can only
                                            contain digits!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label> Your email<br>
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                                name="your-email" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                                aria-required="true" aria-invalid="false" placeholder="Enter email*"
                                                formControlName="email">
                                        </span>
                                    </label>
                                    <div class="text-danger" *ngIf="isFormSubmitted && form.controls['email'].errors">
                                        <span *ngIf="form.controls['email'].errors['required']">Email is
                                            required!</span>
                                        <span *ngIf="form.controls['email'].errors['email']">Enter a valid email!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Message<br>
                                        <span class="wpcf7-form-control-wrap your-message">
                                            <textarea name="your-message" cols="40" rows="10"
                                                class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control h-50px"
                                                aria-required="true" aria-invalid="false" placeholder="Enter message*"
                                                spellcheck="false" formControlName="body"></textarea>
                                        </span>
                                    </label>
                                    <div class="text-danger" *ngIf="isFormSubmitted && form.controls['body'].errors">
                                        <span *ngIf="form.controls['body'].errors['required']">Message is
                                            required!</span>
                                    </div>
                                </div>
                                <button (click)="onSubmit()" class="btn-hisense-v2 submit__btn" [disabled]="isLoading">
                                    <span>Submit</span>
                                    <span *ngIf="isLoading" class="busy"></span>
                                </button>
                            </div>
                        </div>
                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                    </form>
                </div>
            </div> -->

            <div class="service__request__form">
                <div class="step">
                    <div class="step__head">
                        <h3>Your Product Choice</h3>
                    </div>
                    <div class="step__body">
                        <form *ngIf="metaData">
                            <div class="product__choice__container">
                                <div class="product__input__container">
                                    <div class="form__group">
                                        <label>Select Product</label>
                                        <div class="form__control">
                                            <ng-select (change)="selectSearchProductChanged($event)"
                                                [items]="productVarients" bindLabel="productFullDetails" bindValue="id"
                                                [(ngModel)]="selectedVarient" [ngModelOptions]="{standalone: true}">
                                            </ng-select>
                                            <div *ngIf="isFormSubmitted && !selectedProductVarient" #ErrorMessage
                                                class="error__message"><span>Product is Required!</span></div>
                                        </div>
                                    </div>
                                    <span class="my-3 text-center">OR</span>
                                    <div class="form__group">
                                        <label>Select by Category</label>
                                        <div class="category__select__container">
                                            <select (change)="updateCategory($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCategoryId">
                                                <option value="null" disabled selected>Select Category</option>
                                                <option *ngFor="let cat of metaData.categories" [value]="cat.id">
                                                    {{cat.name}}</option>
                                            </select>
                                            <select *ngIf="selectedCategory" (change)="updateSubCategory($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedSubCategoryId">
                                                <option value="null" disabled selected>Select Sub Category</option>
                                                <option *ngFor="let subCat of selectedCategory.subcategories"
                                                    [value]="subCat.id">{{subCat.name}}</option>
                                            </select>
                                            <select *ngIf="selectedSubCategory" (change)="updateProduct($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProductId">
                                                <option value="null" disabled selected>Select Product Group</option>
                                                <option *ngFor="let varient of selectedSubCategory.category_products"
                                                    [value]="varient.product.id">{{varient.product.name}}</option>
                                            </select>
                                            <select *ngIf="selectedProduct" (change)="updateProductVarient($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProductVarientId">
                                                <option value="null">Select Product</option>
                                                <option *ngFor="let varient of selectedProduct.product.product_variants"
                                                    [value]="varient.id">{{varient.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form__group">
                                        <label>Product Purchase Date <span class="text__danger">*</span></label>
                                        <div class="form__control">
                                            <input [(ngModel)]="product_purchase_date" type="date" name="date" id="date"
                                                [max]="today" (change)="setRegistrationDate($event)" class="w-100">
                                            <div *ngIf="isFormSubmitted && !product_purchase_date" #ErrorMessage
                                                class="error__message"><span>Purchase Date is Required!</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="preview__container">
                                    <div *ngIf="selectedProductVarient;else elseBlock" class="flex flex-column justify-content-center align-items-center" style="padding: 24px;">
                                        <div class="selected__product__img">
                                            <img [src]="selectedProductVarient.thumb_image.full_url"
                                                [alt]="selectedProductVarient.thumb_image.filename">
                                        </div>
                                        <div class="mt-5 selected__product__name text__center">
                                            {{selectedProductVarient.name}}</div>
                                        <div class="mt-2 font-14 selected__product__code text__center" *ngIf="selectedProductVarient.name != selectedProductVarient.code">
                                            {{selectedProductVarient.code}}</div>
                                        <div class="mt-2 font-14 selected__product__variant_size text__center">
                                            {{selectedProductVarient.variant_size}}</div>
                                        <a [routerLink]="selectedProductVarient.relative_url" style="text-decoration: none;" target="_blank">
                                            <button style="padding: 10px 20px;" class="btn-hisense-v2 submit__btn"
                                                >Click Here to view Product</button></a>
                                    </div>

                                    <ng-template #elseBlock>
                                        <div
                                            class="flex flex-column justify-content-center align-items-center w-80 m-auto">
                                            <img alt="No Image" src="assets/no-image.svg" width="110" height="77">
                                            <div class="text__center mt-3">Enter Model Name or Select by Product
                                                Category <span class="text__danger">*</span></div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>

                <div class="step">
                    <div class="step__head">
                        <h3>Product Issue</h3>
                    </div>
                    <div class="step__body">
                        <form *ngIf="metaData">
                            <div class="form__group symptoms__container">
                                <label>Symptoms <span class="text__danger">*</span></label>
                                <div class="form__control flex flex-column" style="gap: 1rem;">
                                    <div>
                                        <select (change)="changeTopic($event)" style="width: 100%;">
                                            <option disabled selected value="null">Topic</option>
                                            <option *ngFor="let topic of metaData.contact_topics" [value]="topic.title">
                                                {{topic.title}}</option>
                                        </select>
                                        <div *ngIf="isFormSubmitted && !selectedTopic?.title" #ErrorMessage
                                            class="error__message"><span>Topic is Required!</span></div>
                                    </div>
                                    <div>
                                        <select (change)="changeSubTopic($event)" style="width: 100%;"
                                            [disabled]="!selectedTopic?.sub_topics?.length">
                                            <option value="null" disabled selected>Sub Topic</option>
                                            <option *ngFor="let topic of selectedTopic?.sub_topics" [value]="topic">
                                                {{topic}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form__group mt-3">
                                <label>Description <span class="text__danger">*</span></label>
                                <div class="form__control">
                                    <textarea style="width: 100%;" [(ngModel)]="body" cols="30" rows="6"
                                        [ngModelOptions]="{standalone: true}"></textarea>
                                    <div *ngIf="isFormSubmitted && !body" #ErrorMessage class="error__message">
                                        <span>Description is Required!</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="step">
                    <div class="step__head">
                        <h3>Contact Information</h3>
                    </div>
                    <div class="step__body">
                        <form *ngIf="metaData">
                            <div class="contact__information__form mb-5">
                                <div class="form__group">
                                    <label>Name <span class="text__danger">*</span></label>
                                    <div class="form__control">
                                        <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div *ngIf="isFormSubmitted && !name" #ErrorMessage class="error__message">
                                        <span>Name is Required!</span>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <label>Phone Number <span class="text__danger">*</span></label>
                                    <div class="form__control">
                                        <input type="text" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div *ngIf="isFormSubmitted && !phone" #ErrorMessage class="error__message">
                                        <span>Phone Number is Required!</span>
                                    </div>
                                    <div class="error__message" #ErrorMessage
                                        *ngIf="isFormSubmitted && (phone.length != 10 || checkPhonePattern())">
                                        <span>Phone Number should contain 10 digits!</span>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <label>Email <span class="text__danger">*</span></label>
                                    <div class="form__control">
                                        <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div *ngIf="isFormSubmitted && !email" #ErrorMessage class="error__message">
                                        <span>Email is Required!</span>
                                    </div>
                                    <div class="error__message" #ErrorMessage
                                        *ngIf="isFormSubmitted && checkEmailPattern()">
                                        <span>Phone Number should contain 10 digits!</span>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <label>Address <span class="text__danger">*</span></label>
                                    <div class="form__control">
                                        <input type="text" [(ngModel)]="address" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div *ngIf="isFormSubmitted && !address" #ErrorMessage class="error__message">
                                        <span>Address is Required!</span>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <label>City <span class="text__danger">*</span></label>
                                    <div class="form__control">
                                        <input type="text" [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div *ngIf="isFormSubmitted && !city" #ErrorMessage class="error__message">
                                        <span>City is Required!</span>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <label>State <span class="text__danger">*</span></label>
                                    <div class="form__control">
                                        <input type="text" [(ngModel)]="state1" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div *ngIf="isFormSubmitted && !state1" #ErrorMessage class="error__message">
                                        <span>State is Required!</span>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <label>Pin Code <span class="text__danger">*</span></label>
                                    <div class="form__control">
                                        <input type="text" [(ngModel)]="zipcode" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div *ngIf="isFormSubmitted && !zipcode" #ErrorMessage class="error__message">
                                        <span>Pin Code is Required!</span>
                                    </div>
                                    <div class="error__message" #ErrorMessage
                                        *ngIf="isFormSubmitted && (zipcode.length != 6 || checkPhonePattern(zipcode))">
                                        <span>Pin Code should contain 6 digits!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="privacy__policy pt-5">
                                <div class="form__group">
                                    <label>Privacy Policy</label>
                                    <div class="form__control flex align-items-center" style="gap: 8px;">
                                        <input type="checkbox" [(ngModel)]="privacyPolicy"
                                            [ngModelOptions]="{standalone: true}">
                                        <span class="aggreement__text">I agree with the data protection policy. <span
                                                class="text__danger">*</span> &nbsp;<a routerLink="/privacy-policy"
                                                class="link-text" target="_blank" title="Opens in a new window">Read
                                                More</a></span>
                                    </div>
                                    <div *ngIf="isFormSubmitted && !privacyPolicy" #ErrorMessage class="error__message">
                                        <span>Policy Agreement is not checked!</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="flex justify-content-center my-5">
                    <button (click)="onSubmit()" style="padding: 10px 20px;" class="btn-hisense-v2 submit__btn"
                        [disabled]="isLoading">
                        <span>Submit</span>
                        <span *ngIf="isLoading" class="busy"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal" (click)="modalMessage = ''" [ngClass]="{'show-modal': modalMessage}">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-image">
            <img [src]="modalImageName" style="transform: scale(2.5);" alt="status">
        </div>
        <h1 *ngIf="modalImageName === 'assets/images/warning.png'">Error!</h1>
        <!-- <span (click)="modalMessage = ''" class="close-button">&times;</span> -->
        <h3 style="line-height: 1.5;margin-bottom: 2em;color: #666;">{{modalMessage}}</h3>
        <button (click)="modalMessage = ''" class="js-close">Dismiss</button>
    </div>
</div>