<div class="page-wrapper">
    <div class="main-container">
        <app-ui-main-slider [slides]="slides" [navigation]="slides.length > 1" [loop]="true" [pagination]="true">
        </app-ui-main-slider>

        <app-product-series></app-product-series>

        <div class="overview-full-col">
            <div class="overview-full-col-wrapper">
                <h2>VIDAA SMART</h2>
                <div class="desc">Best global and local content</div>
                <div class="overview-full-col-container">
                    <div class="banner">
                        <div class="img" style="cursor: default;">
                            <img class="desktop-only"
                                src="https://global.hisense.com/dam/jcr:21516bc3-02ce-4850-816e-ef6e67438765/hisense-tv-vidaa-smart.jpg"
                                data-src="https://global.hisense.com/dam/jcr:21516bc3-02ce-4850-816e-ef6e67438765/hisense-tv-vidaa-smart.jpg"
                                alt="Hisense TV VIDAA Smart">
                            <img class="mobile-only"
                                src="https://global.hisense.com/dam/jcr:686b30e1-1d2c-4099-8c45-f5131ef0269a/hisense-tv-vidaa-smart-mobile.jpg"
                                data-src="https://global.hisense.com/dam/jcr:686b30e1-1d2c-4099-8c45-f5131ef0269a/hisense-tv-vidaa-smart-mobile.jpg"
                                alt="Hisense TV VIDAA Smart">
                        </div>
                    </div>
                    <div class="overview-content theme-white">
                        <div class="item">
                            <p></p>
                            <div class="btn-container">
                                <a routerLink="/tv">View all TV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="overview-two-col">
            <div class="overview-two-col-wrapper ">
                <div>
                    <h2>Generation for gaming</h2>
                    <div class="desc">Game Mode Pro</div>
                    <div class="overview-two-col-container ">
                        <div class="banner">
                            <div class="img">
                                <img class="desktop-only"
                                    src="https://global.hisense.com/dam/jcr:5ac0c431-e0fb-4f39-bf0f-6c01306697fd/hisense-tv-gamemode.jpg"
                                    data-src="https://global.hisense.com/dam/jcr:5ac0c431-e0fb-4f39-bf0f-6c01306697fd/hisense-tv-gamemode.jpg"
                                    alt="Hisense ULED 8K TV U80G">
                                <img class="mobile-only"
                                    src="https://global.hisense.com/dam/jcr:257fd56b-217d-4c20-9e06-3c9e73f489ad/hisense-tv-gamemode-mobile.jpg"
                                    data-src="https://global.hisense.com/dam/jcr:257fd56b-217d-4c20-9e06-3c9e73f489ad/hisense-tv-gamemode-mobile.jpg"
                                    alt="Hisense ULED 8K TV U80G">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>Accurate bright and dark</h2>
                    <div class="desc">Contrast control technologies</div>
                    <div class="overview-two-col-container ">
                        <div class="banner">
                            <div class="img">
                                <img class="desktop-only"
                                    src="https://global.hisense.com/dam/jcr:6a1d1e7d-b277-4266-aad0-29c295f65212/hisense-tv-contrast-control.jpg"
                                    data-src="https://global.hisense.com/dam/jcr:6a1d1e7d-b277-4266-aad0-29c295f65212/hisense-tv-contrast-control.jpg"
                                    alt="Hisense DUAL-CELL ULED 4K TV U9DG">
                                <img class="mobile-only"
                                    src="https://global.hisense.com/dam/jcr:eb2bccf8-3c37-46f6-87ec-b208166fb25c/hisense-tv-contrast-control-mobile.jpg"
                                    data-src="https://global.hisense.com/dam/jcr:eb2bccf8-3c37-46f6-87ec-b208166fb25c/hisense-tv-contrast-control-mobile.jpg"
                                    alt="Hisense DUAL-CELL ULED 4K TV U9DG">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-listing">
            <h2>Our Recommendation</h2>
            <div class="product-listing-inner">
                <div class="product-listing-tab">
                    <a class="product-listing-img trackin" data-track="" href="/tv/uled-4k-tv-u8g"
                        style="transform: translateY(0px);">
                        <img src="https://global.hisense.com/dam/jcr:b0dc12f2-3e04-43e1-88a6-90494875f5f2/U8G@2x.png"
                            alt="Hisense ULED 4K TV U8G icon">
                    </a>
                    <div class="product-listing-tab-content">
                        <h4>ULED</h4>
                        <h3>ULED 4K TV U8G</h3>
                        <div class="product-listing-description"> </div>
                        <div class="product-highlights trackin" data-track="" style="transform: translateY(0px);">
                            <div class="product-highlights-cursor"></div>
                            <a class="product-highlight" href="#">
                                <img src="https://global.hisense.com/dam/jcr:53d78b6a-4957-4718-b900-e44483535222/Icon3@2x.png"
                                    alt="Hisense U8G - HDR10 Small Icon">
                                <div class="product-highlight-text">HDR10+</div>
                            </a>
                            <a class="product-highlight" href="#">
                                <img src="https://global.hisense.com/dam/jcr:4b2e0a9a-d838-42ba-964a-448070271306/Icon3@2x.png"
                                    alt="Hisense U8G - Dolby Vision Atmos Small Icon">
                                <div class="product-highlight-text">Dolby Vision Atmos</div>
                            </a>
                            <a class="product-highlight" href="#">
                                <img src="https://global.hisense.com/dam/jcr:8403045c-c629-4070-80d4-e65f55c29de1/Icon2@2x.png"
                                    alt="Hisense U8G - Full Array Local Dimming Pro Small Icon">
                                <div class="product-highlight-text">Full Array Local Dimming Pro</div>
                            </a>
                        </div>
                        <div class="product-highlights-description"> </div>
                    </div>
                    <div class="product-listing-tab-buttons trackin" data-track="35"
                        style="transform: translateY(35px);">
                        <div><a class="btn-detail" href="/tv/uled-4k-tv-u8g" target="_self">Detail</a></div>
                        <div>
                            <a class="btn-hisense" href="/regional?type=where-to-buy">Where to buy</a>

                        </div>
                    </div>
                </div>
                <div class="product-listing-tab">
                    <a class="product-listing-img trackin" data-track="" href="/tv/uled-4k-tv-u7g"
                        style="transform: translateY(0px);">
                        <img src="https://global.hisense.com/dam/jcr:fd5c8e29-fbcd-42c5-8cdb-2a24e51b9997/U7G@2x.png"
                            alt="ULED 4K TV U7G product image ">
                    </a>
                    <div class="product-listing-tab-content">
                        <h4>ULED</h4>
                        <h3>ULED 4K TV U7G</h3>
                        <div class="product-listing-description"> </div>
                        <div class="product-highlights trackin" data-track="" style="transform: translateY(0px);">
                            <div class="product-highlights-cursor"></div>
                            <a class="product-highlight" href="#">
                                <img src="https://global.hisense.com/dam/jcr:d0e59b47-3d00-4eb6-a0c2-ae8cbbdefdea/Icon1@2x.png"
                                    alt="Hisense U7G - Quantum Dot Colour Small Icon">
                                <div class="product-highlight-text">Quantum Dot Colour</div>
                            </a>
                            <a class="product-highlight" href="#">
                                <img src="https://global.hisense.com/dam/jcr:7d449718-540a-4b77-b206-1bf8f9039583/Icon2@2x.png"
                                    alt="Hisense U6G - Full Array Local Dimming Small Icon">
                                <div class="product-highlight-text">Full Array Local Dimming</div>
                            </a>
                            <a class="product-highlight" href="#">
                                <img src="https://global.hisense.com/dam/jcr:418c8d0c-101d-4ad2-a5ac-d5e737145ec6/Icon3@2x.png"
                                    alt="Hisense U6G - HDR10+ Small Icon">
                                <div class="product-highlight-text">HDR10+</div>
                            </a>
                        </div>
                        <div class="product-highlights-description"> </div>
                    </div>
                    <div class="product-listing-tab-buttons trackin" data-track="35"
                        style="transform: translateY(35px);">
                        <div><a class="btn-detail" href="/tv/uled-4k-tv-u7g" target="_self">Detail</a></div>
                        <div>
                            <a class="btn-hisense" href="/regional?type=where-to-buy">Where to buy</a>

                        </div>
                    </div>
                </div>
                <div class="product-listing-tab">
                    <a class="product-listing-img trackin" data-track="" href="/tv/uhd-4k-tv-a7g"
                        style="transform: translateY(0px);">
                        <img src="https://global.hisense.com/dam/jcr:6eb604e4-9dcb-476a-9aa1-d1000606d5ce/A7G@2x.png"
                            alt="UHD 4K TV A7G">
                    </a>
                    <div class="product-listing-tab-content">
                        <h4>UHD</h4>
                        <h3>UHD 4K TV A7G</h3>
                        <div class="product-listing-description"> </div>
                        <div class="product-highlights trackin" data-track="" style="transform: translateY(0px);">
                            <div class="product-highlights-cursor"></div>
                            <a class="product-highlight" href="#">
                                <img src="https://global.hisense.com/dam/jcr:344ac9ff-a06a-4205-a94c-e2f8f93a1437/Icon1@2x.png"
                                    alt="Hisense A7G - UHD AI Upscaler listing icon">
                                <div class="product-highlight-text">UHD AI Upscaler</div>
                            </a>
                            <a class="product-highlight" href="#">
                                <img src="https://global.hisense.com/dam/jcr:4b2e0a9a-d838-42ba-964a-448070271306/Icon3@2x.png"
                                    alt="Hisense A7G - Dolby Vision Atmos listing icon">
                                <div class="product-highlight-text">Dolby Vision Atmos</div>
                            </a>
                            <a class="product-highlight" href="#">
                                <img src="https://global.hisense.com/dam/jcr:b97f01c4-2bbd-403e-99a5-aeeef36e5280/Icon2@2x.png"
                                    alt="Hisense A7G - Ai Picture Optimization listing icon">
                                <div class="product-highlight-text">AI Picture Optimization</div>
                            </a>
                        </div>
                        <div class="product-highlights-description"> </div>
                    </div>
                    <div class="product-listing-tab-buttons trackin" data-track="35"
                        style="transform: translateY(35px);">
                        <div><a class="btn-detail" href="/tv/uhd-4k-tv-a7g" target="_self">Detail</a></div>
                        <div>
                            <a class="btn-hisense" href="/regional?type=where-to-buy">Where to buy</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="view-more"><a href="/tv" target="_self">View all</a></div>
        </div>
    </div>
</div>