<div class="page-wrapper">
    <div class="main-container">
        <div class="about-overview about-csr">
            <section id="overview-silder" class="trackin overview-silder">
                <div class="text-box mt-0 trackin pos-relative">
                    <div class="text-box-with-image csr">
                        <div class="img-overlay"></div>
                        <div class="mobile-only" src="assets/about-hisense/overview/m_csr.jpg"
                            alt="Everything we do should make your life simpler"></div>
                        <div class="desktop-only" src="assets/about-hisense/overview/csr.jpg"
                            alt="Everything we do should make your life simpler"></div>
                    </div>

                    <div class="two-box-info absolute-c-c trackin pos-abolute-center">
                        <h1 class="hisenseBold text-center col-white">
                            <p>Corporate Social <span>Responsibility</span></p>
                        </h1>
                    </div>
                </div>
            </section>

            <section class="text-box">
                <div class="container trackin">
                    <div class="text-box-info text-center">
                        <p class="hisenseLight">Hisense actively decorates to social public welfare and takes the
                            initiative to assume social responsibility, which have been deeply rooted in Hisense culture
                            and planted all over the world with the global development at Hisense brand.</p>
                    </div>
                </div>
            </section>

            <section id="two-box text-box" class="trackin color-black">
                <div class="container overview-container">
                    <div class="left-container trackin" style="background-color: transparent;">
                        <div class="bg-holder">
                            <div class="zoom desktop-only"
                                style="background:url(../../../../assets/about-hisense/overview/safrica2.png) no-repeat; background-position: center;background-size:cover;height: 420px;">
                            </div>
                            <div class="zoom mobile-only"
                                style="background:url(../../../../assets/about-hisense/overview/safrica2.png) no-repeat; background-position: center;background-size:cover;height: 230px;">
                            </div>
                        </div>
                        <div class="two-box-info absolute">
                            <h4 class="hisenseBold"><strong>Hisense's social welfare activities in South Africa</strong>
                            </h4>
                            <div class="hisenseLight">
                                <p>On Mandela Day, Hisense South Africa sent support to more than 700 lonely elderly
                                    people in local pension institutions, and donated televisions and daily necessities
                                    to the non-profit child care center in Johannesburg.</p>
                            </div>
                            <!-- <a class="hisenseMedium btn_more"
                                href="/about-hisense/csr/social-welfare-in-south-africa">See More</a> -->
                        </div>
                    </div>
                    <div class="two-box-gap"></div>
                    <div class="right-container trackin">
                        <div class="bg-holder">
                            <div class="zoom desktop-only"
                                style="background:url(../../../../assets/about-hisense/overview/portugal.jpg) no-repeat;background-position: center;background-size: cover;height: 420px;">
                            </div>
                            <div class="zoom mobile-only"
                                style="background:url(../../../../assets/about-hisense/overview/portugal.jpg) no-repeat;background-position: center;background-size: cover;height: 230px;">
                            </div>
                        </div>
                        <div class="two-box-info absolute">
                            <h4 class="hisenseBold"><strong>Charity Event: Hisense Donation to SOS Children's Village in
                                    Portugal</strong></h4>
                            <div class="hisenseLight">
                                <p>June 9th, Hisense teamed up with its ambassador Mr. Deco to SOS Children's village in
                                    Porto, Portugal for a charity event and donated a suite of our best products: TV,
                                    mobile, air conditioners and washing machines, which will provide the children with
                                    better living condition.&nbsp;</p>
                            </div>
                            <!-- <a class="hisenseMedium btn_more"
                                href="/about-hisense/csr/charity-event-donation-to-sos-children-village-in-portugal">See
                                More</a> -->
                        </div>
                    </div>
                </div>
            </section>

            <section class="text-box text-video-box trackin">
                <div class="container overview-container">
                    <div class="bg-overflow-h w-100">
                        <div class="text-box-with-image bg-holder zoom desktop-only" style="background:url(../../../../assets/about-hisense/overview/csr_banner2.jpg) no-repeat;background-position: center;background-size: cover;height: 600px;">
                            <div class="img-overlay"></div>
                        </div>
                        <div class="text-box-with-image bg-holder zoom mobile-only" style="background:url(../../../../assets/about-hisense/overview/m_csr_banner2.jpg) no-repeat;background-position: center;background-size: cover;height: 600px;">
                            <div class="img-overlay"></div>
                        </div>
                        <div class="two-box-info absolute-c-c trackin">
                            <h5>Social Welfare</h5>
                            <h3 class="hisenseBold text-center">We are committed to <span>caring for children</span></h3>
                        </div>
                    </div>
                </div>
            </section>

            <section class="text-box text-video-box trackin">
                <div class="container overview-container">
                    <div class="bg-overflow-h w-100">
                        <div class="text-box-with-image bg-holder zoom desktop-only" style="background:url(../../../../assets/about-hisense/overview/csr_banner3.jpg) no-repeat;background-position: center;background-size: cover;">
                            <div class="img-overlay"></div>
                        </div>
                        <div class="text-box-with-image bg-holder zoom mobile-only" style="background:url(../../../../assets/about-hisense/overview/m_csr_banner3.jpg) no-repeat;background-position: center;background-size: cover;">
                            <div class="img-overlay"></div>
                        </div>
                        <div class="two-box-info absolute-c-c trackin">
                            <h5>Education</h5>
                            <h3 class="hisenseBold text-center">We encouraged children to face life bravely and change their own fate by learning</h3>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>