.col2 {
    // padding: 1.25rem;
    background-color: #fff;
    // border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

input,
textarea,
select {
    padding: 4px 8px;
}

.form__group{
    flex: 1 0 25%;
}

select{
    width: 100%;
}

label {
    font-size: 14px;
    color: rgb(107, 107, 107) !important;
}

label,
h3 {
    white-space: nowrap;
}

.select-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.page_container{
    width: 80%;
}

.three-col{
    grid-template-columns: 1fr 1fr 1fr;
}

.mt-100{
    margin-top: 100px;
}

@media screen and (max-width:768px) {
    .page_container{
        width: 90%;
    }
    .select-container{
        grid-template-columns: 1fr;
        flex-direction: column !important;
    }
    .form__group{
        width: 100%;
        margin: auto;
        select{
            width: 100%;
        }
    }

    .mt-100{
        margin-top: 50px;
    }

    .three-col{
        grid-template-columns: 1fr;
    }
}

h3{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #000;
}