<div class="main-container">
    <div class="about-overview about-values">
        <section id="overview-silder" data-track="90" class="trackin" style="transform: translateY(90px);">
            <div class="text-box desktop-only trackin" data-track="90" style="transform: translateY(90px);">
                <div class="text-box-with-image"
                    style="background:url(https://global.hisense.com/dam/jcr:17a23e89-5397-4dfa-8845-5d0fd5561e52/values.jpg) no-repeat;background-position:center;background-size: cover;"
                    role="img" aria-label="life simpler">
                    <div class="img-overlay"></div>
                </div>

                <div class="two-box-info absolute-c-c trackin" data-track="90" style="transform: translateY(90px);">
                    <h1 class="hisenseBold text-center">Everything we do should <br class="m-none">make your <span>life
                            simpler</span></h1>
                </div>
            </div>

            <div class="text-box mobile-only trackin" data-track="90" style="transform: translateY(90px);">
                <div class="text-box-with-image"
                    style="background:url(https://global.hisense.com/dam/jcr:a82dcaa8-776d-4385-974f-a2ada72eb065/m_values.jpg) no-repeat;background-position:center;background-size: cover;"
                    role="img" aria-label="life simpler">
                    <div class="img-overlay"></div>
                </div>

                <div class="two-box-info absolute-c-c trackin" data-track="90" style="transform: translateY(90px);">
                    <h1 class="hisenseBold text-center">Everything we do should <br class="m-none">make your <span>life
                            simpler</span></h1>
                </div>
            </div>
        </section>
        <section class="text-center black" id="mission-vision">
            <h3 class="hisenseBold">Mission &amp; Vision</h3>
            <h4 class="hisenseBold">Vision</h4>
            <p class="hisenseLight">To be a century-old company, and to become the most reliable brand in the world.</p>
            <h4 class="hisenseBold">Mission</h4>
            <p class="hisenseLight">To pursue scientific and technological innovation, take the lead in the advanced
                manufacturing with intelligence as the core, and bring happiness to millions of families with
                high-quality products and services.</p>
        </section>
        <section id="our-core-value">
            <h3 class="hisenseBold black text-center">Our Core Value</h3>

            <div class="container">
                <div class="text-box desktop-only" data-track="90" style="transform: translateY(90px);">
                    <div class="text-box-with-image bg-holder zoom"
                        style="background:url(https://global.hisense.com/dam/jcr:a48c9ea5-2d10-4d58-8409-574ef33dc06d/integrity.png) no-repeat;background-position:center;background-size: cover;"
                        role="img" aria-label="">
                        <div class="img-overlay"></div>
                    </div>

                    <div class="two-box-info absolute-c-c" data-track="90" style="transform: translateY(90px);">
                        <h2 class="hisenseBold text-center">Integrity<span class="slide-in"></span></h2>
                    </div>
                </div>

                <div class="text-box mobile-only trackin" data-track="90" style="transform: translateY(90px);">
                    <div class="text-box-with-image bg-holder zoom"
                        style="background:url(https://global.hisense.com/dam/jcr:a48c9ea5-2d10-4d58-8409-574ef33dc06d/integrity.png) no-repeat;background-position:center;background-size: cover;"
                        role="img" aria-label="">
                        <div class="img-overlay"></div>
                    </div>

                    <div class="two-box-info absolute-c-c trackin" data-track="90" style="transform: translateY(90px);">
                        <h2 class="hisenseBold text-center">Integrity<span class="slide-in"></span></h2>
                    </div>
                </div>
                <div class="text-box desktop-only" data-track="90" style="transform: translateY(90px);">
                    <div class="text-box-with-image bg-holder zoom"
                        style="background:url(https://global.hisense.com/dam/jcr:2cafc900-b043-4338-9c1d-2eda982df7e4/innovation.jpg) no-repeat;background-position:center;background-size: cover;"
                        role="img" aria-label="">
                        <div class="img-overlay"></div>
                    </div>

                    <div class="two-box-info absolute-c-c" data-track="90" style="transform: translateY(90px);">
                        <h2 class="hisenseBold text-center">Innovation<span class="slide-in"></span></h2>
                    </div>
                </div>

                <div class="text-box mobile-only trackin" data-track="90" style="transform: translateY(90px);">
                    <div class="text-box-with-image bg-holder zoom"
                        style="background:url(https://global.hisense.com/dam/jcr:2cafc900-b043-4338-9c1d-2eda982df7e4/innovation.jpg) no-repeat;background-position:center;background-size: cover;"
                        role="img" aria-label="">
                        <div class="img-overlay"></div>
                    </div>

                    <div class="two-box-info absolute-c-c trackin" data-track="90" style="transform: translateY(90px);">
                        <h2 class="hisenseBold text-center">Innovation<span class="slide-in"></span></h2>
                    </div>
                </div>
                <div class="text-box desktop-only" data-track="90" style="transform: translateY(90px);">
                    <div class="text-box-with-image bg-holder zoom"
                        style="background:url(https://global.hisense.com/dam/jcr:3989417c-cc3e-43a5-9a4d-26762355daee/customer_focus.jpg) no-repeat;background-position:center;background-size: cover;"
                        role="img" aria-label="">
                        <div class="img-overlay"></div>
                    </div>

                    <div class="two-box-info absolute-c-c" data-track="90" style="transform: translateY(90px);">
                        <h2 class="hisenseBold text-center">Customer<br>Focus<span class="slide-in"></span></h2>
                    </div>
                </div>

                <div class="text-box mobile-only trackin" data-track="90" style="transform: translateY(90px);">
                    <div class="text-box-with-image bg-holder zoom"
                        style="background:url(https://global.hisense.com/dam/jcr:3989417c-cc3e-43a5-9a4d-26762355daee/customer_focus.jpg) no-repeat;background-position:center;background-size: cover;"
                        role="img" aria-label="">
                        <div class="img-overlay"></div>
                    </div>

                    <div class="two-box-info absolute-c-c trackin" data-track="90" style="transform: translateY(90px);">
                        <h2 class="hisenseBold text-center">Customer<br>Focus<span class="slide-in"></span></h2>
                    </div>
                </div>
                <div class="text-box desktop-only" data-track="90" style="transform: translateY(90px);">
                    <div class="text-box-with-image bg-holder zoom"
                        style="background:url(https://global.hisense.com/dam/jcr:e051c5b7-2d44-4354-aeff-c71a64482907/sustainability.jpg) no-repeat;background-position:center;background-size: cover;"
                        role="img" aria-label="">
                        <div class="img-overlay"></div>
                    </div>

                    <div class="two-box-info absolute-c-c" data-track="90" style="transform: translateY(90px);">
                        <h2 class="hisenseBold text-center">Sustainability<span class="slide-in"></span></h2>
                    </div>
                </div>

                <div class="text-box mobile-only trackin" data-track="90" style="transform: translateY(90px);">
                    <div class="text-box-with-image bg-holder zoom"
                        style="background:url(https://global.hisense.com/dam/jcr:e051c5b7-2d44-4354-aeff-c71a64482907/sustainability.jpg) no-repeat;background-position:center;background-size: cover;"
                        role="img" aria-label="">
                        <div class="img-overlay"></div>
                    </div>

                    <div class="two-box-info absolute-c-c trackin" data-track="90" style="transform: translateY(90px);">
                        <h2 class="hisenseBold text-center">Sustainability<span class="slide-in"></span></h2>
                    </div>
                </div>
            </div>

            <p class="our-core-value-desc black hisenseLight text-center">We’ve always adhered to the core values of
                Integrity, Innovation, Customer Focus and Sustainability: Attributing our sustainable and healthy
                development to upright cadres and good corporate culture, attaching importance to R&amp;D investment,
                prioritizing customer-centricity, and most importantly promoting precise urban governance and
                contributing to sustainable city development. </p>
        </section>
        <section class="text-box" data-track="90" style="transform: translateY(90px);">
            <div class="overview-container">
                <div class="bg-overflow-h desktop-only">
                    <div class="text-box-with-image bg-holder zoom"
                        style="background:url(https://global.hisense.com/dam/jcr:0c8e8d75-bdd0-4844-9635-0ef1cbb05ab4/corporate.png) no-repeat;background-position: center top;background-size: cover;"
                        role="img" aria-label="">
                        <div class="img-overlay"></div>
                    </div>

                    <div class="two-box-info absolute-c-c" data-track="90" style="transform: translateY(90px);">
                        <h3 class="hisenseBold text-center">
                            <p>Corporate Social <span>Responsibility</span></p>
                        </h3>
                        <a class="hisenseMedium nostyle btn_more"
                            href="https://global.hisense.com/about-hisense/csr">See More</a>
                    </div>
                </div>
                <div class="bg-overflow-h mobile-only">
                    <div class="text-box-with-image bg-holder zoom"
                        style="background:url(https://global.hisense.com/dam/jcr:fc196622-7162-49f6-8256-7522fa800637/corporate.png) no-repeat;background-position: center top;background-size: cover;"
                        role="img" aria-label="">
                        <div class="img-overlay"></div>
                    </div>

                    <div class="two-box-info absolute-c-c trackin" data-track="90" style="transform: translateY(90px);">
                        <h3 class="hisenseBold text-center">
                            <p>Corporate Social <span>Responsibility</span></p>
                        </h3>
                        <a class="hisenseMedium nostyle btn_more"
                            href="https://global.hisense.com/about-hisense/csr">See More</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>