<div class="page-wrapper">
    <div class="main-container">
        <div class="about-overview about-values">
            <section id="overview-silder" class="trackin overview-silder">
                <div class="text-box mt-0 trackin pos-relative">
                    <div class="text-box-with-image values">
                        <div class="img-overlay"></div>
                        <div class="mobile-only" src="assets/about-hisense/overview/m_values.jpg"
                            alt="Everything we do should make your life simpler"></div>
                        <div class="desktop-only" src="assets/about-hisense/overview/values.jpg"
                            alt="Everything we do should make your life simpler"></div>
                    </div>

                    <div class="two-box-info absolute-c-c trackin pos-abolute-center">
                        <h1 class="hisenseBold text-center col-white">
                            <p>Everything we do should make your <span>life simpler</span></p>
                        </h1>
                    </div>
                </div>
            </section>

            <section class="text-center black" id="mission-vision">
                <h3 class="hisenseBold">Mission &amp; Vision</h3>
                <h4 class="hisenseBold">Vision</h4>
                <p class="hisenseLight">To be a century-old company, and to become the most reliable brand in the world.
                </p>
                <h4 class="hisenseBold">Mission</h4>
                <p class="hisenseLight">To pursue scientific and technological innovation, take the lead in the advanced
                    manufacturing with intelligence as the core, and bring happiness to millions of families with
                    high-quality products and services.</p>
            </section>

            <section id="our-core-value">
                <h3 class="hisenseBold black text-center">Our Core Value</h3>

                <div class="container">
                    <div class="text-box pos-relative desktop-only trackin">
                        <div class="text-box-with-image bg-holder zoom"
                            style="background:url(../../../../assets/about-hisense/overview/integrity.png) no-repeat;background-position:center;background-size: cover;"
                            role="img" aria-label="">
                            <div class="img-overlay"></div>
                        </div>

                        <div class="two-box-info absolute-c-c trackin"
                        >
                            <h2 class="hisenseBold text-center">Integrity<span class="slide-in"></span></h2>
                        </div>
                    </div>

                    <div class="text-box pos-relative mobile-only trackin">
                        <div class="text-box-with-image bg-holder zoom"
                            style="background:url(../../../../assets/about-hisense/overview/integrity.png) no-repeat;background-position:center;background-size: cover;"
                            role="img" aria-label="">
                            <div class="img-overlay"></div>
                        </div>

                        <div class="two-box-info absolute-c-c trackin"
                        >
                            <h2 class="hisenseBold text-center">Integrity<span class="slide-in"></span></h2>
                        </div>
                    </div>
                    <div class="text-box pos-relative desktop-only trackin">
                        <div class="text-box-with-image bg-holder zoom"
                            style="background:url(../../../../assets/about-hisense/overview/innovation.jpg) no-repeat;background-position:center;background-size: cover;"
                            role="img" aria-label="">
                            <div class="img-overlay"></div>
                        </div>

                        <div class="two-box-info absolute-c-c trackin"
                        >
                            <h2 class="hisenseBold text-center">Innovation<span class="slide-in"></span></h2>
                        </div>
                    </div>

                    <div class="text-box pos-relative mobile-only trackin">
                        <div class="text-box-with-image bg-holder zoom"
                            style="background:url(../../../../assets/about-hisense/overview/innovation.jpg) no-repeat;background-position:center;background-size: cover;"
                            role="img" aria-label="">
                            <div class="img-overlay"></div>
                        </div>

                        <div class="two-box-info absolute-c-c trackin"
                        >
                            <h2 class="hisenseBold text-center">Innovation<span class="slide-in"></span></h2>
                        </div>
                    </div>
                    <div class="text-box desktop-only trackin pos-relative">
                        <div class="text-box-with-image bg-holder zoom"
                            style="background:url(../../../../assets/about-hisense/overview/customer_focus.jpg) no-repeat;background-position:center;background-size: cover;"
                            role="img" aria-label="">
                            <div class="img-overlay"></div>
                        </div>

                        <div class="two-box-info absolute-c-c">
                            <h2 class="hisenseBold text-center">Customer<br>Focus<span class="slide-in"></span></h2>
                        </div>
                    </div>

                    <div class="text-box mobile-only trackin pos-relative">
                        <div class="text-box-with-image bg-holder zoom"
                            style="background:url(../../../../assets/about-hisense/overview/customer_focus.jpg) no-repeat;background-position:center;background-size: cover;"
                            role="img" aria-label="">
                            <div class="img-overlay"></div>
                        </div>

                        <div class="two-box-info absolute-c-c trackin"
                        >
                            <h2 class="hisenseBold text-center">Customer<br>Focus<span class="slide-in"></span></h2>
                        </div>
                    </div>
                    <div class="text-box desktop-only trackin pos-relative">
                        <div class="text-box-with-image bg-holder zoom"
                            style="background:url(../../../../assets/about-hisense/overview/sustainability.jpg) no-repeat;background-position:center;background-size: cover;"
                            role="img" aria-label="">
                            <div class="img-overlay"></div>
                        </div>

                        <div class="two-box-info absolute-c-c">
                            <h2 class="hisenseBold text-center">Sustainability<span class="slide-in"></span></h2>
                        </div>
                    </div>

                    <div class="text-box mobile-only trackin pos-relative">
                        <div class="text-box-with-image bg-holder zoom"
                            style="background:url(../../../../assets/about-hisense/overview/sustainability.jpg) no-repeat;background-position:center;background-size: cover;"
                            role="img" aria-label="">
                            <div class="img-overlay"></div>
                        </div>

                        <div class="two-box-info absolute-c-c trackin"
                        >
                            <h2 class="hisenseBold text-center">Sustainability<span class="slide-in"></span></h2>
                        </div>
                    </div>
                </div>

                <p class="our-core-value-desc black hisenseLight text-center">We’ve always adhered to the core values of
                    Integrity, Innovation, Customer Focus and Sustainability: Attributing our sustainable and healthy
                    development to upright cadres and good corporate culture, attaching importance to R&amp;D
                    investment, prioritizing customer-centricity, and most importantly promoting precise urban
                    governance and contributing to sustainable city development. </p>
            </section>

            <section class="text-box">
                <div class="container overview-container">
                    <div class="bg-holder">
                        <div class="text-box-with-image overflow-h">
                            <div class="mobile-only zoom csr img" src="assets/about-hisense/overview/csr.jpg"
                                alt="Corporate Social Responsibility"></div>
                            <div class="desktop-only zoom m_csr img" src="assets/about-hisense/overview/m_csr.jpg"
                                alt="Corporate Social Responsibility"></div>
                        </div>


                        <div class="two-box-info absolute-c-c">
                            <div class="hisenseMedium">Corporate Social Responsibility</div>

                            <h2 class="hisenseBold text-center">
                                <p><span>Active</span> in social public welfare</p>
                            </h2>

                            <a class="hisenseMedium nostyle btn_more"
                                href="">See More</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>