<div class="page-wrapper">
    <div class="main-container">
        <div class="about-overview">
            <section id="overview-silder" class="trackin overview-silder">
                <div class="text-box mt-0 trackin pos-relative">
                    <div class="text-box-with-image in-love-with-tech">
                        <div class="img-overlay"></div>
                        <div class="mobile-only" src="assets/about-hisense/overview/m_slider.png"
                            alt="In Love with Technology"></div>
                        <div class="desktop-only" src="assets/about-hisense/overview/slider1.jpg"
                            alt="In Love with Technology"></div>
                    </div>

                    <div class="two-box-info absolute-c-c trackin pos-abolute-center">
                        <h1 class="hisenseBold text-center col-white nowrap">
                            <p>In <span>Love</span> with Technology</p>
                        </h1>
                    </div>
                </div>
            </section>
            <section class="text-box">
                <div class="container">
                    <div class="text-box-info text-center">
                        <h2 class="hisenseBold">Hisense, Your Reliable Partner</h2>
                        <p class="hisenseLight">Aspiring to become the most reliable brand in the world with more than a
                            century
                            of brand heritage, we aim to continually pursue scientific and technological innovation in
                            hopes to
                            improve overall quality of life and bring happiness to millions of families.</p>
                    </div>
                </div>
            </section>
            <section id="two-box-silders" class="">
                <div class="container overview-container">
                    <div class="left-container">
                        <div>
                            <div class="two-box-info-silders">
                                <div class="hisenseMedium">History</div>

                                <h3 class="hisenseBold">
                                    <p>Hisense has established 55 overseas companies and offices for
                                        localization operation</p>
                                </h3>

                                <a class="hisenseMedium overlay-gray"
                                     tabindex="0">See More</a>
                            </div>
                        </div>
                    </div>
                    <div class="right-container">
                        <div class="pos-relative h-100">
                            <img src="assets/about-hisense/overview/building.jpg" class="h-100" alt="building">
                            <h4 class="hisenseBold left-bottom">2016 - Present</h4>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-box">
                <div class="container overview-container">
                    <div class="bg-holder">
                        <div class="text-box-with-image overflow-h">
                            <div class="mobile-only zoom industrial img" src="assets/about-hisense/overview/industrial.jpg"
                                alt="Industrial Group"></div>
                            <div class="desktop-only zoom industrial-group img" src="assets/about-hisense/overview/industrial-group.png"
                                alt="Industrial Group"></div>
                        </div>


                        <div class="two-box-info absolute-c-c">
                            <div class="hisenseMedium">Industrial Group</div>

                            <h2 class="hisenseBold text-center">
                                <p>Industrial Sectors &amp; Companies</p>
                            </h2>

                            <a class="hisenseMedium btn_more">See More</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-box">
                <div class="container overview-container">
                    <div class="bg-holder">
                        <div class="text-box-with-image overflow-h">
                            <div class="mobile-only zoom img values" src="assets/about-hisense/overview/values.jpg"
                                alt="Industrial Group"></div>
                            <div class="desktop-only zoom img m_values" src="assets/about-hisense/overview/m_values.jpg"
                                alt="Industrial Group"></div>
                        </div>


                        <div class="two-box-info absolute-c-c">
                            <div class="hisenseMedium">Value</div>

                            <h2 class="hisenseBold text-center">
                                <p>Everything we do should make your <span>life simpler</span></p>
                            </h2>

                            <a class="hisenseMedium btn_more"
                                routerLink="/about-hisense/values">See More</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-box">
                <div class="container overview-container">
                    <div class="bg-holder">
                        <div class="text-box-with-image overflow-h">
                            <div class="mobile-only zoom csr img" src="assets/about-hisense/overview/csr.jpg"
                                alt="Corporate Social Responsibility"></div>
                            <div class="desktop-only zoom m_csr img" src="assets/about-hisense/overview/m_csr.jpg"
                                alt="Corporate Social Responsibility"></div>
                        </div>


                        <div class="two-box-info absolute-c-c">
                            <div class="hisenseMedium">Corporate Social Responsibility</div>

                            <h2 class="hisenseBold text-center">
                                <p><span>Active</span> in social public welfare</p>
                            </h2>

                            <a class="hisenseMedium btn_more"
                                >See More</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-box">
                <div class="container overview-container">
                    <div class="bg-holder">
                        <div class="text-box-with-image overflow-h">
                            <div class="mobile-only zoom technology img" src="assets/about-hisense/overview/technology.jpg"
                                alt="Technology"></div>
                            <div class="desktop-only zoom img m_technology" src="assets/about-hisense/overview/m_technology.jpg"
                                alt="Technology"></div>
                        </div>


                        <div class="two-box-info absolute-c-c">
                            <div class="hisenseMedium">Technology</div>

                            <h2 class="hisenseBold text-center">
                                <p><span>Innovation</span> through experience</p>
                            </h2>

                            <a class="hisenseMedium btn_more"
                                routerLink="/about-hisense/technology">See More</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-box">
                <div class="container overview-container">
                    <div class="bg-holder">
                        <div class="text-box-with-image overflow-h">
                            <div class="mobile-only zoom hisense-partnership-kv-mobile img" src="assets/about-hisense/overview/hisense-partnership-kv.jpg"
                                alt="hisense-partnership"></div>
                            <div class="desktop-only zoom hisense-partnership-kv img"
                                src="assets/about-hisense/overview/hisense-partnership-kv-mobile.jpg" alt="hisense-partnership"></div>
                        </div>


                        <div class="two-box-info absolute-c-c">
                            <h1 class="hisenseMedium">
                                <p><span>Hisense</span> Partnership</p>
                            </h1>

                            <a class="hisenseMedium btn_more"
                                >See More</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="green-text-box">
                <div class="container">
                    <div class="green-text-box-info">
                        <div class="hisenseBold">We’ll be happy to help you in any way we can</div>
                        <a class="hisenseMedium overlay-gray" routerLink="/contact-us">Get in touch</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>