@import "libs/styles/tv-series.scss";

.product-listing-tab-buttons{
    div{
        width: 100% !important;
        max-width: none !important;
        display: flex !important;
        justify-content: center !important;
    }
}

.product__category__title{
    margin: 20px;
    font-size: 2em;
}