<div class="page__cover page__section page__section_centered">
    <div class="page__cover-inner desktop-banner"
        style="background-color: rgb(32, 32, 32); transform: translateY(0px);"></div>
    <div class="page__cover-inner mobile-banner" style="background-color: rgb(32, 32, 32); transform: translateY(0px);">
    </div>
    <div class="page__container">
        <h1 class="page__title">TERMS AND CONDITIONS</h1>
    </div>
</div>

<div class="container">
    <div data-vc-full-width="true" data-vc-full-width-init="true"
        class="vc_row wpb_row vc_row-fluid vc_custom_1618307507469">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element  terms">
                        <div class="wpb_wrapper">
                            <p><span style="font-weight: 400;">By entering this competition, an entrant is indicating
                                    his/her agreement to be bound by these terms and conditions.</span></p>
                            <p><span style="font-weight: 400;">Entry into the competition will be deemed as acceptance
                                    of these terms and conditions.</span></p>
                            <ul>
                                <li><span style="font-weight: 400;">RT for a chance to win gift vouchers!</span></li>
                                <li><span style="font-weight: 400;"> Answer every question, and post it on your Twitter
                                        Account with Trending Hashtag, tag three friends, and tag us</span></li>
                                <li><span style="font-weight: 400;"> Follow our page Hisense India</span></li>
                                <li><span style="font-weight: 400;"> Only one entry will be accepted per person.
                                        Multiple entries from the same person will be disqualified.</span></li>
                                <li><span style="font-weight: 400;"> The prize is as stated and no cash or other
                                        alternatives will be offered. The prizes are not transferable. Prizes are
                                        subject to availability and we reserve the right to substitute any prize with
                                        another of equivalent value without giving notice.</span></li>
                                <li><span style="font-weight: 400;"> The winner will be notified by email and/or DM on
                                        Twitter and/or letter within 28 days of the closing date. The winner will only
                                        ever be contacted by Hisense team. If the winner cannot be contacted or do not
                                        claim the prize within 14 days of notification, we reserve the right to withdraw
                                        the prize from the winner and pick a replacement winner.</span></li>
                                <li><span style="font-weight: 400;"> The promoter will notify the winner when and where
                                        the prize can be collected / is delivered.</span></li>
                                <li><span style="font-weight: 400;"> The winner agrees to the use of his/her name and
                                        image in any publicity material, as well as their entry</span></li>
                                <li><span style="font-weight: 400;"> Hisense team will judge the competition and decide
                                        on the winner, which will be picked at random from all complete entries.</span>
                                </li>
                                <li><span style="font-weight: 400;"> Winner announcement will be within 2 weeks after
                                        all Trends over</span></li>
                                <li><span style="font-weight: 400;"> Hisense India team‘s decision as to those able to
                                        take part and selection of winners is final. No correspondence relating to the
                                        competition will be entered into.</span></li>
                                <li><span style="font-weight: 400;"> Hisense India also reserves the right to cancel the
                                        competition if circumstances arise outside of its control.</span></li>
                                <li><span style="font-weight: 400;"> TDS (If the winning amount is more than 10k TDS
                                        @30% on reward product shall be borne by respective winner for which they need
                                        to submit PAN Card copy, Name as per PAN and email id</span></li>
                                <li><span style="font-weight: 400;"> Under no circumstance shall Hisense be liable for
                                        any losses suffered whether directly or indirectly, that you or your friends,
                                        family may suffer due to usage of the Card and respective gifts claimed
                                        thereby.</span></li>
                                <li><span style="font-weight: 400;"> Hisense reserves the right to modify or withdraw
                                        the scheme at any time without notice or to provide any other gift of same
                                        value. Hisense decision regarding the same shall be final and binding.</span>
                                </li>
                                <li><span style="font-weight: 400;"> Taxes and Statutory levies as applicable shall be
                                        borne by the recipient of a Gift. The recipient shall pay the amount of
                                        applicable taxes and submit PAN Proof to Hisense India before claiming the
                                        gifts.</span></li>
                                <li><span style="font-weight: 400;"> Employees of Hisense India Pvt. Ltd. or its
                                        authorized dealers or franchise are not eligible for participation.</span></li>
                                <li><span style="font-weight: 400;"> The images shown in creative are for representation
                                        purposes only. Technology, features, size &amp;amp; specification may vary from
                                        model to model.</span></li>
                                <li><span style="font-weight: 400;"> By opting this offer, you consent to allow Hisense
                                        it’s gifting partners to collect, store or use personal data for the purposes of
                                        this contest,</span></li>
                                <li><span style="font-weight: 400;"> Hisense will not share or sell any personal
                                        information provided by means of this offer but may transfer/share the personal
                                        information to Hisense affiliated companies gifting partners for the purposes
                                        necessary to fulfil the offer.</span></li>
                                <li><span style="font-weight: 400;"> All disputes are subject to Jurisdiction of Court
                                        of New Delhi only.</span></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
</div>