<div class="breadcrumb__yellow__banner">
        <h1>TERMS AND CONDITIONS</h1>
</div>

<div class="container">
        <div class="col1">
                <div class="list-group" id="themeslist">
                        <a class="list-group-item list-group-item-action" *ngFor="let obj of metaData;let i = index"
                                [ngClass]="{'active': obj.tab_name  == currentTab}"
                                (click)="changeTab(obj,i)">{{obj.tab_name }}</a>
                </div>
        </div>
        <div class="col2">
                <ng-container>
                        <h1 *ngIf="metaData[currentIndex]?.heading">{{metaData[currentIndex].heading}}</h1>
                        <h2 *ngIf="metaData[currentIndex]?.sub_heading">{{metaData[currentIndex]?.sub_heading}}</h2>
                        <h3 *ngIf="metaData[currentIndex]?.date_range">({{metaData[currentIndex]?.date_range}})</h3>

                        <img *ngIf="metaData[currentIndex]?.content_image_full_url"
                                [src]="metaData[currentIndex]?.content_image_full_url" alt="content image"/>

                        <div class="terms__and__conditions__context__text">
                                <div style="word-break:break-all;" *ngIf="metaData[currentIndex]?.content_text"
                                        [innerHTML]="metaData[currentIndex]?.content_text"></div>
                        </div>
                </ng-container>
        </div>
</div>