.page__section {
    min-height: 50vh;
}

.page__cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #202020;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.page__section_centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.page__container {
    width: 100%;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.page__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.2;
    text-transform: uppercase;
}


.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

p {
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 400;
}


ul,
li {
    list-style: disc !important;
}


.container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
    margin-top: 2.5rem;
    padding-top: 100px;
    padding-bottom: 80px;
}

.list-group {
    display: flex;
    // flex-direction: column;
    text-align: center;
}


.col1 a {
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.col2 {
    padding: 1.25rem;
    background-color: #fff;
    // border: 1px solid rgba(0, 0, 0, 0.125);
    // border-radius: 0.25rem;
}

.active {
    color: #fff;
    // background-color: #2FA4E7 !important;
    background-color: #00B3ac !important;
    border-color: #00B3ac !important;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

// .vc_row {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 1.5rem;
// }

h1,
h2,
h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    width: 100%;
    // padding-bottom: 10px;
    font-size: 16px;
}

.page__section {
    min-height: 50vh;
}

.page__cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #202020;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.page__section_centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.page__container {
    width: 100%;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.page__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.2;
    text-transform: uppercase;
}

.container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
    margin-top: 2.5rem;
    padding-top: 100px;
    padding-bottom: 80px;
}

.list-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.col1 a {
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.col2 {
    padding: 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.active {
    color: #fff;
    // background-color: #2FA4E7 !important;
    background-color: #00B3ac !important;
    border-color: #00B3ac !important;
}


@media screen and (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .col1 {
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        /* width */
        &::-webkit-scrollbar {
            height: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    .list-group {
        flex-direction: row;
    }
}

p {
    margin: 100px !important;
}