<!-- style="opacity: 1; width: 12818px; transform: translate3d(-986px, 0px, 0px);" -->
<!-- style="width: 986px;" -->
<!-- <div class="main-visual slider slick-initialized slick-slider slick-dotted">
    <button class="slick-prev slick-arrow" aria-label="Previous" type="button">Previous</button>
    <div class="slick-list draggable" style="position: absolute;">
        <div class="slick-track">
            <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo_green.png" alt="Hisense">
                            <h2 style="color: #000">Chest Freezer</h2>
                            <p style="color: #000">198L Chest Freezer BD-199</p>

                            <a class="btn-hisense"
                                href="https://global.hisense.com/chest-freezer/198l-chest-freezer-bd-199"
                                target="_blank" rel="" tabindex="-1">Explore</a>

                        </div>
                        <img class="banner desktop-only" src="assets/images/198l-chest-freezer-bd-199.jpg"
                            alt="Hisense BD199 Chest Freezer">
                        <img class="banner mobile-only" src="assets/images/198l-chest-freezer-bd-199-m.jpg"
                            alt="Hisense BD199 Chest Freezer">
                    </div>
                </div>
            </div>
            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" role="tabpanel"
                id="slick-slide00" aria-describedby="slick-slide-control00">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo.png" alt="Hisense">
                            <h2 style="color: #fff">Laser TV</h2>
                            <p style="color: #fff">100L9G TRICHROMA LASER TV</p>

                            <a class="btn-hisense" href="https://global.hisense.com/laser-tv/100l9g-trichroma-laser-tv"
                                target="_blank" rel="" tabindex="0">Explore</a>

                        </div>
                        <img class="banner desktop-only" src="assets/images/hisense-100l9g-trichroma-laser-tv.jpg"
                            alt="100L9G TRICHROMA LASER TV">
                        <img class="banner mobile-only" src="assets/images/hisense-100l9g-trichroma-laser-tv-m.jpg"
                            alt="100L9G TRICHROMA LASER TV">
                    </div>
                </div>
            </div>
            <div class="slick-slide" data-slick-index="1" aria-hidden="true" role="tabpanel" id="slick-slide01"
                aria-describedby="slick-slide-control01" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo.png" alt="Hisense">
                            <h2 style="color: #FFF">TV Mini-LED</h2>
                            <p style="color: #FFF">Mini-LED ULED 8K TV U9G</p>

                            <a class="btn-hisense" href="https://global.hisense.com/tv/mini-led-uled-tv-u9g"
                                target="_self" rel="" tabindex="-1">Explore</a>

                            <a class="btn-hisense" href="https://global.hisense.com/tv-selection-guide/questionnaire"
                                target="_self" rel="" tabindex="-1">Your Perfect TV</a>
                        </div>
                        <img class="banner desktop-only" src="assets/images/hisense-mini-led-uled-tv-u9g.jpg"
                            alt="Hisense ULED TV U9G">
                        <img class="banner mobile-only" src="assets/images/hisense-mini-led-uled-tv-u9g-m.jpg"
                            alt="Hisense ULED TV U9G">
                    </div>
                </div>
            </div>
            <div class="slick-slide" data-slick-index="2" aria-hidden="true" role="tabpanel" id="slick-slide02"
                aria-describedby="slick-slide-control02" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo(1).png" alt="Hisense Logo">
                            <h2 style="color: #FFF">Mobile H-Series</h2>
                            <p style="color: #FFF">Hisense Infinity H60 5G</p>

                            <a class="btn-hisense" href="https://global.hisense.com/smartphone/hisense-infinity-h60-5g"
                                target="_self" rel="" tabindex="-1">Explore</a>

                        </div>
                        <img class="banner desktop-only" src="assets/images/homepage_hisense-infinity-h60-5g.webp"
                            alt="Hisense Infinity H60 5G">
                        <img class="banner mobile-only" src="assets/images/homepage_hisense-infinity-h60-5g_m.webp"
                            alt="Hisense Infinity H60 5G">
                    </div>
                </div>
            </div>
            <div class="slick-slide" data-slick-index="3" aria-hidden="true" role="tabpanel" id="slick-slide03"
                aria-describedby="slick-slide-control03" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content align-right">
                            <img src="assets/images/Hisense_logo_green.png" alt="Hisense">
                            <h2 style="color: #000">Soundbar</h2>
                            <p style="color: #000">3.1CH Dolby Atmos Soundbar with Wireless Subwoofer HS312</p>

                            <a class="btn-hisense"
                                href="https://global.hisense.com/soundbar/3-1ch-dolby-atmos-soundbar-with-wireless-subwoofer-hs312"
                                target="_blank" rel="" tabindex="-1">Explore</a>

                        </div>
                        <img class="banner desktop-only"
                            src="assets/images/3-1ch-dolby-atmos-soundbar-with-wireless-subwoofer-hs312.jpg"
                            alt="Hisense HS312 Soundbar">
                        <img class="banner mobile-only"
                            src="assets/images/3-1ch-dolby-atmos-soundbar-with-wireless-subwoofer-hs312-m.jpg"
                            alt="Hisense HS312 Soundbar">
                    </div>
                </div>
            </div>
            <div class="slick-slide" data-slick-index="4" aria-hidden="true" role="tabpanel" id="slick-slide04"
                aria-describedby="slick-slide-control04" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo_green.png" alt="Hisense">
                            <h2 style="color: #000">Refrigeration</h2>
                            <p style="color: #000">585L Cross Door Refrigerator RC-68WC</p>

                            <a class="btn-hisense"
                                href="https://global.hisense.com/refrigerator/585l-cross-door-refrigerator-rc-68wc"
                                target="_self" rel="" tabindex="-1">Explore</a>

                        </div>
                        <img class="banner desktop-only"
                            src="assets/images/hisense-585l-cross-door-refrigerator-rc-68wc.jpg"
                            alt="Hisense RC-68WC Refrigerator">
                        <img class="banner mobile-only"
                            src="assets/images/hisense-585l-cross-door-refrigerator-rc-68wc-m.jpg"
                            alt="Hisense RC-68WC Refrigerator">
                    </div>
                </div>
            </div>
            <div class="slick-slide" data-slick-index="5" aria-hidden="true" role="tabpanel" id="slick-slide05"
                aria-describedby="slick-slide-control05" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo_green.png" alt="Hisense">
                            <h2 style="color: #000">Chest Freezer</h2>
                            <p style="color: #000">198L Chest Freezer BD-199</p>

                            <a class="btn-hisense"
                                href="https://global.hisense.com/chest-freezer/198l-chest-freezer-bd-199"
                                target="_blank" rel="" tabindex="-1">Explore</a>

                        </div>
                        <img class="banner desktop-only" src="assets/images/198l-chest-freezer-bd-199.jpg"
                            alt="Hisense BD199 Chest Freezer">
                        <img class="banner mobile-only" src="assets/images/198l-chest-freezer-bd-199-m.jpg"
                            alt="Hisense BD199 Chest Freezer">
                    </div>
                </div>
            </div>
            <div class="slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo.png" alt="Hisense">
                            <h2 style="color: #fff">Laser TV</h2>
                            <p style="color: #fff">100L9G TRICHROMA LASER TV</p>

                            <a class="btn-hisense" href="https://global.hisense.com/laser-tv/100l9g-trichroma-laser-tv"
                                target="_blank" rel="" tabindex="-1">Explore</a>

                        </div>
                        <img class="banner desktop-only" src="assets/images/hisense-100l9g-trichroma-laser-tv.jpg"
                            alt="100L9G TRICHROMA LASER TV">
                        <img class="banner mobile-only" src="assets/images/hisense-100l9g-trichroma-laser-tv-m.jpg"
                            alt="100L9G TRICHROMA LASER TV">
                    </div>
                </div>
            </div>
            <div class="slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo.png" alt="Hisense">
                            <h2 style="color: #FFF">TV Mini-LED</h2>
                            <p style="color: #FFF">Mini-LED ULED 8K TV U9G</p>

                            <a class="btn-hisense" href="https://global.hisense.com/tv/mini-led-uled-tv-u9g"
                                target="_self" rel="" tabindex="-1">Explore</a>

                            <a class="btn-hisense" href="https://global.hisense.com/tv-selection-guide/questionnaire"
                                target="_self" rel="" tabindex="-1">Your Perfect TV</a>
                        </div>
                        <img class="banner desktop-only" src="assets/images/hisense-mini-led-uled-tv-u9g.jpg"
                            alt="Hisense ULED TV U9G">
                        <img class="banner mobile-only" src="assets/images/hisense-mini-led-uled-tv-u9g-m.jpg"
                            alt="Hisense ULED TV U9G">
                    </div>
                </div>
            </div>
            <div class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo(1).png" alt="Hisense Logo">
                            <h2 style="color: #FFF">Mobile H-Series</h2>
                            <p style="color: #FFF">Hisense Infinity H60 5G</p>

                            <a class="btn-hisense" href="https://global.hisense.com/smartphone/hisense-infinity-h60-5g"
                                target="_self" rel="" tabindex="-1">Explore</a>

                        </div>
                        <img class="banner desktop-only" src="assets/images/homepage_hisense-infinity-h60-5g.webp"
                            alt="Hisense Infinity H60 5G">
                        <img class="banner mobile-only" src="assets/images/homepage_hisense-infinity-h60-5g_m.webp"
                            alt="Hisense Infinity H60 5G">
                    </div>
                </div>
            </div>
            <div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content align-right">
                            <img src="assets/images/Hisense_logo_green.png" alt="Hisense">
                            <h2 style="color: #000">Soundbar</h2>
                            <p style="color: #000">3.1CH Dolby Atmos Soundbar with Wireless Subwoofer HS312</p>

                            <a class="btn-hisense"
                                href="https://global.hisense.com/soundbar/3-1ch-dolby-atmos-soundbar-with-wireless-subwoofer-hs312"
                                target="_blank" rel="" tabindex="-1">Explore</a>

                        </div>
                        <img class="banner desktop-only"
                            src="assets/images/3-1ch-dolby-atmos-soundbar-with-wireless-subwoofer-hs312.jpg"
                            alt="Hisense HS312 Soundbar">
                        <img class="banner mobile-only"
                            src="assets/images/3-1ch-dolby-atmos-soundbar-with-wireless-subwoofer-hs312-m.jpg"
                            alt="Hisense HS312 Soundbar">
                    </div>
                </div>
            </div>
            <div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo_green.png" alt="Hisense">
                            <h2 style="color: #000">Refrigeration</h2>
                            <p style="color: #000">585L Cross Door Refrigerator RC-68WC</p>

                            <a class="btn-hisense"
                                href="https://global.hisense.com/refrigerator/585l-cross-door-refrigerator-rc-68wc"
                                target="_self" rel="" tabindex="-1">Explore</a>

                        </div>
                        <img class="banner desktop-only"
                            src="assets/images/hisense-585l-cross-door-refrigerator-rc-68wc.jpg"
                            alt="Hisense RC-68WC Refrigerator">
                        <img class="banner mobile-only"
                            src="assets/images/hisense-585l-cross-door-refrigerator-rc-68wc-m.jpg"
                            alt="Hisense RC-68WC Refrigerator">
                    </div>
                </div>
            </div>
            <div class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" tabindex="-1">
                <div>
                    <div class="slide-item" style="width: 100%; display: inline-block;">
                        <div class="content">
                            <img src="assets/images/Hisense_logo_green.png" alt="Hisense">
                            <h2 style="color: #000">Chest Freezer</h2>
                            <p style="color: #000">198L Chest Freezer BD-199</p>

                            <a class="btn-hisense"
                                href="https://global.hisense.com/chest-freezer/198l-chest-freezer-bd-199"
                                target="_blank" rel="" tabindex="-1">Explore</a>

                        </div>
                        <img class="banner desktop-only" src="assets/images/198l-chest-freezer-bd-199.jpg"
                            alt="Hisense BD199 Chest Freezer">
                        <img class="banner mobile-only" src="assets/images/198l-chest-freezer-bd-199-m.jpg"
                            alt="Hisense BD199 Chest Freezer">
                    </div>
                </div>
            </div>
        </div>
    </div><button class="slick-next slick-arrow" aria-label="Next" type="button">Next</button>
    <ul class="slick-dots" role="tablist">
        <li class="slick-active" role="presentation">
            <button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00"
                aria-label="1 of 6" tabindex="0" aria-selected="true">1</button>
        </li>
        <li role="presentation" class="">
            <button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01"
                aria-label="2 of 6" tabindex="-1">2</button>
        </li>
        <li role="presentation" class="">
            <button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02"
                aria-label="3 of 6" tabindex="-1">3</button>
        </li>
        <li role="presentation" class="">
            <button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03"
                aria-label="4 of 6" tabindex="-1">4</button>
        </li>
        <li role="presentation" class="">
            <button type="button" role="tab" id="slick-slide-control04" aria-controls="slick-slide04"
                aria-label="5 of 6" tabindex="-1">5</button>
        </li>
        <li role="presentation" class="">
            <button type="button" role="tab" id="slick-slide-control05" aria-controls="slick-slide05"
                aria-label="6 of 6" tabindex="-1">6</button>
        </li>
    </ul>
</div> -->



<div class="main-visual slider slick-initialized slick-slider slick-dotted">
    <div class="slick-list draggable">
        <div class="slick-track">
            <swiper [slidesPerView]="1" [spaceBetween]="30" [loop]="true" [pagination]="{ clickable: true}"
                [navigation]="true" [speed]="1000" class="mySwiper"
                [autoplay]="{ delay: 3000, disableOnInteraction: false }">
                <ng-template swiperSlide>
                    <!-- slick-active -->
                    <div class="slick-slide slick-current" data-slick-index="0" aria-hidden="false" role="tabpanel"
                        id="slick-slide00" aria-describedby="slick-slide-control00">
                        <div>
                            <div class="slide-item" style="width: 100%; display: inline-block;">
                                <!-- <img class="banner" src="assets/home_page/A6H-desktop-banner.webp"> -->
                                <img class="banner" src="https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner.webp" class="ls-bg"
                                alt="" loading="lazy" [routerLink]="'/c/tv'"
                                srcset="https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner.webp 1920w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-300x141.webp 300w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-1024x480.webp 1024w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-768x360.webp 768w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-1536x720.webp 1536w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-500x234.webp 500w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-800x375.webp 800w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-1280x600.webp 1280w">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <!-- slick-active -->
                    <div class="slick-slide slick-current" data-slick-index="0" aria-hidden="false" role="tabpanel"
                        id="slick-slide00" aria-describedby="slick-slide-control00">
                        <div>
                            <div class="slide-item" style="width: 100%; display: inline-block;">
                                <!-- <img class="banner" src="assets/home_page/TVC-Master-banner-website-1280x600.jpg"> -->
                                <img class="banner" src="https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website.jpg"
                                class="ls-bg" alt="" loading="lazy" [routerLink]="'/c/air-conditioner/'"
                                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-1280x600.jpg 1280w">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <!-- slick-active -->
                    <div class="slick-slide slick-current" data-slick-index="0" aria-hidden="false" role="tabpanel"
                        id="slick-slide00" aria-describedby="slick-slide-control00">
                        <div>
                            <div class="slide-item" style="width: 100%; display: inline-block;">
                                <!-- <img class="banner" src="assets/home_page/Website-Banner-TV-tornado-1280x600.jpg"
                                    alt="100L9G TRICHROMA LASER TV"> -->
                                <img class="banner" src="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado.jpg"
                                class="ls-bg" alt="" loading="lazy" [routerLink]="'/c/tv/'"
                                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-1280x600.jpg 1280w">

                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <!-- slick-active -->
                    <div class="slick-slide slick-current" data-slick-index="0" aria-hidden="false" role="tabpanel"
                        id="slick-slide00" aria-describedby="slick-slide-control00">
                        <div>
                            <div class="slide-item" style="width: 100%; display: inline-block;">
                                <!-- <img class="banner" src="assets/home_page/Website-Banner-TV-vivid-1280x600.jpg"
                                    alt="100L9G TRICHROMA LASER TV"> -->
                                <img class="banner" src="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid.jpg" class="ls-bg"
                                alt="" loading="lazy" [routerLink]="'/c/tv/'"
                                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-1280x600.jpg 1280w">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <!-- slick-active -->
                    <div class="slick-slide slick-current" data-slick-index="0" aria-hidden="false" role="tabpanel"
                        id="slick-slide00" aria-describedby="slick-slide-control00">
                        <div>
                            <div class="slide-item" style="width: 100%; display: inline-block;">
                                <!-- <img class="banner" src="assets/home_page/Website-Banner-TV-Mega-1280x600.jpg"> -->
                                <img class="banner" src="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega.jpg" class="ls-bg"
                                alt="" loading="lazy" [routerLink]="'/c/tv/'"
                                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-1280x600.jpg 1280w">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <!-- slick-active -->
                    <div class="slick-slide slick-current" data-slick-index="0" aria-hidden="false" role="tabpanel"
                        id="slick-slide00" aria-describedby="slick-slide-control00">
                        <div>
                            <div class="slide-item" style="width: 100%; display: inline-block;">
                                <!-- <img class="banner" src="assets/home_page/Refrigerator-desktop-banner-new-1280x600.jpg"> -->
                                <img class="banner" src="https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new.jpg"
                                class="ls-bg" alt="" loading="lazy" [routerLink]="'/c/refrigerator/'"
                                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-1280x600.jpg 1280w">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <!-- slick-active -->
                    <div class="slick-slide slick-current" data-slick-index="0" aria-hidden="false" role="tabpanel"
                        id="slick-slide00" aria-describedby="slick-slide-control00">
                        <div>
                            <div class="slide-item" style="width: 100%; display: inline-block;">
                                <!-- <img class="banner" src="assets/home_page/HI-WB-01-04-1920X900-min-2-1280x600.jpg"
                                    alt="100L9G TRICHROMA LASER TV"> -->
                                <img class="banner" src="https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2.jpg"
                                class="ls-bg" alt="" loading="lazy" [routerLink]="'/c/washing-machine/'"
                                srcset="https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-1280x600.jpg 1280w">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <!-- slick-active -->
                    <div class="slick-slide slick-current" data-slick-index="0" aria-hidden="false" role="tabpanel"
                        id="slick-slide00" aria-describedby="slick-slide-control00">
                        <div>
                            <div class="slide-item" style="width: 100%; display: inline-block;">
                                <!-- <img class="banner" src="assets/home_page/Dishwasher-desktop-banner-new.jpg"
                                    alt="100L9G TRICHROMA LASER TV"> -->
                                <img class="banner" src="https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new.jpg"
                                class="ls-bg" alt="" loading="lazy" [routerLink]="'/c/dish-washer/'"
                                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-1280x600.jpg 1280w">
                                
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <!-- slick-active -->
                    <div class="slick-slide slick-current" data-slick-index="0" aria-hidden="false" role="tabpanel"
                        id="slick-slide00" aria-describedby="slick-slide-control00">
                        <div>
                            <div class="slide-item" style="width: 100%; display: inline-block;">
                                <img class="banner" src="https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new.jpg" class="ls-bg"
                                alt="" loading="lazy" [routerLink]="'/c/tv/'"
                                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-1280x600.jpg 1280w">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</div>


<!-- <div class="ls-slide-backgrounds">
    <div class="ls-wrapper ls-bg-outer" data-slide-index="1" style="z-index: 1; width: 2025px; height: 900px;">
        <div class="ls-wrapper ls-bg-wrap"
            style="background-color: transparent; display: none; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img
                src="https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner.webp" class="ls-bg"
                alt="" loading="lazy"
                srcset="https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner.webp 1920w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-300x141.webp 300w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-1024x480.webp 1024w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-768x360.webp 768w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-1536x720.webp 1536w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-500x234.webp 500w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-800x375.webp 800w, https://www.hisense-india.com/wp-content/uploads/2022/07/A6H-desktop-banner-1280x600.webp 1280w"
                style="margin: 0px; z-index: auto; width: 2025px; height: 949px; padding: 0px; border-width: 0px; border-radius: 0px; x: 0px; y: -24.5px; transform: translateX(0px) translateY(-24.5px); filter: none;"
                data-ls-slidein="1" data-ls-slideout="1"></div>
    </div>
    <div class="ls-wrapper ls-bg-outer" data-slide-index="2" style="z-index: 1; width: 1625px; height: 762px;">
        <div class="ls-wrapper ls-bg-wrap" style="background-color: transparent; display: none;"><img
                src="https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website.jpg"
                class="ls-bg" alt="" loading="lazy"
                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/TVC-Master-banner-website-1280x600.jpg 1280w"
                style="margin: 0px; z-index: auto; width: 1626px; height: 762px; padding: 0px; border-width: 0px; border-radius: 0px; x: -0.5px; y: 0px; transform: translateX(-0.5px) translateY(0px);"
                data-ls-slidein="2" data-ls-slideout="2"></div>
    </div>
    <div class="ls-wrapper ls-bg-outer" data-slide-index="3" style="z-index: 1; width: 1625px; height: 762px;">
        <div class="ls-wrapper ls-bg-wrap" style="background-color: transparent; display: none;"><img
                src="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado.jpg"
                class="ls-bg" alt="" loading="lazy"
                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-tornado-1280x600.jpg 1280w"
                style="margin: 0px; z-index: auto; width: 1626px; height: 762px; padding: 0px; border-width: 0px; border-radius: 0px; x: -0.5px; y: 0px; transform: translateX(-0.5px) translateY(0px);"
                data-ls-slidein="3" data-ls-slideout="3"></div>
    </div>
    <div class="ls-wrapper ls-bg-outer" data-slide-index="4" style="z-index: 1; width: 1625px; height: 762px;">
        <div class="ls-wrapper ls-bg-wrap" style="background-color: transparent; display: none;"><img
                src="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid.jpg" class="ls-bg"
                alt="" loading="lazy"
                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-vivid-1280x600.jpg 1280w"
                style="margin: 0px; z-index: auto; width: 1626px; height: 762px; padding: 0px; border-width: 0px; border-radius: 0px; x: -0.5px; y: 0px; transform: translateX(-0.5px) translateY(0px);"
                data-ls-slidein="4" data-ls-slideout="4"></div>
    </div>
    <div class="ls-wrapper ls-bg-outer" data-slide-index="5" style="z-index: 1; width: 1625px; height: 762px;">
        <div class="ls-wrapper ls-bg-wrap" style="background-color: transparent; display: block;"><img
                src="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega.jpg" class="ls-bg"
                alt="" loading="lazy"
                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/Website-Banner-TV-Mega-1280x600.jpg 1280w"
                style="margin: 0px; z-index: auto; width: 1626px; height: 762px; padding: 0px; border-width: 0px; border-radius: 0px; x: -0.5px; y: 0px; transform: translateX(-0.5px) translateY(0px);"
                data-ls-slidein="5" data-ls-slideout="5"></div>
    </div>
    <div class="ls-wrapper ls-bg-outer" data-slide-index="6" style="z-index: 1; width: 2025px; height: 900px;">
        <div class="ls-wrapper ls-bg-wrap" style="background-color: transparent; display: none;"><img
                src="https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new.jpg"
                class="ls-bg" alt="" loading="lazy"
                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/Refrigerator-desktop-banner-new-1280x600.jpg 1280w"
                style="margin: 0px; z-index: auto; width: 2025px; height: 949px; padding: 0px; border-width: 0px; border-radius: 0px; x: 0px; y: -24.5px; transform: translateX(0px) translateY(-24.5px);"
                data-ls-slidein="6" data-ls-slideout="6"></div>
    </div>
    <div class="ls-wrapper ls-bg-outer" data-slide-index="7" style="z-index: 1; width: 2025px; height: 900px;">
        <div class="ls-wrapper ls-bg-wrap" style="background-color: transparent; display: none;"><img
                src="https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2.jpg"
                class="ls-bg" alt="" loading="lazy"
                srcset="https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/01/HI-WB-01-04-1920X900-min-2-1280x600.jpg 1280w"
                style="margin: 0px; z-index: auto; width: 2025px; height: 949px; padding: 0px; border-width: 0px; border-radius: 0px; x: 0px; y: -24.5px; transform: translateX(0px) translateY(-24.5px);"
                data-ls-slidein="7" data-ls-slideout="7"></div>
    </div>
    <div class="ls-wrapper ls-bg-outer" data-slide-index="8" style="z-index: 1; width: 2025px; height: 900px;">
        <div class="ls-wrapper ls-bg-wrap" style="background-color: transparent; display: none;"><img
                src="https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new.jpg"
                class="ls-bg" alt="" loading="lazy"
                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/Dishwasher-desktop-banner-new-1280x600.jpg 1280w"
                style="margin: 0px; z-index: auto; width: 2025px; height: 949px; padding: 0px; border-width: 0px; border-radius: 0px; x: 0px; y: -49px; transform: translateX(0px) translateY(-49px);"
                data-ls-slidein="8" data-ls-slideout="8"></div>
    </div>
    <div class="ls-wrapper ls-bg-outer" data-slide-index="9" style="z-index: 1; width: 2025px; height: 900px;">
        <div class="ls-wrapper ls-bg-wrap" style="background-color: transparent; display: none;"><img
                src="https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new.jpg" class="ls-bg"
                alt="" loading="lazy"
                srcset="https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new.jpg 1920w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-300x141.jpg 300w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-1024x480.jpg 1024w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-768x360.jpg 768w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-1536x720.jpg 1536w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-500x234.jpg 500w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-800x375.jpg 800w, https://www.hisense-india.com/wp-content/uploads/2022/05/QLED-banner-desktop-new-1280x600.jpg 1280w"
                style="margin: 0px; z-index: auto; width: 2025px; height: 949px; padding: 0px; border-width: 0px; border-radius: 0px; x: 0px; y: -49px; transform: translateX(0px) translateY(-49px);"
                data-ls-slidein="9" data-ls-slideout="9"></div>
    </div>
</div> -->







<!-- <ng-template swiperSlide>
    <div class="slick-slide" data-slick-index="1" aria-hidden="true" role="tabpanel" id="slick-slide01"
        aria-describedby="slick-slide-control01" tabindex="-1">
        <div>
            <div class="slide-item" style="width: 100%; display: inline-block;">
                <div class="content">
                    <img src="assets/images/Hisense_logo.png" alt="Hisense">
                    <h2 style="color: #FFF">TV Mini-LED</h2>
                    <p style="color: #FFF">Mini-LED ULED 8K TV U9G</p>

                    <a class="btn-hisense" href="https://global.hisense.com/tv/mini-led-uled-tv-u9g"
                        target="_self" rel="" tabindex="-1">Explore</a>

                    <a class="btn-hisense"
                        href="https://global.hisense.com/tv-selection-guide/questionnaire"
                        target="_self" rel="" tabindex="-1">Your Perfect TV</a>
                </div>
                <img class="banner desktop-only" src="assets/images/hisense-mini-led-uled-tv-u9g.jpg"
                    alt="Hisense ULED TV U9G">
                <img class="banner mobile-only" src="assets/images/hisense-mini-led-uled-tv-u9g-m.jpg"
                    alt="Hisense ULED TV U9G">
            </div>
        </div>
    </div>
</ng-template>
<ng-template swiperSlide>
    <div class="slick-slide" data-slick-index="2" aria-hidden="true" role="tabpanel" id="slick-slide02"
        aria-describedby="slick-slide-control02" tabindex="-1">
        <div>
            <div class="slide-item" style="width: 100%; display: inline-block;">
                <div class="content">
                    <img src="assets/images/Hisense_logo(1).png" alt="Hisense Logo">
                    <h2 style="color: #FFF">Mobile H-Series</h2>
                    <p style="color: #FFF">Hisense Infinity H60 5G</p>

                    <a class="btn-hisense"
                        href="https://global.hisense.com/smartphone/hisense-infinity-h60-5g"
                        target="_self" rel="" tabindex="-1">Explore</a>

                </div>
                <img class="banner desktop-only"
                    src="assets/images/homepage_hisense-infinity-h60-5g.webp"
                    alt="Hisense Infinity H60 5G">
                <img class="banner mobile-only"
                    src="assets/images/homepage_hisense-infinity-h60-5g_m.webp"
                    alt="Hisense Infinity H60 5G">
            </div>
        </div>
    </div>
</ng-template>
<ng-template swiperSlide>
    <div class="slick-slide" data-slick-index="3" aria-hidden="true" role="tabpanel" id="slick-slide03"
        aria-describedby="slick-slide-control03" tabindex="-1">
        <div>
            <div class="slide-item" style="width: 100%; display: inline-block;">
                <div class="content align-right">
                    <img src="assets/images/Hisense_logo_green.png" alt="Hisense">
                    <h2 style="color: #000">Soundbar</h2>
                    <p style="color: #000">3.1CH Dolby Atmos Soundbar with Wireless Subwoofer HS312</p>

                    <a class="btn-hisense"
                        href="https://global.hisense.com/soundbar/3-1ch-dolby-atmos-soundbar-with-wireless-subwoofer-hs312"
                        target="_blank" rel="" tabindex="-1">Explore</a>

                </div>
                <img class="banner desktop-only"
                    src="assets/images/3-1ch-dolby-atmos-soundbar-with-wireless-subwoofer-hs312.jpg"
                    alt="Hisense HS312 Soundbar">
                <img class="banner mobile-only"
                    src="assets/images/3-1ch-dolby-atmos-soundbar-with-wireless-subwoofer-hs312-m.jpg"
                    alt="Hisense HS312 Soundbar">
            </div>
        </div>
    </div>
</ng-template>
<ng-template swiperSlide>
    <div class="slick-slide" data-slick-index="4" aria-hidden="true" role="tabpanel" id="slick-slide04"
        aria-describedby="slick-slide-control04" tabindex="-1">
        <div>
            <div class="slide-item" style="width: 100%; display: inline-block;">
                <div class="content">
                    <img src="assets/images/Hisense_logo_green.png" alt="Hisense">
                    <h2 style="color: #000">Refrigeration</h2>
                    <p style="color: #000">585L Cross Door Refrigerator RC-68WC</p>

                    <a class="btn-hisense"
                        href="https://global.hisense.com/refrigerator/585l-cross-door-refrigerator-rc-68wc"
                        target="_self" rel="" tabindex="-1">Explore</a>

                </div>
                <img class="banner desktop-only"
                    src="assets/images/hisense-585l-cross-door-refrigerator-rc-68wc.jpg"
                    alt="Hisense RC-68WC Refrigerator">
                <img class="banner mobile-only"
                    src="assets/images/hisense-585l-cross-door-refrigerator-rc-68wc-m.jpg"
                    alt="Hisense RC-68WC Refrigerator">
            </div>
        </div>
    </div>
</ng-template>
<ng-template swiperSlide>
    <div class="slick-slide" data-slick-index="5" aria-hidden="true" role="tabpanel" id="slick-slide05"
        aria-describedby="slick-slide-control05" tabindex="-1">
        <div>
            <div class="slide-item" style="width: 100%; display: inline-block;">
                <div class="content">
                    <img src="assets/images/Hisense_logo_green.png" alt="Hisense">
                    <h2 style="color: #000">Chest Freezer</h2>
                    <p style="color: #000">198L Chest Freezer BD-199</p>

                    <a class="btn-hisense"
                        href="https://global.hisense.com/chest-freezer/198l-chest-freezer-bd-199"
                        target="_blank" rel="" tabindex="-1">Explore</a>

                </div>
                <img class="banner desktop-only" src="assets/images/198l-chest-freezer-bd-199.jpg"
                    alt="Hisense BD199 Chest Freezer">
                <img class="banner mobile-only" src="assets/images/198l-chest-freezer-bd-199-m.jpg"
                    alt="Hisense BD199 Chest Freezer">
            </div>
        </div>
    </div>
</ng-template> -->