<div class="main-visual slider slick-initialized slick-slider slick-dotted">
    <div class="slick-list draggable">
        <div class="slick-track">
            <swiper [slidesPerView]="1" [spaceBetween]="30" [loop]="true" [pagination]="{ clickable: true}"
                [navigation]="true" [speed]="1000" class="mySwiper"
                [autoplay]="{ delay: 6000, disableOnInteraction: false }">
                <ng-container *ngFor="let slide of slides;let i = index">
                    <ng-template swiperSlide>
                        <div style="background-color: rgb(229, 226, 226);" class="slick-slide slick-current"
                            data-slick-index="i" aria-hidden="false" role="tabpanel"
                            aria-describedby="slick-slide-control00" style="width: 100%;">
                            <div>
                                <div class="slide-item" style="width: 100%; display: inline-block;">
                                    <a [routerLink]="slide.url">
                                        <picture>
                                            <source media="(min-width:768px)" [srcset]="slide.image">
                                            <img [src]="slide.mobile" style="width: 100%;" class="banner" class="ls-bg"
                                                loading="lazy">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </swiper>
        </div>
    </div>
</div>